<div class="incluso-app start-dashboard acerca-programa" id="site-wrapper">

  <div id="site-menu" >
  <!--<menu-component></menu-component>-->
  </div>

  </div>
  <div id="site-canvas">


<article class="blueprint">

  <section>
<div class="txt-renglon centered txt-bigger"></div> 
<div class="subtitle">Descrubre más</div>
<div class="txt-renglon txt-bigger">¡Descúbre, diviértete y gana estrellas!</div>  
</section>

<section class="txt-renglon distribuido">




<select name="filter" class="form-control form-control-lg theme-default" ng-model="filter">
  <option value="" disabled>Filtrar contenido por...</option>
  <option value="">Ver Todo</option>
  <option value="Obligatorio">Obligatorio</option> 
  <option value="file">Fotografías</option> 
  <option value="video">Videos</option> 
  <option value="page">Textos</option> 
  <option value="Frases">Frases</option> 
  <option value="url">Enlaces</option> 
</select>
</section>

<section class="wall">
<div class="part" ng-repeat="content in activities">
  <div ng-if="filter == content.activityType || !filter || filter == 'Obligatorio' && content.mandatory">


    <div ng-if="content.activityType == 'url'">
      <div class="author"><img src="assets/images/avatar.svg">
        <div>   
          Visita el sitio web!
        </div>
        <div ng-if="content.mandatory">*</div>
      </div>
    </div>
    <div ng-if="content.activityType == 'video' ">
      <div class="author"><img src="assets/images/avatar.svg">
        <div>   

          Video tutorial incluso
        </div>
        <div ng-if="content.mandatory">*</div>
      </div>
    </div>
    <div ng-if="content.activityType == 'page'">
      <div class="author"><img src="assets/images/avatar.svg">
        <div>   

          Texto
        </div>
        <div ng-if="content.mandatory">*</div>
      </div>
    </div>
    <div ng-if="content.activityType == 'file'">
      <div class="author"><img src="assets/images/avatar.svg">
        <div>   
          Fotografía
        </div>        
        <div ng-if="content.mandatory">*</div>
      </div>      
    </div>
  <div class="block">  
    <img ng-src="{{content.file.path}}">
    <div>
        <a ng-hide="content.isVideo" href={{content.url}} target="_blank">{{content.url}}</a>
        {{content.pageContent}}
    </div>
  </div>
</div>
</div>


</section>
<section>
<button class="btn btn-primary btn-lg btn-cnt" type="button" ng-click="back()">Regresar</button>
<div class="txt-renglon centered txt-bigger"></div> 
</section>

  </article>

  <footer class="footer">
    <ul class="block-list">
      <li><a href="" class="centered txt-title">Preguntas Frecuentes</a></li>
      <li><a href="" class="centered txt-title">Ayuda y Soporte</a></li>
    </ul>
    <a href="#navBar" class="to-top"><i class="icomoon icon-double-arrow-up"></i><br/>SUBIR</a>
  </footer>
    </div>
    </div>
  <!-- html -->


