<!DOCTYPE html>
<html id="ng-app" ng-app="contactmaster" xmlns:ng="http://angularjs.org" class="incluso-app">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <title>Incluso Digital</title>
        <link rel="stylesheet" href="assets/styles/angular/mobile-angular-ui-hover.min.css" />
        <link rel="stylesheet" href="assets/styles/angular/mobile-angular-ui-base.min.css" />
        <link rel="stylesheet" href="assets/styles/angular/mobile-angular-ui-desktop.min.css" />
        <link href="assets/styles/dev-css.css" rel='stylesheet' type='text/css' />
        <link href="assets/styles/jquery-ui.css" rel="stylesheet" type="text/css">
        <style>
            body:after {
                content: url(assets/images/img-ship-02.png)
                url(assets/images/bg-topusers-pre.png)
                url(assets/images/bg-badges-pre.png)
                url(assets/images/bg-badges-post.png)
                url(assets/images/bg-stars-01.png)
                url(assets/images/ptr-video-0001.jpg)
                url(assets/images/bg-ilustration-launchpad.png)
                url(assets/images/bg-stars-02.png)
                url(assets/images/bg-stars-01.png)
                url(assets/images/img-profile-spaceship-dashboard-top.png)
                url(assets/images/img-profile-spaceship-dashboard-middle.png)
                url(assets/images/img-profile-spaceship-dashboard-bottom.png)
                url(assets/images/bg-xs-profile-sky.jpg);
                display: none;
            }
            [ng-cloak]{display: none !important; height:0;}
        </style>
    </head>

    <body ng-controller="homeCtrl" class="incluso-app ng-scope has-sidebar-left" ng-class="{'sidebar-left-active': sidebar}">
        <!-- preloader -->
        <div class="app-preloader" id="spinner" ng-show="loading">
            <div class="spinner spinner-circle"></div>
        </div> 
        <!-- Main menu / sidebar -->
        <menu-component></menu-component>
        

        <!-- app wrapper -->
        <div class="app">
            <a class="anchor-top" id="top"></a>
            
            <!-- toolbar for private views -->
            <toolbar-component></toolbar-component>
            
            

            <!-- App Body -->
            <div class="app-body" ng-click="sideToggle('outside')">
                <div class="app-content">                    
                    <menu visible="leftVisible" alignment="left">
                        <div class="navbar" ng-class="{'navbar-blue': navbarBlue, 'navbar-orange': navbarOrange}">                            
                                <h1 class="navbar-heading"><a><i class="icomoon icon-cross white"></i> Menu</a></h1>                              
                        </div>
                        
                        <!--<menu-item hash="ProgramaDashboard"><i class="icomoon icon-home"></i> Inicio</menu-item>
                        <menu-item hash="AcercaPrograma"><i class="icomoon icon-video-file"></i>Acerca de Incluso</menu-item>
                        <menu-item ng-click="playVideo('assets/media', 'TutorialTest2.mp4')"><i class="icomoon icon-video-file">Guía de uso</menu-item> -->
                         <ul class="nav" ng-controller="menuController">
                            <li><a ng-click="navigateTo('ProgramaDashboard', 'Mision Incluso', 'sideToggle', 'navbarorange')"><i class="icomoon icon-home"></i> Inicio</a></li>
                            <li><a ng-click="navigateTo('AcercaPrograma', 'Acerca del Programa', 'sideToggle', 'navbarorange')"><i class="icomoon icon-video-file"></i> Acerca de Incluso</a></li>
                            <!--<li><a ng-click="navigateTo('Tutorial','Guia de Uso', 'sideToggle', 'navbarorange')"><i class="icomoon icon-video-file"></i> Guía de uso</a></li> -->
                            <li><a ng-click="playVideo('assets/media', 'TutorialTest2.mp4')"><i class="icomoon icon-video-file"></i> Guía de uso </a></li>
                            <li>
                        
                            <<li>
                                <i class="icomoon icon-arrow fl-right white pointer" ></i>
                                <a class="menu-blue accsub" data-id="0">
                                  <i class="icomoon icon-spaceship">
                                      <span class="path1"></span>
                                      <span class="path2"></span>
                                      <span class="path3"></span>        
                                  </i>
                                  Zona de Vuelo
                                </a>
                             
                            <div class="submenu" id="sub0">
                                <ul>
                                    <li>Exploración inicial</li> 
                                    <li><a ng-click="navigateTo('/ZonaDeVuelo/ExploracionInicial/zv_exploracionInicial','Exploración inicial', 'sideToggle', 'navbarorange')">Exploración inicial</a></li>
                                </ul>
                                <ul>
                                  <li>Cuarto de recursos</li>
                                  <li><a ng-click="navigateTo('/ZonaDeVuelo/CuartoDeRecursos/FuenteDeEnergia/zv_cuartoderecursos_fuentedeenergia','Descubre más', 'sideToggle', 'navbarorange')">Fuente de energía</a></li>
                                </ul>
                                <ul>
                                    <li>Conócete</li>
                                    <li><a ng-click="navigateTo('/ZonaDeVuelo/Conocete/FuenteDeEnergia/zv_conocete_fuentedeenergia','Descubre más', 'sideToggle', 'navbarblue')">Fuente de energía</a></li>
                                    <li><a hash="/ZonaDeVuelo/Conocete/RetoMultiple/zv_conocete_retomultiple">Reto múltiple </a></li>
                                    <li><a ng-click="navigateTo('/ZonaDeVuelo/Conocete/PuntoDeEncuentro/Topicos/zv_puntodeencuentro','Punto de encuentro', 'sideToggle', 'navbarorange')">Punto de encuentro </a></li>
                                    <li><a ng-click="navigateTo('/ZonaDeVuelo/Conocete/ZonaDeContacto','Zona de contacto', 'sideToggle', 'navbarorange')">Zona de contacto</a></li>
                                </ul>
                                
                                <ul>
                                    <li>Mis sueños </li>
                                    <li><a ng-click="navigateTo('/ZonaDeVuelo/MisSuenos/FuenteDeEnergia/zv_missuenos_fuentedeenergia','Descubre más', 'sideToggle', 'navbarblue')">Fuente de energía</a></li>
                                    <li><a ng-click="navigateTo('/ZonaDeVuelo/MisSuenos/MisGustos/zv_missuenos_misgustos','Mis gustos', 'sideToggle', 'navbarorange')">Mis gustos</a></li>
                                    <li><a ng-click="navigateTo('/ZonaDeVuelo/MisSuenos/MisCualidades/zv_missuenos_miscualidades','Mis cualidades', 'sideToggle', 'navbarorange')">Mis Cualidades</a></li>
                                    <li><a ng-click="navigateTo('/ZonaDeVuelo/MisSuenos/Suena/zv_missuenos_suena','Sueña', 'sideToggle', 'navbarorange')">Sueña</a></li>
                                    <li><a ng-click="navigateTo('/ZonaDeVuelo/MisSuenos/PuntosDeEncuentro/Topicos/zv_missuenos_puntosdeencuentro','Punto de encuentro', 'sideToggle', 'navbarorange')">Punto de encuentro </a></li>
                                </ul>
                                <ul>
                                    <li>Cabina de soporte</li>
                                    <li><a ng-click="navigateTo('/ZonaDeVuelo/CabinaDeSoporte/zv_cabinadesoporte_chat','Reto múltiple', 'sideToggle', 'navbarorange')">Chat</a></li>
                                    
                                    <!--<li><a  ng-href="./Templates/Programa/forocom.shtml"> Foro común</a></li>
                                </ul>
                                <ul>
                                    <li>Exploración final</li> 
                                    <li><a ng-click="navigateTo('/ZonaDeVuelo/ExploracionFinal/zv_exploracionfinal','Exploración final', 'sideToggle', 'navbarorange')">Exploración final</a></li>
                                </ul>
                            </div>
                                <!--<menu>
                                    <menu-item-title>Exploración inicial</menu-item-title> 
                                    <menu-item hash="/ZonaDeVuelo/ExploracionInicial/zv_exploracionInicial">Exploración inicial</menu-item>
                                
                                    <menu-item-title>Cuarto de recursos</menu-item-title>
                                    <menu-item hash="/ZonaDeVuelo/CuartoDeRecursos/FuenteDeEnergia/zv_cuartoderecursos_fuentedeenergia">Fuente de energía</menu-item>
                                
                                    <menu-item-title>Conócete</menu-item-title>
                                    <menu-item hash="/ZonaDeVuelo/Conocete/FuenteDeEnergia/zv_conocete_fuentedeenergia">Fuente de energía</menu-item>
                                    <menu-item hash="/ZonaDeVuelo/Conocete/RetoMultiple/zv_conocete_retomultiple">Reto múltiple</menu-item>
                                    <menu-item hash="/ZonaDeVuelo/Conocete/PuntoDeEncuentro/Topicos/zv_puntodeencuentro">Punto de encuentro</menu-item>
                                    <menu-item hash="/ZonaDeVuelo/Conocete/ZonaDeContacto">Zona de contacto</menu-item>
                                
                                
                                    <menu-item-title>Mis sueños </menu-item-title>
                                    <menu-item hash="/ZonaDeVuelo/MisSuenos/FuenteDeEnergia/zv_missuenos_fuentedeenergia">Fuente de energía</menu-item>
                                    <menu-item hash="/ZonaDeVuelo/MisSuenos/MisGustos/zv_missuenos_misgustos">Mis gustos</menu-item>
                                    <menu-item hash="/ZonaDeVuelo/MisSuenos/MisCualidades/zv_missuenos_miscualidades">Mis Cualidades</menu-item>
                                    <menu-item hash="/ZonaDeVuelo/MisSuenos/Suena/zv_missuenos_suena">Sueña</menu-item>
                                    <menu-item hash="/ZonaDeVuelo/MisSuenos/PuntosDeEncuentro/Topicos/zv_missuenos_puntosdeencuentro">Punto de encuentro</menu-item>
                                
                                    <menu-item-title>Cabina de soporte</menu-item-title>
                                    <menu-item hash="/ZonaDeVuelo/CabinaDeSoporte/zv_cabinadesoporte_chat">Chat</menu-item>
                                </menu>
                                <!--<submenu id="sub0">
            
                                    <submenu-item-title>Exploración inicial</submenu-item-title> 
                                    <submenu-item hash="/ZonaDeVuelo/ExploracionInicial/zv_exploracionInicial">Exploración inicial</submenu-item>
                                
                                    <submenu-item-title>Cuarto de recursos</submenu-item-title>
                                    <submenu-item hash="/ZonaDeVuelo/CuartoDeRecursos/FuenteDeEnergia/zv_cuartoderecursos_fuentedeenergia">Fuente de energía</submenu-item>
                                
                                    <submenu-item-title>Conócete</submenu-item-title>
                                    <submenu-item hash="/ZonaDeVuelo/Conocete/FuenteDeEnergia/zv_conocete_fuentedeenergia">Fuente de energía</submenu-item>
                                    <submenu-item hash="/ZonaDeVuelo/Conocete/RetoMultiple/zv_conocete_retomultiple">Reto múltiple</submenu-item>
                                    <submenu-item hash="/ZonaDeVuelo/Conocete/PuntoDeEncuentro/Topicos/zv_puntodeencuentro">Punto de encuentro</submenu-item>
                                    <submenu-item hash="/ZonaDeVuelo/Conocete/ZonaDeContacto">Zona de contacto</submenu-item>
                                
                                
                                    <submenu-item-title>Mis sueños </submenu-item-title>
                                    <submenu-item hash="/ZonaDeVuelo/MisSuenos/FuenteDeEnergia/zv_missuenos_fuentedeenergia">Fuente de energía</submenu-item>
                                    <submenu-item hash="/ZonaDeVuelo/MisSuenos/MisGustos/zv_missuenos_misgustos">Mis gustos</submenu-item>
                                    <submenu-item hash="/ZonaDeVuelo/MisSuenos/MisCualidades/zv_missuenos_miscualidades">Mis Cualidades</submenu-item>
                                    <submenu-item hash="/ZonaDeVuelo/MisSuenos/Suena/zv_missuenos_suena">Sueña</submenu-item>
                                    <submenu-item hash="/ZonaDeVuelo/MisSuenos/PuntosDeEncuentro/Topicos/zv_missuenos_puntosdeencuentro">Punto de encuentro</submenu-item>
                                
                                    <submenu-item-title>Cabina de soporte</submenu-item-title>
                                    <submenu-item hash="/ZonaDeVuelo/CabinaDeSoporte/zv_cabinadesoporte_chat">Chat</submenu-item>
                                    
                                    <!--<li><a  ng-href="./Templates/Programa/forocom.shtml"> Foro común</a></li>
                                
                                    <submenu-item-title>Exploración final</submenu-item-title> 
                                    <submenu-item hash="/ZonaDeVuelo/ExploracionFinal/zv_exploracionfinal">Exploración final</submenu-item>
                                </submenu>-->
                            </li>
                        </ul>
                    </menu>
                    <button ng-click="showLeft($event)">Show Left Menu!</button>
                    <ng-view></ng-view>
                </div>
            </div>
            <footer-component></footer-component>
        </div><!-- ~ .app -->
 
        <script src="Scripts/jquery-2.1.4.min.js"></script>    
        <script src="Scripts/Plugins/jquery-ui.js"></script>
        <script src="Scripts/Plugins/underscore-min.js"></script>
        <script src="Scripts/backbone.js"></script>
        <script src="Scripts/backbone_offline.js"></script>

        <script src="Scripts/angular-ui/angular.min.js"></script>
        <script src="Scripts/angular-route.js"></script>
        <script src="Scripts/app/module.js"></script>

        <script src="Scripts/angular-sanitize.js"></script>
        <script src="Scripts/angular-resource.js"></script>
        <script src="Scripts/angular-ui/ui-bootstrap.js"></script>
        <script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script> 
        <script src="Scripts/moment.js"></script>
        <script src="Scripts/owl.carousel.min.js"></script>
        <script src="Scripts/i18n/angular-locale_es-mx.js"></script>

        <script src="Scripts/angular-ui/compoenents/sidebars.js"></script>
        <script src="Scripts/utils.js"></script>
        <script src="Scripts/global.js"></script>

    
        <script src="Scripts/app/shared/services/moodleServices.js"></script>
        <script src="Scripts/app/models/Profile.js"></script>
        <script src="Scripts/app/models/Dashboard.js"></script>
        <script src="Scripts/app/models/Course.js"></script>
        <script src="Scripts/app/models/Courses.js"></script>
        <script src="Scripts/app/shared/controllers/navigation.js"></script>
        <script src="Scripts/app/home/controllers/home.js"></script>
        <script src="Scripts/app/public/controllers/login.js"></script>
        <script src="Scripts/app/public/controllers/register.js"></script>
        <script src="Scripts/app/public/controllers/recoverPassword.js"></script>
        <script src="Scripts/app/programa/controllers/dashboard.js"></script>
        <script src="Scripts/app/programa/controllers/dashboard.etapa.js"></script>
        <script src="Scripts/app/programa/controllers/profile.js"></script>
        <script src="Scripts/app/programa/controllers/foro.js"></script>

        <script src="Scripts/app/programa/controllers/acercaPrograma.js"></script>
        <script src="Scripts/app/programa/controllers/MyInterests.js"></script>
        <script src="Scripts/app/programa/controllers/MyStrengths.js"></script> 
        <script src="Scripts/app/programa/controllers/HallOfFame.js"></script> 
        <script src="Scripts/app/programa/controllers/PrivacyNotice.js"></script> 
        <script src="Scripts/app/programa/controllers/TermsOfUse.js"></script>
        <script src="Scripts/app/programa/controllers/ExplorationInitial.js"></script> 
        <script src="Scripts/app/programa/controllers/ExplorationFinal.js"></script> 
        <script src="Scripts/app/programa/controllers/HelpAndSupport.js"></script> 
        <script src="Scripts/app/programa/controllers/Alerts.js"></script>
        <script src="Scripts/app/juegos/GameController.js"></script> 
          
        <script src="Scripts/app/programa/controllers/stageDashboardController.js"></script>   
        <script src="Scripts/app/programa/controllers/programaChatController.js"></script>
        <script src="Scripts/app/programa/controllers/programaDashboardController.js"></script>
        <script src="Scripts/app/programa/controllers/programaLeaderBoard.js"></script>
        

        <script src="Scripts/app/programa/controllers/programaNotificationController.js"></script>
        <script src="Scripts/app/programa/controllers/stageGameRetoMultipleController.js"></script>
        <script src="Scripts/app/programa/controllers/stageGameRetoMultipleExternalAppController.js"></script>
        <script src="Scripts/app/programa/controllers/stageGameRetoMultipleResultsController.js"></script>
        <script src="Scripts/app/programa/controllers/stageChatController.js"></script>
        <script src="Scripts/app/programa/controllers/stageContentsController.js"></script>
        <script src="Scripts/app/programa/controllers/stageDashboardController.js"></script>
        <script src="Scripts/app/programa/controllers/stageForumController.js"></script>
        <script src="Scripts/app/programa/controllers/stageForumCommentsController.js"></script>
        <script src="Scripts/app/programa/controllers/stageMessageController.js"></script>
        <script src="Scripts/app/programa/controllers/stageQuizController.js"></script>
        <script src="Scripts/app/programa/controllers/tutorial.js"></script>
        <script src="Scripts/app/juegos/avatarController.js"></script>

        <script src="Scripts/cordova.js"></script> 
    </body>
</html>
