<div class="incluso-app start-dashboard acerca-programa" id="site-wrapper">
  <div id="site-menu" >
	<menu-component></menu-component>
  </div>
  <div id="site-canvas">

    <nav ng-controller="navController">
      <div class="navbar" id="navBar">
        <div class="container-fluid">
          
          <div class="row">

            <div class="navbar-assets">
              <h1 class="navbar-heading"><a data-transition="ease" id="menuton"><i class="icomoon icon-more-options"></i> Misión Incluso</a></h1>
              <ul class="navbar-tools">
                <li class="contribute">
                  <a href="">
                    <i class="icomoon icon-edit"></i>
                  </a>
                </li>
                <li class="notifications">
                  <a href="">
                    <i class="icomoon icon-antena"></i>
                  </a>
                </li>
                <li class="chat">
                  <a href="">
                    <i class="icomoon icon-chat"></i>
                  </a>
                </li>
                <li class="profile">
                  <a href="" ng-href="#/Perfil/">
                    <i class="icomoon icon-emoticon-smile"></i>
                  </a>
                </li>                 
              </ul>
            </div> 
          </div>
        </div>
      </div> <!-- /.container-fluid -->
    </nav>
    <article>
      <div class="container">

        <section class="component">
          <h3>Acerca del Programa</h3>
          <div class="stage perform">
            <figure class="player">
               <img src="assets/images/ptr-video-0001.jpg" alt="video" /> 
            </figure>
          </div>
		 
        </section>
        <section class="component">
         <p>
            Utilizamos la metodología de la
            educación experiencial como un
            medio eficaz para el aprendizaje y la
            aplicación de los conceptos recibidos.
          </p>
          <p>
              Utilizamos la metodología de la
              educación experiencial como un
              medio eficaz para el aprendizaje y la
              aplicación de los conceptos recibidos.
          </p>
          <p>
            <a href="www.incluso.com.mx">www.incluso.com.mx</a>
          </p>
         
          <div class="row">
              <div class="col-xs-12">
                <!--<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="back()">Regresar</button>-->
              </div>
          </div> 
       </section>

      </div> <!-- /.container -->

      <footer class="pages footer">
        <ul class="block-list">
          <li><a href="" class="centered txt-title">Preguntas Frecuentes</a></li>
          <li><a href="" class="centered txt-title">Ayuda y Soporte</a></li>
        </ul>
        <a class="to-top" ng-click="scrollToTop();"><i class="icomoon icon-double-arrow-up"></i><br/>SUBIR</a>
      </footer>

    </article>

  </div>
</div>
  

