<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Incluso Digital</title>
  <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../../assets/styles/dev-css.css">
	
  <script type="text/javascript" src="../../Scripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="../../Scripts/bootstrap-3.3.2.js"></script>
  <script type="text/javascript" src="../../Scripts/angular.js"></script>
  <script type="text/javascript" src="../../Scripts/owl.carousel.min.js"></script>
</head>
<body ng-app>
    <div class="incluso-app notif-dashboard" id="site-wrapper">
        <div id="site-menu" >
            <!--#include file="menu.html" -->
        </div>
        <div id="site-canvas">
            <article class="starway">
                <section class="part inbloq">
                    <div><i class="icomoon 	icon-earned-stars fl-left txt-bigger"></i>{{notification.notificationTitle}}</div><hr>
                    <div>{{notification.notificationDetail}}</div>
                </section>
                <div><img src="../../assets/images/img-lines-ftr.png"></div>	
            </article>
            <footer class="footer">
                <ul class="block-list">
                    <li><a href="" class="centered txt-title">Preguntas Frecuentes</a></li>
                    <li><a href="" class="centered txt-title">Ayuda y Soporte</a></li>
                </ul>
                <a href="#navBar" class="to-top"><i class="icomoon icon-double-arrow-up"></i><br/>SUBIR</a>
            </footer>
        </div>
	</div>
</body>
</html>
