<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Incluso Digital</title>
  <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" type="text/css" href="assets/styles/bootstrap.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/styles/css.css"> -->
  <link rel="stylesheet" type="text/css" href="../../assets/styles/dev-css.css">
	
  <script type="text/javascript" src="../../Scripts/jquery-1.11.2.js"></script>
  <script type="text/javascript" src="../../Scripts/bootstrap-3.3.2.js"></script>
  <script type="text/javascript" src="../../Scripts/angular.js"></script>
</head>
<body class="incluso-app step-dashboard" ng-app>

  <div class="navbar navbar-step" id="navBar">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navigation">
          <span class="sr-only">Toggle navigation</span>
          <i class="icomoon icon-more-options"></i>
        </button>

        <div class="navbar-assets">
          <h1 class="navbar-heading">Estación: Conócete</h1>
          <ul class="navbar-tools">
            <li class="contribute">
              <a href="">
                <i class="icomoon icon-edit"></i>
              </a>
            </li>
            <li class="notifications">
              <a href="">
                <i class="icomoon icon-antena"></i>
              </a>
            </li>
            <li class="chat">
              <a href="">
                <i class="icomoon icon-chat"></i>
              </a>
            </li>
            <li class="profile">
              <a href="">
                <i class="icomoon icon-emoticon-smile"></i>
              </a>
            </li>                 
          </ul>
        </div>         
      </div>


    </div><!-- /.container-fluid -->
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="app-navigation">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->  

  <article class="blueprint">

	<section>
<div class="txt-renglon centrado txt-bigger"></div>	
<div class="txt-renglon centrado txt-bigger min-pad">Has completado la actividad</div>
<div class="subtitle centrado min-pad">"Título de evaluación"</div>
<div class="txt-renglon centrado txt-bigger min-pad">¡Felicidades!</div>
<div class="txt-renglon centrado txt-bigger"></div>	
</section>
<section class="txt-renglon txt-bigger pill">
<div class="fl-left">Mi puntuación</div><div class="fl-right green-pill"><span class="">80</span><span class="blanco">/100</span></div>
</section>
<section class="">
	<div class="parte"><i class="icomoon icon-checked-join green"></i><span>¿Pregunta selección sencilla?</span><i class="icomoon icon-arrow-down fl-right white"></i></div>
	<div class="parte"><i class="icomoon icon-checked-join green"></i><span>¿Pregunta selección múltiple?</span><i class="icomoon icon-arrow-down fl-right white"></i></div>
	<div class="parte"><i class="icomoon icon-wrong red"></i><span>¿Pregunta valor númerico?</span><i class="icomoon icon-arrow-down fl-right white"></i></div>
	<div class="parte"><i class="icomoon icon-checked-join green"></i><span>¿Pregunta falso/verdadero?</span><i class="icomoon icon-arrow-down fl-right white"></i></div>
	<div class="parte"><i class="icomoon icon-checked-join green"></i><span>¿Pregunta selección sencilla?</span><i class="icomoon icon-arrow-down fl-right white"></i></div>

</section>
<section class="txt-renglon txt-bigger pill">
<div class="fl-left">Estrellas Ganadas</div><div class="fl-right sm-pill">200&nbsp;&nbsp;<i class="icomoon icon-star fl-right"></i></div>
</section>
<section class="txt-renglon centrado forma">
¿Qué opinas de ésta actividad?
<div class="tnf">
		<input type="radio" value="verdadero" name="vf" id="tru">
		<label for="tru">Me Gusta</label>
		<input type="radio" value="Falso" name="vf" id="fols">
		<label for="fols">No me gusta</label>
</div>
</section>
<section>
<button class="btn btn-primary btn-lg btn-cnt" type="button">Terminar</button>
<div class="txt-renglon centrado txt-bigger"></div>	
</section>

  </article>

  <footer class="footer">
    <ul class="block-list">
      <li><a href="" class="centrado txt-title">Preguntas Frecuentes</a></li>
      <li><a href="" class="centrado txt-title">Ayuda y Soporte</a></li>
    </ul>
    <a href="#navBar" class="to-top"><i class="icomoon icon-double-arrow-up"></i><br/>SUBIR</a>
  </footer>
  <!-- html -->
  <!-- scripts -->

</body>
</html>