<div class="incluso-app start-dashboard" id="site-wrapper">
  <div id="site-menu" >
<nav class="ng-scope">
      <div id="navBar" class="navbar">
        <div class="container-fluid">
          <div class="row">

            <div class="navbar-assets">
              <h1 class="navbar-heading"><a id="closeaton" data-transition="ease"><i class="icomoon icon-cross white"></i> Menu</a></h1>

            </div>
          </div>
        </div>
      </div>
    </nav>
    <ul class="nav">
      <li><a ng-href="#/ProgramaDashboard"><i class="icomoon icon-home"></i> Inicio</a></li>
      <li><a><i class="icomoon icon-video-file"></i> Guía de uso</a></li>
      <li>
    <a class="menu-blue" ng-href="#/ProgramaDashboardEtapa/1">
    <i class="icomoon icon-spaceship"></i> Etapa 1</a></li>
      <li><i class="icomoon icon-arrow fl-right white accsub pointer" data-id="1"></i><a class="menu-green">
    <i class="icomoon icon-asterodis">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span><span class="path22"></span><span class="path23"></span><span class="path24"></span><span class="path25"></span><span class="path26"></span><span class="path27"></span><span class="path28"></span><span class="path29"></span>
        </i> Link</a>
    <div class="submenu" id="sub1">
  <ul>
    <li>Título sin liga</li>
    <li><a>Bien</a></li>
    <li><a>Bien 2</a></li>
    <li><a>Bien 3</a></li>
    <li><a>Bien 4</a></li>
  </ul>
  </div>
    </li>
      <li><i class="icomoon icon-arrow fl-right white accsub pointer" data-id="2"></i><a class="menu-pink">
<span class="icomoon icon-planet">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
        </span>   Link</a>
    <div class="submenu" id="sub2">
  <ul>
    <li>Título sin liga2</li>
    <li><a>Bien</a></li>
    <li><a>Bien 2</a></li>
    <li><a>Bien 3</a></li>
    <li><a>Bien 4</a></li>
  </ul>
  <ul>
    <li>Título sin liga3</li>
    <li><a>Bien</a></li>
    <li><a>Bien 2</a></li>
    <li><a>Bien 3</a></li>
    <li><a>Bien 4</a></li>
  </ul>
  </div></li>
      <li><a><i class="icomoon icon-books "></i> Acerca de Incluso</a></li>
      <li><a><i class="icomoon icon-cup"></i> Salón de la fama</a></li>
      <li><a><i class="icomoon icon-loop"></i> Seguimiento</a></li>
      <li><a><i class="icomoon icon-document"></i> Certificación</a></li>
      <li><a><i class="icomoon icon-racing-flag "></i> Recuerdos Incluso</a></li>
      <li><a><i class="icomoon icon-lifesaver"></i> Preguntas frecuentes</a></li>
      <li><a><i class="icomoon icon-notes"></i> Aviso de privacidad</a></li>
      <li><a ng-click="logout()"><i class="glyphicon glyphicon-off"></i> Salir</a></li>
    </ul>
  </div>
  <div id="site-canvas">

    <nav ng-controller="navController">
      <div class="navbar" id="navBar">
        <div class="container-fluid">

          <div class="row">

            <div class="navbar-assets">
              <h1 class="navbar-heading"><a data-transition="ease" id="menuton"><i class="icomoon icon-more-options"></i> Inicio</a></h1>
              <ul class="navbar-tools">
                <li class="contribute">
                  <a href="">
                    <i class="icomoon icon-edit"></i>
                  </a>
                </li>
                <li class="notifications">
                  <a href="">
                    <i class="icomoon icon-antena"></i>
                  </a>
                </li>
                <li class="chat">
                  <a href="">
                    <i class="icomoon icon-chat"></i>
                  </a>
                </li>
                <li class="profile">
                  <a href="" ng-href="#/Perfil/">
                    <i class="icomoon icon-emoticon-smile"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- /.container-fluid -->
    </nav>
    <article>
      <div class="container">

        <h1 class="text-center">¡Bienvenido {{user.alias}}!</h1>
        <section class="component video-gallery">
          <h3>- ¿Qué es incluso ? -</h3>
          <div class="stage perform">
            <button class="icon icon-close"></button>
            <button class="icon icon-play"></button>
            <figure class="player">
             <!--  <video controls  poster="assets/images/ptr-video-0001.jpg" >
   <source src="assets/media/480x270.mp4" type="video/mp4">
                Ups! Parece que tu dispositivo no soporta video
</video>-->

 <figure  >
   <img src="assets/images/ptr-video-0001.jpg" ng-click="playWelcome()"  / >
</figure|>
            </figure>
          </div>

      </section>

      <section class="component global-progress txt-renglon centered">
        <h3>- Avance Global -</h3>
        <div class="spinner">
          <img src="assets/images/prcnt/{{usercourse == null ? 0 : Math.ceil(usercourse.globalProgress)}}.png"><div class="circle"></div><div class="text">{{usercourse == null ? 0 : usercourse.globalProgress}}%</div>
        </div>
      </section>

      <section class="component current-satge">
        <img  src="assets/images/estacion{{currentStage != null ? currentStage : 1}}.png">
        <h3>- Estación: {{stage.name}} -</h3>
        <a href="" class="btn btn-primary btn-lg" ng-click="navigateToStage()"><span>{{stage.firstTime == 1 ? "Iniciar Aventura" : "Continuar misión"}}</span></a>
      </section>

      <section class="component my-badges">
        <h3>- Mi Escudo -</h3>
        <img src="assets/images/img-badges-blocked.png" alt="">
      </section>

      <section class="component top-users" style="width: 100vw">
        <h3>- Usuarios top 3 -</h3>
        <tabset justified="true">
          <tab>
            <tab-heading>
              <div class="user-container">
                <div class="user-avatar">
                  <figure>
                    <img src="assets/images/img-avatar-dummy-01.png" alt="" />
                    <figcaption>1</figcaption>
                    <div class="arrow-up"></div>
                  </figure>
                </div>
              </div>
            </tab-heading>

            <div class="user-data">
              <div>
                <p>
                  <label for="">1er. Lugar:</label>
                  <span>{{course.leaderboard[0] != null ? course.leaderboard[0].alias : ""}}</span>
                </p>
                <ul class="inline-list">
                  <li class="points"><span>{{course.leaderboard[0] != null ? course.leaderboard[0].stars : 0}}</span> <i class="icomoon icon-star"></i></li>
                  <li><span>{{course.leaderboard[0] != null ? course.leaderboard[0].progress : 0}}%</span></li>
                </ul>
              </div>
            </div>
          </tab>

          <tab>
            <tab-heading>
              <div class="user-container">
                <div class="user-avatar">
                  <figure>
                    <img src="assets/images/img-avatar-dummy-02.png" alt="" />
                    <figcaption>2</figcaption>
                    <div class="arrow-up"></div>
                  </figure>
                </div>
              </div>
            </tab-heading>
            <div class="user-data">
              <div>
                <p>
                  <label for="">2do. Lugar:</label>
                      <span>{{course.leaderboard[1] != null ? course.leaderboard[1].alias : ""}}</span>
                </p>
                <ul class="inline-list">
                      <li class="points"><span>{{course.leaderboard[1] != null ? course.leaderboard[1].stars : 0}}</span> <i class="icomoon icon-star"></i></li>
                      <li><span>{{course.leaderboard[1] != null ? course.leaderboard[1].progress : 0}}%</span></li>
                </ul>
              </div>
            </div>
          </tab>

          <tab>
            <tab-heading>
              <div class="user-container">
                <div class="user-avatar">
                  <figure>
                    <img src="assets/images/img-avatar-dummy-03.png" alt="" />
                    <figcaption>3</figcaption>
                    <div class="arrow-up"></div>
                  </figure>
                </div>
              </div>
            </tab-heading>
            <div class="user-data">
              <div>
                <p>
                  <label for="">3er. Lugar:</label>
                  <span>{{course.leaderboard[2] != null ? course.leaderboard[2].alias : ""}}</span>
                </p>
                <ul class="inline-list">
                  <li class="points"><span>{{course.leaderboard[2] != null ? course.leaderboard[2].stars : 0}}</span> <i class="icomoon icon-star"></i></li>
                  <li><span>{{course.leaderboard[2] != null ? course.leaderboard[2].progress : 0}}%</span></li>
                </ul>
              </div>
            </div>
          </tab>
        </tabset>

        <div class="current-user">
          <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
          <a href="">
            <div class="user-avatar">
              <figure class="user-avatar-">
                <img src="assets/images/img-avatar-dummy-01.png" alt="">
                <figcaption>{{user.place}}</figcaption>
              </figure>
            </div>
          </a>
          </div>
          </div>

          <div class="user-data">
            <div >
              <p>
                <span>Mi puntuación actual</span>
              </p>
              <ul class="inline-list">
                <li class="points"><span>{{user.stars}}</span> <i class="icomoon icon-star"></i></li>
                <li><span>{{usercourse.globalProgress}}%</span></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="ilustration">
        <figure class="space-ship">
          <img src="assets/images/img-ship-02.png" alt="La nave">
        </figure>
      </section>

      </div> <!-- /.container -->

      <footer class="footer db-bg">
        <ul class="block-list">
          <li><a href="" class="centered txt-title">Preguntas Frecuentes</a></li>
          <li><a href="" class="centered txt-title">Ayuda y Soporte</a></li>
        </ul>
        <a class="to-top" ng-click="scrollToTop();"><i class="icomoon icon-double-arrow-up"></i><br/>SUBIR</a>
      </footer>
      
      <script type="text/ng-template" id="tutorialModal.html">
        <div class="modal-robot robot-lg">
          <div class="modal-header">
            <h3 class="modal-title">- Título -</h3>
            <button class="icon icon-close" ng-click="cancel()">
              <span class="icomoon icon-cross"></span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-center-center">Conocerse a uno mismo... es la tarea más difícil, descubres tus miedos y pasiones. Si consigues conocerte a fondo, sabrás comprender a los demás y la realidad que lo te rodea</p>
          </div>
          <div class="modal-footer"></div>
        </div>
      </script> 
    </article>

  </div>
</div>

  <script type="text/javascript" src="Scripts/scriptmenu.js"></script>

