<div class="incluso-app profile edit-profile"  id="site-wrapper">
  <div id="site-menu" >
    <nav class="ng-scope">
      <div id="navBar" class="navbar">
        <div class="container-fluid">
          <div class="row">

            <div class="navbar-assets">
              <h1 class="navbar-heading"><a id="closeaton" data-transition="ease"><i class="icomoon icon-cross white"></i> Menu</a></h1>
              
            </div> 
          </div>
        </div>
      </div>
    </nav>
    <ul class="nav">
      <li><a ng-href="#/ProgramaDashboard"><i class="icomoon icon-home"></i> Inicio</a></li>
      <li><a><i class="icomoon icon-video-file"></i> Guía de uso</a></li>
      <li>
       <a class="menu-blue" ng-href="#/ProgramaDashboardEtapa/1">
         <i class="icomoon icon-spaceship"></i> Etapa 1</a></li>
         <li><i class="icomoon icon-arrow fl-right white accsub pointer" data-id="1"></i><a class="menu-green">
           <i class="icomoon icon-asterodis">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span><span class="path22"></span><span class="path23"></span><span class="path24"></span><span class="path25"></span><span class="path26"></span><span class="path27"></span><span class="path28"></span><span class="path29"></span>
          </i> Link</a>
          <div class="submenu" id="sub1">
           <ul>
            <li>Título sin liga</li>
            <li><a>Bien</a></li>
            <li><a>Bien 2</a></li>
            <li><a>Bien 3</a></li>
            <li><a>Bien 4</a></li>
          </ul>
        </div>
      </li>
      <li><i class="icomoon icon-arrow fl-right white accsub pointer" data-id="2"></i><a class="menu-pink">
        <span class="icomoon icon-planet">
          <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
        </span>	  Link</a>
        <div class="submenu" id="sub2">
         <ul>
          <li>Título sin liga2</li>
          <li><a>Bien</a></li>
          <li><a>Bien 2</a></li>
          <li><a>Bien 3</a></li>
          <li><a>Bien 4</a></li>
        </ul>
        <ul>
          <li>Título sin liga3</li>
          <li><a>Bien</a></li>
          <li><a>Bien 2</a></li>
          <li><a>Bien 3</a></li>
          <li><a>Bien 4</a></li>
        </ul>
      </div></li>
      <li><a><i class="icomoon icon-books "></i> Acerca de Incluso</a></li>
      <li><a><i class="icomoon icon-cup"></i> Salón de la fama</a></li>
      <li><a><i class="icomoon icon-loop"></i> Seguimiento</a></li>
      <li><a><i class="icomoon icon-document"></i> Certificación</a></li>
      <li><a><i class="icomoon icon-racing-flag "></i> Recuerdos Incluso</a></li>
      <li><a><i class="icomoon icon-lifesaver"></i> Preguntas frecuentes</a></li>
      <li><a><i class="icomoon icon-notes"></i> Aviso de privacidad</a></li>
    </ul>
  </div>
  <div id="site-canvas">
    <nav ng-controller="navController">
      <div class="navbar" id="navBar">
        <div class="container-fluid">

          <div class="row">

            <div class="navbar-assets">
              <h1 class="navbar-heading"><a data-transition="ease" id="menuton"><i class="icomoon icon-more-options"></i> Mi Perfil</a></h1>
              <ul class="navbar-tools">
                <li class="contribute">
                  <a href="">
                    <i class="icomoon icon-edit"></i>
                  </a>
                </li>
                <li class="notifications">
                  <a href="">
                    <i class="icomoon icon-antena"></i>
                  </a>
                </li>
                <li class="chat">
                  <a href="">
                    <i class="icomoon icon-chat"></i>
                  </a>
                </li>
                <li class="profile">
                  <a href="" ng-href="#/Perfil/">
                    <i class="icomoon icon-emoticon-smile"></i>
                  </a>
                </li>                 
              </ul>
            </div> 
          </div>
        </div>
      </div> <!-- /.container-fluid -->
    </nav>

    <article>
      <section class="component profile-dashboard">
        <div>
          <figure>
            <img src="assets/images/img-profile-spaceship-dashboard-top.png" alt="" />
          </figure>
        </div>
        <div>
        <div class="user-avatar">
          <figure>
            <img src="assets/images/img-avatar-dummy-01.png" alt="" class="img-responsive" />
            <figcaption ng-bind="model.rank >= 0 ? model.rank : '?'"></figcaption>
          </figure>
          <button type="button" id="editProfile">
            <span class="icomoon icon-edit"></span>
          </button>
        </div>
        </div>
        <div>
          <div class="profile-data">
            <h4 class="user-name" ng-bind="model.alias"></h4>
            <!-- <h4 class="user-name">leonardo garza r.</h4> -->
            <p class="user-points">
              <span ng-bind="model.stars"></span>
              <span class="icomoon icon-star"></span>
            </p>
          </div>
          <div class="profile-settings">
            <button class="btn btn-icon-aside left active" ng-click="save();">
              <div class="btn-icon">
                <span class="icomoon icon-settings"></span>
              </div>
              <span for="">Guardar</span>
            </button>

            <button class="btn btn-icon-aside right">
              <div class="btn-icon">
                <span class="icomoon icon-lock"></span>
              </div>
              <span for="">Privacidad</span>
            </button>
          </div>
        </div>
      </section>

      <section class="component profile-options">
        <form action="">
          <div class="pages">
            <div class="page" ng-class="currentPage == 1 ? 'active' : ''">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="list-group separate-items">
                      <li class="list-group-item" ng-click="navigateToPage(2)">
                        <a href="">
                          <span class="icomoon icon-information"></span>
                          <span>Mi Información</span>
                          <span class="icomoon icon-star"></span>
                          <span class="icomoon icon-arrow-slim-right"></span>
                        </a>
                      </li>
                    </ul>                    
                  </div>
                </div>
              </div>
            </div>

            <div class="page" ng-class="currentPage == 2 ? 'active' : ''">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="panel panel-default panel-form">
                      <div class="panel-heading with-icons" ng-click="navigateToPage(1)">
                        <span class="icomoon icon-arrow-slim-left" ></span>
                        <span class="icomoon icon-information"></span>
                        <h3 class="panel-title">Mi información</h3>
                      </div>
                      <div class="panel-body">
                        <fieldset class="my-profile-form">

                          <section>
                            <!-- <h5>Deseo recibir promoción y publicidad</h5>
                            <ul class="block-list">
                              <li>
                                <div class="form-grup">
                                  <input type="checkbox" ng-model="model.allowToSendAdvertisement" /> 
                                </div>
                              </li>
                            </ul> -->

                            <div class="checkbox checkbox-custom">
                              <label>
                                <input type="checkbox" ng-model="model.allowToSendAdvertisement" name="allowToSendAdvertisement" /> 
                                <span>Deseo recibir promoción y publicidad</span>
                              </label>
                            </div>                            
                          </section>


                          <section>
                            <h5>Mis Estudios</h5>
                            <ul class="block-list">
                              <li>
                                <div class="form-group" ng-repeat="s in model.studies">
                                  <button ng-click="deleteStudy($index);">Borrar</button>
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Institución" ng-model="s.school" />
                                  <select name="" id="" class="form-control form-control-lg theme-form" ng-model="s.levelOfStudies">
                                    <option value="Grado">Grado</option>
                                    <option value="Primaria">Primaria</option>
                                    <option value="Secundaria">Secundaria</option>
                                    <option value="Preparatoria">Preparatoria</option>
                                    <option value="Profesional">Profesional</option>
                                  </select>
                                </div>
                              </li>
                            </ul> 
                            <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addStudy();">
                              <span class="icomoon icon-plus"></span>Agregar nuevo estudio...
                            </button>
                          </section>

                          <section>
                            <h5>Domicilio</h5>
                            <ul class="block-list">
                              <li>
                                <div class="form-group">
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Calle" ng-model="model.address.street" />
                                </div>
                                <div class="form-group col-2">
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Núm. Ext." ng-model="model.address.num_ext"  />
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Núm. Int." ng-model="model.address.num_int"  />
                                </div> 
                                <div class="form-group">
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Colonia" ng-model="model.address.colony"  />
                                </div>
                                <div class="form-group">
                                  <select name="country" id="country" class="form-control form-control-lg theme-form" ng-model="model.address.country">
                                    <option disabled selected>País</option>
                                    <option value="BO">Bolivia</option>
                                    <option value="CO">Colombia</option> 
                                    <option value="EC">Ecuador</option> 
                                    <option value="ME">México</option> 
                                    <option value="PE">Perú</option> 
                                    <option value="UR">Uruguay</option> 
                                    <option value="VE">Venezuela</option> 
                                  </select> 
                                </div> 
                                <div class="form-group">
                                  <select name="state" id="state" class="form-control form-control-lg theme-form" ng-model="model.address.state">
                                    <option disabled selected>Estado</option>
                                    <option value="Coahuila">Coahuila</option>
                                    <option value="Jalisco">Jalisco</option>
                                    <option value="México">México</option>
                                    <option value="Nuevo León">Nuevo León</option>
                                  </select> 
                                </div> 
                                <div class="form-group">
                                  <select name="" id="ciudad" class="form-control form-control-lg theme-form" ng-model="model.address.city">
                                    <option disabled selected>Ciudad</option>
                                    <option value="Guadalajara">Guadalajara</option>
                                    <option value="México D.F.">México D.F.</option>
                                    <option value="Monterrey">Monterrey</option>
                                  </select> 
                                </div>
                                <div class="form-group">
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Municipio / Delegación" ng-model="model.address.town" />
                                </div>
                                <div class="form-group">
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Código Postal" ng-model="model.address.postalCode" />
                                </div>
                              </li>
                            </ul> 
                          </section>

                          <div class="page-number">
                            <p class="text-center">
                              <span>1</span>
                              <span>/</span>
                              <span>2</span>
                            </p>
                          </div>

                          <div class="actions">
                            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateToPage(3)">Continuar</button>
                            <a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
                          </div>
                        </fieldset>
                      </div>
                    </div>                    
                  </div>
                </div>
              </div>
            </div>

            <div class="page " ng-class="currentPage == 3 ? 'active' : ''">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="panel panel-default panel-form">
                      <div class="panel-heading with-icons">
                        <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                        <span class="icomoon icon-information"></span>
                        <h3 class="panel-title">Mi información</h3>
                      </div>
                      <div class="panel-body">
                        <fieldset class="my-profile-form">
                          <section>
                            <h5>Teléfono</h5>
                            <ul class="block-list">
                              <li>
                                <div class="form-group" ng-repeat="p in model.phones track by $index">
                                  <button type="button" ng-click="deletePhone($index);">Borrar</button>
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Número Telefónico" ng-model="model.phones[$index]">
                                </div>
                              </li>
                            </ul> 
                            <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addPhone();">
                              <span class="icomoon icon-plus"></span>Agregar nuevo número...
                            </button>
                          </section>

                          <section>
                            <h5>Correo</h5>
                          <ul class="block-list">
                              <li>
                                <div class="form-group">
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Correo Electrónico" ng-model="model.email">
                                </div>
                              </li>
                            </ul>
                            <ul class="block-list" >
                              <li>
                                <div class="form-group" ng-repeat="se in model.additionalEmails track by $index">
                                  <button type="button" ng-click="deleteAdditionalEmails($index);">Borrar</button>
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Correo Electrónico Adicional" ng-model="model.additionalEmails[$index]">
                                </div>
                              </li>
                            </ul> 
                            <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addEmail();">
                              <span class="icomoon icon-plus"></span>Agregar nuevo correo...
                            </button>
                          </section>

                          <section>
                            <h5>Redes sociales</h5>
                            <ul class="block-list" ng-repeat="sn in model.socialNetworks">
                              <li>
                                <div class="form-group">
                                  <button type="button" ng-click="deleteSocialNetwork($index);">Borrar</button>
                                  <select name="country" id="country" class="form-control form-control-lg theme-form" ng-model="sn.socialNetwork">
                                    <option disabled>Red Social</option>
                                    <option value="Facebook">Facebook</option>
                                    <option value="Instagram">Instagram</option>
                                    <option value="Twitter">Twitter</option>
                                  </select> 
                                </div>                               
                                <div class="form-group">
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Nombre de Usuario" ng-model="sn.socialNetworkId" />
                                </div>
                              </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addSocialNetwork();">
                              <span class="icomoon icon-plus"></span>Agregar nueva red social...
                            </button>                          
                          </section>

                          <section>
                            <h5>Familiares Compartamos</h5>
                            <ul class="block-list" ng-repeat="fc in model.familiaCompartamos">
                              <li>
                                <div class="form-group">
                                  <button type="button" ng-click="deleteFamiliaCompartamos($index);">Borrar</button>
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="No. Cliente Compartamos" ng-model="fc.idClient" />
                                </div>
                                <div class="form-group">
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Nombre Completo" ng-model="fc.relativeName" />
                                </div>                              
                                <div class="form-group">
                                  <select name="country" id="country" class="form-control form-control-lg theme-form" ng-model="fc.relationship">
                                    <option disabled>Parentesco</option>
                                    <option value="Mamá">Mamá</option>
                                    <option value="Papá">Papá</option>
                                  </select> 
                                </div>
                              </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addFamiliaCompartamos();">
                              <span class="icomoon icon-plus"></span>Agregar familiar compartamos...
                            </button>
                          </section>

                          <div class="page-number">
                            <p class="text-center">
                              <span>2</span>
                              <span>/</span>
                              <span>2</span>
                            </p>
                          </div>

                          <div class="actions">
                            <!-- 
                            <div class="button-group">
                              <button type="button" class="btn btn-primary btn-lg">
                                <span class="icomoon icon-arrow-slim-left"></span>
                              </button>                      
                              <button type="button" class="btn btn-primary btn-lg" ng-click="save();">Guardar</button> 
                            </div>
                            -->
                            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateToPage(2);">
                                <span class="icomoon icon-arrow-slim-left"></span> Regresar
                              </button>
                            <a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
                          </div>

                        </fieldset>
                      </div>
                    </div>                    
                  </div>
                </div>
              </div>
          </div>
        </form>
      </section> 
    </article>

  <script type="text/javascript" src="Scripts/scriptmenu.js"></script>

    <footer>
      <ul class="block-list">
        <li><a href="" class="btn-link">Preguntas Frecuentes</a></li>
        <li><a href="" class="btn-link">Ayuda y Soporte</a></li>
      </ul>
      <a class="btn-back-to-top" ng-click="scrollToTop();">
        <span class="icomoon icon-double-arrow-up"></span>
        <span>Subir</span>
      </a>
    </footer>
  </div>

</div>