<div class="incluso-app profile edit-profile" id="site-wrapper">
  <div id="site-menu">
    <menu-component></menu-component>
  </div>
  <div id="site-canvas">
    <nav ng-controller="navController">
      <div class="navbar" id="navBar">
        <div class="container-fluid">

          <div class="row">

            <div class="navbar-assets">
              <h1 class="navbar-heading"><a data-transition="ease" id="menuton"><i class="icomoon icon-more-options"></i> Mi Perfil</a></h1>
              <ul class="navbar-tools">
                <li class="contribute">
                  <a href="">
                    <i class="icomoon icon-edit"></i>
                  </a>
                </li>
                <li class="notifications">
                  <a href="">
                    <i class="icomoon icon-antena"></i>
                  </a>
                </li>
                <li class="chat">
                  <a href="">
                    <i class="icomoon icon-chat"></i>
                  </a>
                </li>
                <li class="profile active">
                  <a href="" ng-href="#/Perfil/">
                    <i class="icomoon icon-emoticon-smile"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>

    <article>
      <section class="component profile-dashboard">
        <div>
          <figure>
            <img src="assets/images/img-profile-spaceship-dashboard-top.png" alt="" />
          </figure>
        </div>
        <div>
          <div class="user-avatar">
            <figure>
              <img src="assets/images/img-avatar-dummy-01.png" alt="" class="img-responsive" />
              <figcaption ng-bind="model.rank >= 0 ? model.rank : '?'"></figcaption>
            </figure>
            <button type="button" id="editProfile">
              <span class="icomoon icon-edit"></span>
            </button>
          </div>
        </div>
        <div>
          <div class="profile-data">
            <h4 class="user-name" ng-bind="model.alias"></h4>
            <!-- <h4 class="user-name">leonardo garza r.</h4> -->
            <p class="user-points">
              <span ng-bind="model.stars"></span>
              <span class="icomoon icon-star"></span>
            </p>
          </div>
          <div class="profile-settings">
            <button class="btn btn-icon-aside left active" ng-click="save();">
              <div class="btn-icon">
                <span class="icomoon icon-settings"></span>
              </div>
              <span for="">Guardar</span>
            </button>

            <button class="btn btn-icon-aside right">
              <div class="btn-icon">
                <span class="icomoon icon-lock"></span>
              </div>
              <span for="">Privacidad</span>
            </button>
          </div>
        </div>
      </section>

      <section class="component profile-options">
        <form action="">
          <div class="pages">
            <div class="page" ng-class="currentPage == 1 ? 'active' : ''">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12">
                    <ul class="list-group separate-items">
                      <li class="list-group-item" ng-click="navigateToPage(2)">
                        <a href="">
                          <span class="icomoon icon-information"></span>
                          <span>Mi Información</span>
                          <span class="icomoon icon-star"></span>
                          <span class="icomoon icon-arrow-slim-right"></span>
                        </a>
                      </li>

                      <li class="list-group-item" ng-click="navigateToPage(3)">
                        <a href="">
                          <span class="icomoon icon-document"></span>
                          <span>Mi personalidad</span>
                          <span class="icomoon icon-star"></span>
                          <span class="icomoon icon-arrow-slim-right"></span>
                        </a>
                      </li>

                      <li class="list-group-item" ng-click="navigateToPage(4)">
                        <a href="">
                          <span class="icomoon icon-required"></span>
                          <span>Socioeconómicos</span>
                          <span class="icomoon icon-star"></span>
                          <span class="icomoon icon-arrow-slim-right"></span>
                        </a>
                      </li>

                      <li class="list-group-item no-badge" ng-click="navigateToPage(5)">
                        <a href="">
                          <span class="icomoon icon-badge"></span>
                          <span>Uso tecnología</span>
                          <span class="icomoon icon-star"></span>
                          <span class="icomoon icon-arrow-slim-right"></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="page" ng-class="currentPage == 2 ? 'active' : ''">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="panel panel-default panel-form">
                      <div class="panel-heading with-icons" ng-click="navigateToPage(1)">
                        <span class="icomoon icon-arrow-slim-left"></span>
                        <span class="icomoon icon-information"></span>
                        <h3 class="panel-title">Mi información</h3>
                      </div>
                      <div class="panel-body">
                        <fieldset class="my-profile-form">

                          <section>
                            <!-- <h5>Deseo recibir promoción y publicidad</h5>
                            <ul class="block-list">
                              <li>
                                <div class="form-grup">
                                  <input type="checkbox" ng-model="model.allowToSendAdvertisement" /> 
                                </div>
                              </li>
                            </ul> -->

                            <!--<div class="checkbox checkbox-custom">
                              <label>
                                <input type="checkbox" ng-model="model.allowToSendAdvertisement" name="allowToSendAdvertisement" />
                                <span>Deseo recibir promoción y publicidad</span>
                              </label>
                            </div>
                          </section>-->

                            <section>
                              <h5>Datos generales</h5>
                              <input type="text" class="form-control form-control-lg theme-form" placeholder="Nombre(s)" ng-model="model.firstname" />
                              <input type="text" class="form-control form-control-lg theme-form" placeholder="Apellido paterno" ng-model="model.lastName"
                              />
                              <input type="text" class="form-control form-control-lg theme-form" placeholder="Apellido materno" ng-model="model.secondSurName"
                              />
                              <input type="text" class="form-control form-control-lg theme-form" placeholder="Alias" ng-model="model.alias" />

                              <input type="text" class="form-control form-control-lg theme-form" placeholder="Institución" ng-model="s.school" />
                              <p class="form-group-control custom-placeholder-wrapper">
                                <select name="" id="" class="form-control form-control-lg theme-form" ng-model="s.levelOfStudies" ng-init="form.type='Grado'">
                                  <option value="Grado">Grado</option>
                                  <option value="Primaria">Primaria</option>
                                  <option value="Secundaria">Secundaria</option>
                                  <option value="Preparatoria">Preparatoria</option>
                                  <option value="Profesional">Profesional</option>
                                </select>
                                <span class="custom-placeholder form-control-lg" ng-show="s.levelOfStudies.lenght > 0">Nivel de Estudios</span>
                              </p>

                              <div class="form-group">
                                <select name="country" id="country" class="form-control form-control-lg theme-form" ng-model="model.address.country">
                                  <option disabled selected>País</option>
                                  <option value="BO">Bolivia</option>
                                  <option value="CO">Colombia</option>
                                  <option value="EC">Ecuador</option>
                                  <option value="ME">México</option>
                                  <option value="PE">Perú</option>
                                  <option value="UR">Uruguay</option>
                                  <option value="VE">Venezuela</option>
                                </select>
                              </div>
                              ---------------------
                              <ul class="block-list">

                                <li ng-repeat="s in model.studies">
                                  <div class="form-group theme-form">
                                    <h5>
                                    <span>Estudio {{model.studies.indexOf(s) + 1}}</span>
                                    <button class="btn btn-circle" ng-click="deleteStudy($index);">
                                      <span class="icomoon icon-cross"></span>
                                    </button>
                                  </h5>

                                    <input type="text" class="form-control form-control-lg theme-form" placeholder="Institución" ng-model="s.school" />
                                    <p class="form-group-control custom-placeholder-wrapper">
                                      <select name="" id="" class="form-control form-control-lg theme-form" ng-model="s.levelOfStudies" ng-init="form.type='Grado'">
                                        <option value="Grado">Grado</option>
                                        <option value="Primaria">Primaria</option>
                                        <option value="Secundaria">Secundaria</option>
                                        <option value="Preparatoria">Preparatoria</option>
                                        <option value="Profesional">Profesional</option>
                                      </select>
                                      <span class="custom-placeholder form-control-lg" ng-show="s.levelOfStudies.lenght > 0">Nivel de Estudios</span>
                                    </p>
                                  </div>
                                </li>

                              </ul>
                              <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addStudy();">
                                <span class="icomoon icon-plus"></span>Agregar nuevo estudio...
                              </button>
                            </section>

                            <section>
                              <h5>Domicilio</h5>
                              <ul class="block-list">
                                <li>
                                  <div class="form-group">
                                    <input type="text" class="form-control form-control-lg theme-form" placeholder="Calle" ng-model="model.address.street" />
                                  </div>
                                  <div class="form-group col-2">
                                    <input type="text" class="form-control form-control-lg theme-form" placeholder="Núm. Ext." ng-model="model.address.num_ext"
                                    />
                                    <input type="text" class="form-control form-control-lg theme-form" placeholder="Núm. Int." ng-model="model.address.num_int"
                                    />
                                  </div>
                                  <div class="form-group">
                                    <input type="text" class="form-control form-control-lg theme-form" placeholder="Colonia" ng-model="model.address.colony"
                                    />
                                  </div>
                                  <div class="form-group">
                                    <select name="country" id="country" class="form-control form-control-lg theme-form" ng-model="model.address.country">
                                      <option disabled selected>País</option>
                                      <option value="BO">Bolivia</option>
                                      <option value="CO">Colombia</option>
                                      <option value="EC">Ecuador</option>
                                      <option value="ME">México</option>
                                      <option value="PE">Perú</option>
                                      <option value="UR">Uruguay</option>
                                      <option value="VE">Venezuela</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <select name="state" id="state" class="form-control form-control-lg theme-form" ng-model="model.address.state">
                                      <option disabled selected>Estado</option>
                                      <option value="Coahuila">Coahuila</option>
                                      <option value="Jalisco">Jalisco</option>
                                      <option value="México">México</option>
                                      <option value="Nuevo León">Nuevo León</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <select name="" id="ciudad" class="form-control form-control-lg theme-form" ng-model="model.address.city">
                                      <option disabled selected>Ciudad</option>
                                      <option value="Guadalajara">Guadalajara</option>
                                      <option value="México D.F.">México D.F.</option>
                                      <option value="Monterrey">Monterrey</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <input type="text" class="form-control form-control-lg theme-form" placeholder="Municipio / Delegación" ng-model="model.address.town"
                                    />
                                  </div>
                                  <div class="form-group">
                                    <input type="text" class="form-control form-control-lg theme-form" placeholder="Código Postal" ng-model="model.address.postalCode"
                                    />
                                  </div>
                                </li>
                              </ul>
                            </section>

                            <div class="page-number">
                              <p class="text-center">
                                <span>1</span>
                                <span>/</span>
                                <span>2</span>
                              </p>
                            </div>

                            <div class="actions">
                              <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateToPage(3)">Continuar</button>
                              <a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
                            </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="page " ng-class="currentPage == 3 ? 'active' : ''">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="panel panel-default panel-form">
                      <div class="panel-heading with-icons">
                        <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                        <span class="icomoon icon-information"></span>
                        <h3 class="panel-title">Mi información</h3>
                      </div>
                      <div class="panel-body">
                        <fieldset class="my-profile-form">
                          <section>
                            <h5>Teléfono</h5>
                            <ul class="block-list">
                              <li ng-repeat="p in model.phones track by $index">
                                <div class="form-group theme-form">
                                  <h5>
                                    <span>Teléfono {{model.phones.indexOf(p) + 1}}</span>
                                    <button class="btn btn-circle" ng-click="deletePhone($index);">
                                      <span class="icomoon icon-cross"></span>
                                    </button>
                                  </h5>
                                  <!-- <button type="button" ng-click="deletePhone($index);">Borrar</button> -->
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Número Telefónico" ng-model="model.phones[$index]"
                                  />

                                </div>
                              </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addPhone();">
                              <span class="icomoon icon-plus"></span>Agregar nuevo número...
                            </button>
                          </section>

                          <section>
                            <h5>Correo</h5>
                            <ul class="block-list">
                              <li>
                                <div class="form-group theme-form">
                                  <h5><span>Correo 1</span></h5>
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Correo Electrónico" ng-model="model.email">
                                </div>
                              </li>
                              <li ng-repeat="se in model.additionalEmails track by $index">
                                <div class="form-group">
                                  <!-- <button type="button" ng-click="deleteAdditionalEmails($index);">Borrar</button> -->
                                  <h5>
                                    <span>Correo {{model.additionalEmails.indexOf(se) + 2}}</span>
                                    <button class="btn btn-circle" ng-click="deleteAdditionalEmails($index);">
                                      <span class="icomoon icon-cross"></span>
                                    </button>
                                  </h5>
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Correo Electrónico Adicional" ng-model="model.additionalEmails[$index]">
                                </div>
                              </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addEmail();">
                              <span class="icomoon icon-plus"></span>Agregar nuevo correo...
                            </button>
                          </section>

                          <section>
                            <h5>Redes sociales</h5>
                            <ul class="block-list">
                              <li ng-repeat="sn in model.socialNetworks">
                                <div class="form-group theme-form">
                                  <!-- <button type="button" ng-click="deleteSocialNetwork($index);">Borrar</button> -->
                                  <h5>
                                    <span>Red Social {{model.socialNetworks.indexOf(sn) + 1}}</span>
                                    <button class="btn btn-circle" ng-click="deleteSocialNetwork($index);">
                                      <span class="icomoon icon-cross"></span>
                                    </button>
                                  </h5>
                                  <select name="country" id="country" class="form-control form-control-lg theme-form" ng-model="sn.socialNetwork">
                                    <option disabled>Red Social</option>
                                    <option value="Facebook">Facebook</option>
                                    <option value="Instagram">Instagram</option>
                                    <option value="Twitter">Twitter</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Nombre de Usuario" ng-model="sn.socialNetworkId"
                                  />
                                </div>
                              </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addSocialNetwork();">
                              <span class="icomoon icon-plus"></span>Agregar nueva red social...
                            </button>
                          </section>

                          <section>
                            <h5>Familiares Compartamos</h5>
                            <ul class="block-list">
                              <li ng-repeat="fc in model.familiaCompartamos">
                                <div class="form-group theme-form">
                                  <!-- <button type="button" ng-click="deleteFamiliaCompartamos($index);">Borrar</button> -->
                                  <h5>
                                    <span>Familiar Compartamos {{model.familiaCompartamos.indexOf(fc) + 1}}</span>
                                    <button class="btn btn-circle" ng-click="deleteFamiliaCompartamos($index);">
                                      <span class="icomoon icon-cross"></span>
                                    </button>
                                  </h5>
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="No. Cliente Compartamos" ng-model="fc.idClient"
                                  />
                                  <input type="text" class="form-control form-control-lg theme-form" placeholder="Nombre Completo" ng-model="fc.relativeName"
                                  />
                                  <p class="form-group-control custom-placeholder-wrapper">
                                    <select name="country" id="country" class="form-control form-control-lg theme-form" ng-model="fc.relationship">
                                      <option disabled>Parentesco</option>
                                      <option value="Mamá">Mamá</option>
                                      <option value="Papá">Papá</option>
                                    </select>
                                  </p>
                                </div>
                                <!-- <div class="form-group">
                                  
                                </div> -->
                                <!-- <div class="form-group">
                                  
                                </div> -->
                              </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addFamiliaCompartamos();">
                              <span class="icomoon icon-plus"></span>Agregar familiar compartamos...
                            </button>
                          </section>

                          <div class="page-number">
                            <p class="text-center">
                              <span>2</span>
                              <span>/</span>
                              <span>2</span>
                            </p>
                          </div>

                          <div class="actions">
                            <!-- 
                            <div class="button-group">
                              <button type="button" class="btn btn-primary btn-lg">
                                <span class="icomoon icon-arrow-slim-left"></span>
                              </button>                      
                              <button type="button" class="btn btn-primary btn-lg" ng-click="save();">Guardar</button> 
                            </div>
                            -->
                            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateToPage(2);">
                              <span class="icomoon icon-arrow-slim-left"></span> Regresar
                            </button>
                            <a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
                          </div>

                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>
        </section>
    </article>
    <footer>
      <ul class="block-list">
        <li><a href="" class="btn-link">Preguntas Frecuentes</a></li>
        <li><a href="" class="btn-link">Ayuda y Soporte</a></li>
      </ul>
      <a class="btn-back-to-top" ng-click="scrollToTop();">
        <span class="icomoon icon-double-arrow-up"></span>
        <span>Subir</span>
      </a>
    </footer>
    </div>

  </div>