<div class="incluso-app profile edit-profile">
 
  <nav ng-controller="navController">
    <div class="navbar navbar-welcome" id="navBar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">

          <button type="button" class="navbar-toggle collapsed" ng-click="navigateToDashboard();" > <!-- ng-click="isNavCollapsed = !isNavCollapsed" -->
            <span class="sr-only">Toggle navigation</span>
            <span class="icomoon icon-more-options"></span>
          </button>

          <div class="navbar-assets">
            <h1 class="navbar-heading">Mi Perfil</h1>
            <ul class="navbar-tools">
              <li class="contribute">
                <a href="">
                  <span class="icomoon icon-edit"></span>
                </a>
              </li>
              <li class="notifications">
                <a href="">
                  <span class="icomoon icon-antena"></span>
                </a>
              </li>
              <li class="chat">
                <a href="">
                  <span class="icomoon icon-chat"></span>
                </a>
              </li>
              <li class="profile">
                <a href="">
                  <span class="icomoon icon-emoticon-smile"></span>
                </a>
              </li>                
            </ul>
          </div>

        </div>
      </div> <!-- /.container-fluid -->
    </div> <!-- /.navbar -->
    <div class="navbar-collapse" collapse="isNavCollapsed">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div><!-- /.navbar-collapse --> 
  </nav>

  <article>
    <section class="component profile-dashboard">
      <div>
        <figure>
          <img src="assets/images/img-profile-spaceship-dashboard-top.png" alt="" />
        </figure>
      </div>

      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="user-avatar">
            <figure>
              <img src="assets/images/img-avatar-dummy-01.png" alt="" class="img-responsive" />
              <figcaption>{{model.rank}}</figcaption>
            </figure>   
            <button type="button" id="editProfile">
              <span class="icomoon icon-edit"></span>
            </button>
          </div>            
        </div>
      </div>

      <div class="profile-data">
        <h4 class="user-name">{{model.fullname}}</h4>
        <p class="user-points">
          <span>{{model.stars}}</span>
          <span class="icomoon icon-star"></span>
        </p>
      </div>

      <div class="profile-settings">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <button class="btn btn-icon-aside left" ng-click="index();">
                <div class="btn-icon">
                  <span class="icomoon icon-settings"></span>
                </div>
                <span for="">Editar perfil</span>
              </button>                
            </div>
            <div class="col-xs-6">
              <button class="btn btn-icon-aside right">
                <div class="btn-icon">
                  <span class="icomoon icon-lock"></span>
                </div>
                <span for="">Privacidad</span>
              </button>                
            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="component profile-options">
      <form action="">
        <div class="pages">
          <div class="page" ng-class="currentPage == 1 ? 'active' : ''">
            <ul class="list-group separate-items">
              <li class="list-group-item" ng-click="navigateToPage(2)">
                <a href="">
                  <span class="icomoon icon-information"></span>
                  <span>Mi Información</span>
                  <span class="icomoon icon-star"></span>
                  <span class="icomoon icon-arrow-slim-right"></span>
                </a>
              </li>
            </ul>
          </div>

          <div class="page" ng-class="currentPage == 2 ? 'active' : ''">
            <div class="panel panel-default panel-form">
              <div class="panel-heading with-icons">
                <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                <span class="icomoon icon-information"></span>
                <h3 class="panel-title">Mi información</h3>
              </div>
              <div class="panel-body">
                <fieldset class="my-profile-form">
                  <section>
                    <h5>Mis Estudios</h5>
                    <ul class="block-list">
                      <li>
                        <div class="form-group" ng-repeat="s in model.studies">
                          <button ng-click="deleteStudy($index);">Borrar</button>
                          <input type="text" class="form-control form-control-lg theme-form" placeholder="Institución" ng-model="s.school" />
                          <select name="" id="" class="form-control form-control-lg theme-form" ng-model="s.levelOfStudies">
                            <option value="Grado">Grado</option>
                            <option value="Primaria">Primaria</option>
                            <option value="Secundaria">Secundaria</option>
                            <option value="Preparatoria">Preparatoria</option>
                            <option value="Profesional">Profesional</option>
                          </select>
                        </div>
                      </li>
                    </ul> 
                    <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addStudy();">
                      <span class="icomoon icon-plus"></span>Agregar nuevo estudio...
                    </button>
                  </section>

                  <section>
                    <h5>Domicilio</h5>
                    <ul class="block-list">
                      <li>
                        <div class="form-group">
                          <input type="text" class="form-control form-control-lg theme-form" placeholder="Calle" ng-model="model.address.street" />
                        </div>
                        <div class="form-group col-2">
                          <input type="text" class="form-control form-control-lg theme-form" placeholder="Núm. Ext." ng-model="model.address.num_ext"  />
                          <input type="text" class="form-control form-control-lg theme-form" placeholder="Núm. Int." ng-model="model.address.num_int"  />
                        </div> 
                        <div class="form-group">
                          <input type="text" class="form-control form-control-lg theme-form" placeholder="Colonia" ng-model="model.address.colony"  />
                        </div>
                        <div class="form-group">
                          <select name="country" id="country" class="form-control form-control-lg theme-form" ng-model="model.address.country">
                            <option disabled selected>País</option>
                            <option value="BO">Bolivia</option>
                            <option value="CO">Colombia</option> 
                            <option value="EC">Ecuador</option> 
                            <option value="ME">México</option> 
                            <option value="PE">Perú</option> 
                            <option value="UR">Uruguay</option> 
                            <option value="VE">Venezuela</option> 
                          </select> 
                        </div> 
                        <div class="form-group">
                          <select name="state" id="state" class="form-control form-control-lg theme-form" ng-model="model.address.state">
                            <option disabled selected>Estado</option>
                            <option value="Coahuila">Coahuila</option>
                            <option value="Jalisco">Jalisco</option>
                            <option value="México">México</option>
                            <option value="Nuevo León">Nuevo León</option>
                          </select> 
                        </div> 
                        <div class="form-group">
                          <select name="" id="ciudad" class="form-control form-control-lg theme-form" ng-model="model.address.city">
                            <option disabled selected>Ciudad</option>
                            <option value="Guadalajara">Guadalajara</option>
                            <option value="México D.F.">México D.F.</option>
                            <option value="Monterrey">Monterrey</option>
                          </select> 
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control form-control-lg theme-form" placeholder="Municipio / Delegación" ng-model="model.address.town" />
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control form-control-lg theme-form" placeholder="Código Postal" ng-model="model.address.postalCode" />
                        </div>
                      </li>
                    </ul> 
                  </section>

                  <div class="page-number">
                    <p class="text-center">
                      <span>1</span>
                      <span>/</span>
                      <span>2</span>
                    </p>
                  </div>

                  <div class="actions">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateToPage(3)">Continuar</button>
                    <a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>

           <div class="page " ng-class="currentPage == 3 ? 'active' : ''">
            <div class="panel panel-default panel-form">
              <div class="panel-heading with-icons">
                <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                <span class="icomoon icon-information"></span>
                <h3 class="panel-title">Mi información</h3>
              </div>
              <div class="panel-body">
                <fieldset class="my-profile-form">
                  <section>
                    <h5>Teléfono</h5>
                    <ul class="block-list">
                      <li>
                        <div class="form-group" ng-repeat="p in model.phones track by $index">
                          <button type="button" ng-click="deletePhone($index);">Borrar</button>
                          <input type="text" class="form-control form-control-lg theme-form" placeholder="Número Telefónico" ng-model="model.phones[$index]">
                        </div>
                      </li>
                    </ul> 
                    <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addPhone();">
                      <span class="icomoon icon-plus"></span>Agregar nuevo número...
                    </button>
                  </section>

                  <section>
                    <h5>Correo</h5>
                    <ul class="block-list">
                      <li>
                        <div class="form-group">
                          <input type="text" class="form-control form-control-lg theme-form" placeholder="Correo Electrónico" ng-model="model.email">
                        </div>
                      </li>
                    </ul> 
                    <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addEmail();">
                      <span class="icomoon icon-plus"></span>Agregar nuevo correo...
                    </button>
                  </section>

                  <section>
                    <h5>Redes sociales</h5>
                    <ul class="block-list" ng-repeat="sn in model.socialNetworks">
                      <li>
                        <div class="form-group">
                          <button type="button" ng-click="deleteSocialNetwork($index);">Borrar</button>
                          <select name="country" id="country" class="form-control form-control-lg theme-form" ng-model="sn.socialNetwork">
                            <option disabled>Red Social</option>
                            <option value="Facebook">Facebook</option>
                            <option value="Instagram">Instagram</option>
                            <option value="Twitter">Twitter</option>
                          </select> 
                        </div>                               
                        <div class="form-group">
                          <input type="text" class="form-control form-control-lg theme-form" placeholder="Nombre de Usuario" ng-model="sn.socialNetworkId" />
                        </div>
                      </li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addSocialNetwork();">
                      <span class="icomoon icon-plus"></span>Agregar nueva red social...
                    </button>                          
                  </section>

                  <section>
                    <h5>Familiares Compartamos</h5>
                    <ul class="block-list" ng-repeat="fc in model.familiaCompartamos">
                      <li>
                        <div class="form-group">
                          <button type="button" ng-click="deleteFamiliaCompartamos($index);">Borrar</button>
                          <input type="text" class="form-control form-control-lg theme-form" placeholder="No. Cliente Compartamos" ng-model="fc.idClient" />
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control form-control-lg theme-form" placeholder="Nombre Completo" ng-model="fc.relativeName" />
                        </div>                              
                        <div class="form-group">
                          <select name="country" id="country" class="form-control form-control-lg theme-form" ng-model="fc.relationship">
                            <option disabled>Parentesco</option>
                            <option value="Mamá">Mamá</option>
                            <option value="Papá">Papá</option>
                          </select> 
                        </div>
                      </li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-add" ng-click="addFamiliaCompartamos();">
                      <span class="icomoon icon-plus"></span>Agregar familiar compartamos...
                    </button>                          
                  </section>                        

                  <div class="page-number">
                    <p class="text-center">
                      <span>2</span>
                      <span>/</span>
                      <span>2</span>
                    </p>
                  </div>

                  <div class="actions">
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="save();">Guardar</button>
                    <a class="btn btn-default btn-transparent btn-lg btn-block" ng-click="navigateToPage(1);">Cancelar</a>
                  </div>
                </fieldset>                        
              </div>
            </div>



        </div>
      </form>
    </section> 
  </article>
 
  <footer>
    <ul class="block-list">
      <li><a href="" class="btn-link">Preguntas Frecuentes</a></li>
      <li><a href="" class="btn-link">Ayuda y Soporte</a></li>
    </ul>
    <a class="btn-back-to-top" ng-click="scrollToTop();">
      <span class="icomoon icon-double-arrow-up"></span>
      <span>Subir</span>
    </a>
  </footer>

</div>