<div class="incluso-app step-dashboard" id="site-wrapper">
  <div id="site-menu" >
<nav class="ng-scope">
      <div id="navBar" class="navbar">
        <div class="container-fluid">
          <div class="row">

            <div class="navbar-assets">
              <h1 class="navbar-heading"><a id="closeaton" data-transition="ease"><i class="icomoon icon-cross white"></i> Menu</a></h1>
              
            </div> 
          </div>
        </div>
      </div>
    </nav>
    <ul class="nav">
      <li><a ng-href="#/ProgramaDashboard"><i class="icomoon icon-home"></i> Inicio</a></li>
      <li><a ng-href="#/Tutorial"><i class="icomoon icon-video-file"></i> Guía de uso</a></li>
      <li>
	  <a class="menu-blue" ng-href="#/ProgramaDashboardEtapa/1">
	  <i class="icomoon icon-spaceship"></i> Etapa 1</a></li>
      <li><i class="icomoon icon-arrow fl-right white accsub pointer" data-id="1"></i><a class="menu-green">
	  <i class="icomoon icon-asterodis">
				<span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span><span class="path22"></span><span class="path23"></span><span class="path24"></span><span class="path25"></span><span class="path26"></span><span class="path27"></span><span class="path28"></span><span class="path29"></span>
				</i> Link</a>
	  <div class="submenu" id="sub1">
	<ul>
		<li>Título sin liga</li>
		<li><a>Bien</a></li>
		<li><a>Bien 2</a></li>
		<li><a>Bien 3</a></li>
		<li><a>Bien 4</a></li>
	</ul>
	</div>
	  </li>
      <li><i class="icomoon icon-arrow fl-right white accsub pointer" data-id="2"></i><a class="menu-pink">
<span class="icomoon icon-planet">
				<span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
				</span>	  Link</a>
	  <div class="submenu" id="sub2">
	<ul>
		<li>Título sin liga2</li>
		<li><a>Bien</a></li>
		<li><a>Bien 2</a></li>
		<li><a>Bien 3</a></li>
		<li><a>Bien 4</a></li>
	</ul>
	<ul>
		<li>Título sin liga3</li>
		<li><a>Bien</a></li>
		<li><a>Bien 2</a></li>
		<li><a>Bien 3</a></li>
		<li><a>Bien 4</a></li>
	</ul>
	</div></li>
      <li><a><i class="icomoon icon-books "></i> Acerca de Incluso</a></li>
      <li><a><i class="icomoon icon-cup"></i> Salón de la fama</a></li>
      <li><a><i class="icomoon icon-loop"></i> Seguimiento</a></li>
      <li><a><i class="icomoon icon-document"></i> Certificación</a></li>
      <li><a><i class="icomoon icon-racing-flag "></i> Recuerdos Incluso</a></li>
      <li><a><i class="icomoon icon-lifesaver"></i> Preguntas frecuentes</a></li>
      <li><a><i class="icomoon icon-notes"></i> Aviso de privacidad</a></li>
    </ul>
  </div>
  <div id="site-canvas">

    <nav ng-controller="navController">
      <div class="navbar" id="navBar">
        <div class="container-fluid">
          
          <div class="row">

            <div class="navbar-assets">
              <h1 class="navbar-heading"><a data-transition="ease" id="menuton"><i class="icomoon icon-more-options"></i> Estación: Conócete</a></h1>
              <ul class="navbar-tools">
                <li class="contribute">
                  <a href="">
                    <i class="icomoon icon-edit"></i>
                  </a>
                </li>
                <li class="notifications">
                  <a href="">
                    <i class="icomoon icon-antena"></i>
                  </a>
                </li>
                <li class="chat">
                  <a href="">
                    <i class="icomoon icon-chat"></i>
                  </a>
                </li>
                <li class="profile">
                  <a href="" ng-href="#/Perfil/">
                    <i class="icomoon icon-emoticon-smile"></i>
                  </a>
                </li>                 
              </ul>
            </div> 
          </div>
        </div>
      </div> <!-- /.container-fluid -->
    </nav>
 
  <article>

<section class="component video-gallery">
          <h3>- Título de Video -</h3>
          <div class="stage perform">
            <button class="icon icon-close"></button>
            <button class="icon icon-play"></button> 
            <figure class="player">
              <video poster="assets/images/ptr-video-0001.jpg" >
                <source src="http://techslides.com/demos/sample-videos/small.webm" type="video/webm" />
                <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg" />
                <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4" />
                <source src="http://techslides.com/demos/sample-videos/small.3gp" type="video/3gp" />
                Ups! Parece que tu dispositivo no soporta video
              </video>
            </figure>
          </div>
</section>

	<section class="holoproj">
	<div class="centered txt-title">MIS RETOS</div>
<div id="carousel-example-generic2" class="carousel">

	<div id="owl-demo2" class="owl-carousel" >

	  <div id="item{{$index}}" class="item visib" ng-repeat="c in model.Challenges">
     <img src="assets/images/{{c.Image}}">
     <div class="txt-renglon centered">{{c.Description}}</div>
    </div>
	 </div>

    <a class="control" href="#" id="prev">
      <span class="icomoon icon-arrow-bold-left"></span>
    </a>
    <a class="control" href="#" id="next">
      <span class="icomoon icon-arrow-bold-right"></span>
    </a>
</div> 

	  <div class="light"><img src="assets/images/img-light-cone.png"></div>
	</section>	

	<section class="jector">
	</section>
	<section class="parts">
	<div id="owl-demo" class="owl-carousel">
      <div>
				<div class="part"><i class="icomoon icon-checked-join"></i><span>Sueña</span><span><i class="icomoon icon-star fl-right"></i><i class="icomoon icon-play fl-right"></i></span></div>
			</div>

      <div>
				<div class="part"><i class="icomoon icon-checked-join"></i><span>Sueña</span><span><i class="icomoon icon-star fl-right"></i><i class="icomoon icon-play fl-right"></i></span></div>
				<div class="part"><i class="icomoon icon-wrong"></i><span>Fora Común</span><span><i class="icomoon icon-star fl-right"></i><i class="icomoon icon-play fl-right"></i></span></div>
			</div>

      <div>
				<div class="part"><i class="icomoon icon-checked-join"></i><span>Sueña</span><span><i class="icomoon icon-star fl-right"></i><i class="icomoon icon-play fl-right"></i></span></div>
				<div class="part"><i class="icomoon icon-wrong"></i><span>Fora Común</span><span><i class="icomoon icon-star fl-right"></i><i class="icomoon icon-play fl-right"></i></span></div>
				<div class="part"><i class="icomoon icon-wrong"></i><span>Fora Común</span><span><i class="icomoon icon-star fl-right"></i><i class="icomoon icon-play fl-right"></i></span></div>
			</div>
              
    </div>
	
<div><img src="assets/images/img-consoles.png"></div>
	</section>
	
	
	<section class="progreso">
		<div class="spinner">
			<img src="assets/images/prcnt/{{Math.ceil(model.StageProgress)}}.png"><div class="circle"></div><div class="text">{{model.StageProgress}}%</div>
		</div>
	</section>
	<section class="hangar-bay">	
	    <div id="ship">
      <img src="assets/images/img-ship-01.png"/>
    </div>
	</section>
	
  </article>

  <footer class="footer">
    <ul class="block-list">
      <li><a href="" class="centered txt-title">Preguntas Frecuentes</a></li>
      <li><a href="" class="centered txt-title">Ayuda y Soporte</a></li>
    </ul>
    <a href="#navBar" class="to-top"><i class="icomoon icon-double-arrow-up"></i><br/>SUBIR</a>
  </footer>
		</div>
		</div>
  <!-- html -->
  <!-- scripts -->

    
  <script>
  $(document).ready(function() {

    setTimeout(function(){

      var hits = 1;
      var owl = $("#owl-demo");
      owl.owlCarousel({
        navigation:false,
        pagination:false,
        paginationSpeed : 1000,
        goToFirstSpeed : 2000,
        singleItem : true,
        autoHeight : true,
        afterMove: callback2
      });
      var owl2 = $("#owl-demo2");
      owl2.owlCarousel({
        navigation:false,
        pagination:false,
        paginationSpeed : 1000,
        goToFirstSpeed : 2000,
        singleItem : true,
        autoHeight : true,
        afterMove: callback1
      });
      function callback1(event) {
        var item      = this.currentItem;
        owl.trigger("owl.goTo",item);
      }
      function callback2(event) {
        var item      = this.currentItem;
        owl2.trigger("owl.goTo",item);
      }

      $("#next").click(function(){
        owl.trigger('owl.next');
        return false;
      })
      $("#prev").click(function(){
        owl.trigger('owl.prev');
        return false;
      })
    }, 1000);

});
</script>
<script type="text/javascript" src="Scripts/scriptmenu.js"></script>
