<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Incluso Digital</title>
  <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" type="text/css" href="assets/styles/bootstrap.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/styles/css.css"> -->
  <link rel="stylesheet" type="text/css" href="../../assets/styles/dev-css.css">
	<link rel="stylesheet" href="../../assets/styles/font.css">
  <script type="text/javascript" src="../../Scripts/jquery-1.11.2.js"></script>
  <script type="text/javascript" src="../../Scripts/bootstrap-3.3.2.js"></script>
  <script type="text/javascript" src="../../Scripts/angular.js"></script>
</head>
<body class="incluso-app step-dashboard" ng-app>

  <div class="navbar navbar-step" id="navBar">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navigation">
          <span class="sr-only">Toggle navigation</span>
          <i class="icon-more-options"></i>
        </button>

        <div class="navbar-assets">
          <h1 class="navbar-heading">Estación: Conócete</h1>
          <ul class="navbar-tools">
            <li class="contribute">
              <a href="">
                <i class="icon-edit"></i>
              </a>
            </li>
            <li class="notifications">
              <a href="">
                <i class="icon-antena"></i>
              </a>
            </li>
            <li class="chat">
              <a href="">
                <i class="icon-chat"></i>
              </a>
            </li>
            <li class="profile">
              <a href="">
                <i class="icon-emoticon-smile"></i>
              </a>
            </li>                 
          </ul>
        </div>         
      </div>


    </div><!-- /.container-fluid -->
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="app-navigation">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->  

  <article class="blueprint">

	<section>
<div class="subtitle">Evaluación "Título"</div>
<div class="txt-renglon">Responde lo siguiente:</div>
<div class="txt-renglon txt-bigger">1.¿Pregunta de Selección Sencilla?</div>
</section>
<section class="forma txt-renglon txt-bigger agregar">
		<input type="radio" value="sime" name="gender" id="male">
		<label for="male">Me gusta</label>
		<input type="radio" value="nome" name="gender" id="female">
		<label for="female">No me gusta</label>
		<input type="radio" value="auno" name="gender" id="auno">
		<label for="auno">Aún no me decido</label>
</section>
<section class="controls">
<div class="paginadores">
<i class="icon-arrow-bold-right txt-bigger fl-right"></i>
<div class="centrado"><span class="txt-bigger">1/</span><span class="blanco txt-bigger">5</span></div>
</div><br/>
<div class="txt-renglon centrado txt-bigger">Cancelar</div>
</section>

  </article>

  <footer class="footer">
    <ul class="block-list">
      <li><a href="" class="centrado txt-title">Preguntas Frecuentes</a></li>
      <li><a href="" class="centrado txt-title">Ayuda y Soporte</a></li>
    </ul>
    <a href="#navBar" class="to-top"><i class="icon-double-arrow-up"></i><br/>SUBIR</a>
  </footer>
  <!-- html -->
  <!-- scripts -->
</body>
</html>