 <!-- Sidebars -->
    <div ui-track-as-search-param='true' class="sidebar sidebar-left ng-scope">
        <div ui-track-as-search-param="true" class="sidebar sidebar-left ng-scope"><div class="scrollable ng-scope">
          <div class="scrollable-content">
            <div class="list-group" ui-turn-off="uiSidebarLeft">
              <div id="site-menu" >
                  <nav class="ng-scope">
                    <div id="navBar" class="navbar" ng-class="{'navbar-blue': navbarBlue, 'navbar-orange': navbarOrange}">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="navbar-assets">
                            <h1 class="navbar-heading" ng-click="sideToggle()"><a id="closeaton" data-transition="ease"><i class="icomoon icon-cross white"></i> Menu</a></h1>
                          </div>
                        </div>
                      </div>
                    </div>
                  </nav>
                  <ul class="nav" ng-controller="menuController">
                    <li><a ng-click="navigateTo('ProgramaDashboard', 'Mision Incluso', 'sideToggle', 'navbarorange')"><i class="icomoon icon-home"></i> Inicio</a></li>
                    <li><a ng-click="navigateTo('AcercaPrograma', 'Acerca del Programa', 'sideToggle', 'navbarorange')"><i class="icomoon icon-books "></i> Acerca de Incluso</a></li>
                    <li><a ng-click="navigateTo('Tutorial','Guia de Uso', 'sideToggle', 'navbarorange')"><i class="icomoon icon-video-file"></i> Guía de uso</a></li>
                    <li><a ng-click="playVideo('assets/media', 'TutorialTest2.mp4')"><i class="icomoon icon-video-file"></i> Ver video tutorial</a></li>
                    <li>
                        <i class="icomoon icon-arrow fl-right white pointer" ></i>
                        <a class="menu-blue accsub" data-id="0">
                          <i class="icomoon icon-spaceship">
                              <span class="path1"></span>
                              <span class="path2"></span>
                              <span class="path3"></span>        
                          </i>
                          Zona de Vuelo
                        </a>
                        <div class="submenu" id="sub0">
                            <ul>
                              <li>Cuarto de recursos</li>
                              <li><a ng-click="navigateTo('etapa-1','Estacion: Conocete', 'sideToggle', 'navbarblue')">Fuente de energía</a></li>
                            </ul>
                            <ul>
                                <li>Conócete</li>
                                <li><a ng-click="navigateTo('etapa-1.shtml','Estacion: Conocete', 'sideToggle', 'navbarblue')">Fuente de energía</a></li>
                                <li><a ng-click="navigateTo('Juegos/Game','Reto múltiple', 'sideToggle', 'navbarorange')">Reto múltiple </a></li>
                                <li><a ng-click="navigateTo('foro.html','Punto de encuentro', 'sideToggle', 'navbarorange')">Punto de encuentro </a></li>
                                <li><a ng-click="navigateTo('foro.html','Zona de contacto', 'sideToggle', 'navbarorange')">Zona de contacto</a></li>
                            </ul>
                            
                            <ul>
                                <li>Mis sueños </li>
                                <li><a ng-click="navigateTo('etapa-1','Estacion: Conocete', 'sideToggle', 'navbarblue')">Fuente de energía</a></li>
                                <li><a ng-click="navigateTo('gustypref','Mis gustos', 'sideToggle', 'navbarorange')">Mis gustos</a></li>
                                <li><a ng-click="navigateTo('cuaytal','Mis cualidades', 'sideToggle', 'navbarorange')">Mis Cualidades</a></li>
                                <li><a ng-click="navigateTo('cuaytal','Sueña', 'sideToggle', 'navbarorange')">Sueña</a></li>
                                <li><a ng-click="navigateTo('foro','Punto de encuentro', 'sideToggle', 'navbarorange')">Punto de encuentro </a></li>
                            </ul>
                            <ul>
                                <li>Cabina de soporte</li>
                                <li><a ng-click="navigateTo('juegos/Game','Reto múltiple', 'sideToggle', 'navbarorange')">Chat</a></li>
                                
                                <!--<li><a  ng-href="./Templates/Programa/forocom.shtml"> Foro común</a></li>-->
                            </ul>
                        </div>
                    </li>
                    <li class="hidden"><a class="menu-green" ng-href="#"><i class="icomoon icon-asterodis"></i>Zona de Navegación</a></li>
                    <li class="hidden"><a class="menu-pink" ng-href="#"><i class="icomoon icon-planet"></i>Zona de Aterrizaje</a></li>                    
                    <li><a><i class="icomoon icon-cup"></i> Salón de la fama</a></li>
                    <li class="hidden"><a><i class="icomoon icon-racing-flag "></i> Recuerdos Incluso</a></li>
                    <li class="hidden"><a><i class="icomoon icon-loop"></i> Seguimiento</a></li>
                    <li class="hidden"><a><i class="icomoon icon-document"></i> Certificación</a></li>                    
                    <li class="hidden"><a><i class="icomoon icon-lifesaver"></i> Preguntas frecuentes</a></li>
                    <li><a><i class="icomoon icon-notes"></i> Aviso de privacidad</a></li>
                    <li><a><i class="icomoon icon-notes"></i> Condiciones de uso</a></li>
                    <li><a ng-click="logout()"><i class="glyphicon glyphicon-off"></i> Salir</a></li>                    
                  </ul>
                </div>
            </div>
          </div>
        </div>
        </div>
    </div>