<div class="incluso-app profile" id="site-wrapper">
  <div id="site-menu">
    <nav class="ng-scope">
      <div id="navBar" class="navbar">
        <div class="container-fluid">
          <div class="row">

            <div class="navbar-assets">
              <h1 class="navbar-heading"><a id="closeaton" data-transition="ease"><i class="icomoon icon-cross white"></i> Menu</a></h1>
              
            </div> 
          </div>
        </div>
      </div>
    </nav>
    <ul class="nav">
      <li><a ng-href="#/ProgramaDashboard"><i class="icomoon icon-home"></i> Inicio</a></li>
      <li><a><i class="icomoon icon-video-file"></i> Guía de uso</a></li>
      <li><a class="menu-blue" ng-href="#/ProgramaDashboardEtapa/1"><i class="icomoon icon-spaceship"></i> Etapa 1</a></li>
      <li><i class="icomoon icon-arrow fl-right white accsub pointer" data-id="1"></i><a class="menu-green">
	  <i class="icomoon icon-asterodis">
				<span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span><span class="path22"></span><span class="path23"></span><span class="path24"></span><span class="path25"></span><span class="path26"></span><span class="path27"></span><span class="path28"></span><span class="path29"></span>
				</i> Link</a>
	  <div class="submenu" id="sub1">
	<ul>
		<li>Título sin liga</li>
		<li><a>Bien</a></li>
		<li><a>Bien 2</a></li>
		<li><a>Bien 3</a></li>
		<li><a>Bien 4</a></li>
	</ul>
	</div>
	  </li>
      <li><i class="icomoon icon-arrow fl-right white accsub pointer" data-id="2"></i><a class="menu-pink">
<span class="icomoon icon-planet">
				<span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
				</span>	  Link</a>
	  <div class="submenu" id="sub2">
	<ul>
		<li>Título sin liga2</li>
		<li><a>Bien</a></li>
		<li><a>Bien 2</a></li>
		<li><a>Bien 3</a></li>
		<li><a>Bien 4</a></li>
	</ul>
	<ul>
		<li>Título sin liga3</li>
		<li><a>Bien</a></li>
		<li><a>Bien 2</a></li>
		<li><a>Bien 3</a></li>
		<li><a>Bien 4</a></li>
	</ul>
	</div></li>
      <li><a><i class="icomoon icon-books "></i> Acerca de Incluso</a></li>
      <li><a><i class="icomoon icon-cup"></i> Salón de la fama</a></li>
      <li><a><i class="icomoon icon-loop"></i> Seguimiento</a></li>
      <li><a><i class="icomoon icon-document"></i> Certificación</a></li>
      <li><a><i class="icomoon icon-racing-flag "></i> Recuerdos Incluso</a></li>
      <li><a><i class="icomoon icon-lifesaver"></i> Preguntas frecuentes</a></li>
      <li><a><i class="icomoon icon-notes"></i> Aviso de privacidad</a></li>
    </ul>
  </div>
  <div id="site-canvas">

    <nav ng-controller="navController">
      <div class="navbar" id="navBar">
        <div class="container-fluid">
          
          <div class="row">

            <div class="navbar-assets">
              <h1 class="navbar-heading"><a data-transition="ease" id="menuton"><i class="icomoon icon-more-options"></i> Mi Perfil</a></h1>
              <ul class="navbar-tools">
                <li class="contribute">
                  <a href="">
                    <i class="icomoon icon-edit"></i>
                  </a>
                </li>
                <li class="notifications">
                  <a href="">
                    <i class="icomoon icon-antena"></i>
                  </a>
                </li>
                <li class="chat">
                  <a href="">
                    <i class="icomoon icon-chat"></i>
                  </a>
                </li>
                <li class="profile active">
                  <a href="" ng-href="#/Perfil/">
                    <i class="icomoon icon-emoticon-smile"></i>
                  </a>
                </li>                 
              </ul>
            </div> 
          </div>
        </div>
      </div> <!-- /.container-fluid -->
    </nav>
 
  <article>
      <section class="component profile-dashboard">
        <div>
          <figure>
            <img src="assets/images/img-profile-spaceship-dashboard-top.png" alt="" />
          </figure>
        </div>

        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="user-avatar">
              <figure>
                <img src="assets/images/img-avatar-dummy-01.png" alt="" class="img-responsive" />
                <figcaption ng-bind="model.rank >= 0 ? model.rank : '?'"></figcaption>
              </figure>   
              <button type="button" id="editProfile">
                <span class="icomoon icon-edit"></span>
              </button>       
            </div>            
          </div>
        </div>

        <div class="profile-data">
          <h4 class="user-name" ng-bind="model.fullname"></h4>
          <p class="user-points">
            <span ng-bind="model.stars"></span>
            <span class="icomoon icon-star"></span>
          </p>
          <!-- <span class="badge">100<span class="icomoon icon-star"></span></span> -->
        </div>
        <div class="profile-settings">
          <div class="container">
            <div class="row">
              <div class="col-xs-6">
                <button class="btn btn-icon-aside left" ng-click="edit();">
                  <div class="btn-icon">
                    <span class="icomoon icon-settings"></span>
                  </div>
                  <span for="">Editar perfil</span>
                </button>                
              </div>
              <div class="col-xs-6">
                <button class="btn btn-icon-aside right">
                  <div class="btn-icon">
                    <span class="icomoon icon-lock"></span>
                  </div>
                  <span for="">Privacidad</span>
                </button>                
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="component profile-options">
        <div class="pages">
          <div class="page" ng-class="currentPage == 1 ? 'active' : ''">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <ul class="list-group separate-items">
                    <li class="list-group-item" ng-click="navigateToPage(2)">
                      <a href="">
                        <span class="icomoon icon-information"></span>
                        <span>Mi Información</span>
                        <span class="icomoon icon-star"></span>
                        <span class="icomoon icon-arrow-slim-right"></span>
                      </a>
                    </li>

                    <li class="list-group-item" ng-click="navigateToPage(3)">
                      <a href="">
                        <span class="icomoon icon-document"></span>
                        <span>Cualidades y Talentos</span>
                        <span class="icomoon icon-star"></span>
                        <span class="icomoon icon-arrow-slim-right"></span>
                      </a>
                    </li>

                    <li class="list-group-item" ng-click="navigateToPage(4)">
                      <a href="">
                        <span class="icomoon icon-required"></span>
                        <span>Gustos y Preferencias</span>
                        <span class="icomoon icon-star"></span>
                        <span class="icomoon icon-arrow-slim-right"></span>
                      </a>
                    </li>

                    <li class="list-group-item no-badge" ng-click="navigateToPage(5)">
                      <a href="">
                        <span class="icomoon icon-badge"></span>
                        <span>Insignias Ganadas</span>
                        <span class="icomoon icon-star"></span>
                        <span class="icomoon icon-arrow-slim-right"></span>
                      </a>
                    </li> 

                    <li class="list-group-item no-badge" ng-click="navigateToPage(6)" ng-show="model.strengths.length > 0">
                      <a href="">
                        <span class="icomoon icon-workman"></span>
                        <span>Mis Fortalezas</span>
                        <span class="icomoon icon-star"></span>
                        <span class="icomoon icon-arrow-slim-right"></span>
                      </a>
                    </li>

                    <li class="list-group-item no-badge" ng-click="navigateToPage(7)" ng-show="model.recomendedBachelorDegrees.length > 0">
                      <a href="">
                        <span class="icomoon icon-user"></span>
                        <span>Carreras Afínes</span>
                        <span class="icomoon icon-star"></span>
                        <span class="icomoon icon-arrow-slim-right"></span>
                      </a>
                    </li> 

                    <li class="list-group-item no-badge" ng-click="navigateToPage(8)" ng-show="(model.dreamsToBe.length > 0 || model.dreamsToHave.length > 0 || model.dreamsToDo.length > 0)">
                      <a href="">
                        <span class="icomoon icon-rocket"></span>
                        <span>Mis Sueños</span>
                        <span class="icomoon icon-star"></span>
                        <span class="icomoon icon-arrow-slim-right"></span>
                      </a>
                    </li> 

                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="page" ng-class="currentPage == 2 ? 'active' : ''">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                      <span class="icomoon icon-information"></span>
                      <h3 class="panel-title">Mi información</h3>
                    </div>
                    <div class="panel-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-12">
                            <h5>Mis Estudios</h5>
                            <ul class="block-list" ng-repeat="s in model.studies">
                              <li>
                                <p ng-bind="s.school"></p>
                                <p ng-bind="s.levelOfStudies"></p>
                              </li>
                            </ul>                            
                            <hr />

                            <h5>Domicilio</h5>
                            <p ng-bind="model.address.street + ' ' + model.address.num_ext + ' ' + model.address.num_int + ' ' + model.address.colony + ' ' + model.address.city + ' ' + model.address.town + ' ' + model.address.state + ' ' + model.address.country + ' ' + model.address.postalCode"></p>
                            <hr />

                            <h5>Teléfono</h5>
                            <ul class="block-list" ng-repeat="t in model.phones">
                              <li>
                                <p ng-bind="t"></p>
                              </li>                           
                            </ul>
                            <hr />

                            <h5>Correo</h5>
                            <ul class="block-list">
                              <li>
                                <p ng-bind="model.email"></p>
                              </li>                             
                            </ul>
                            <hr />

                            <h5>Redes Sociales</h5>
                            <ul class="block-list" ng-repeat="sn in model.socialNetworks">
                              <li>
                                <p>
                                  <label for="" ng-bind="sn.socialNetwork + '.'"></label>
                                  <span ng-bind="sn.socialNetworkId"></span>                                  
                                </p>
                              </li>                            
                            </ul>
                            <hr />

                            <h5>Familia Compartamos</h5>
                            <ul class="block-list" ng-repeat="fc in model.familiaCompartamos">
                              <li>
                                <p>
                                  <label for="">No. Cliente</label>
                                  <span ng-bind="fc.idClient"></span>
                                </p>
                                <p ng-bind="fc.relativeName"></p>
                                <p><em ng-bind="fc.relationship"></em></p>
                              </li>                             
                            </ul>
                            <br />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>
          <div class="page" ng-class="currentPage == 3 ? 'active' : ''">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                      <span class="icomoon icon-information"></span>
                      <h3 class="panel-title">Cualidades y Talentos</h3>
                    </div>
                    <div class="panel-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-12">
                            <ul class="block-list" ng-repeat="aq in model.attributesAndQualities">
                              <li>
                                <p ng-bind="aq"></p>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>
          <div class="page" ng-class="currentPage == 4 ? 'active' : ''">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                      <span class="icomoon icon-information"></span>
                      <h3 class="panel-title">Gustos y Preferencias</h3>
                    </div>
                    <div class="panel-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-12">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>
          <div class="page" ng-class="currentPage == 5 ? 'active' : ''">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                      <span class="icomoon icon-information"></span>
                      <h3 class="panel-title">Insignias Ganadas</h3>
                    </div>
                    <div class="panel-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-12">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>
          <div class="page" ng-class="currentPage == 6 ? 'active' : ''">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                      <span class="icomoon icon-information"></span>
                      <h3 class="panel-title">Mis Fortalezas</h3>
                    </div>
                    <div class="panel-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-12" ng-repeat="s in model.strengths">
                            <h5 ng-bind="s.name"></h5>
                            <ul class="block-list" ng-repeat="v in s.values">
                              <li>
                                <p ng-bind="v"></p>
                              </li>
                            </ul>                            
                            <hr />                            
                            </ul>
                            <br />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>
          <div class="page" ng-class="currentPage == 7 ? 'active' : ''">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                      <span class="icomoon icon-information"></span>
                      <h3 class="panel-title">Carreras Afínes</h3>
                    </div>
                    <div class="panel-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-12">
                            <ul class="block-list" ng-repeat="b in model.recomendedBachelorDegrees">
                              <li>
                                <p ng-bind="b"></p>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>
          <div class="page" ng-class="currentPage == 8 ? 'active' : ''">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                      <span class="icomoon icon-information"></span>
                      <h3 class="panel-title">Mis Sueños</h3>
                    </div>
                    <div class="panel-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-12">
                            <h5>Sueños Ser</h5>
                            <ul class="block-list" ng-repeat="db in model.dreamsToBe">
                              <li>
                                <p ng-bind="db"></p>
                              </li>
                            </ul>                            
                            <hr />
                            </ul>

                            <h5>Sueños Tener</h5>
                            <ul class="block-list" ng-repeat="dh in model.dreamsToHave">
                              <li>
                                <p ng-bind="dh"></p>
                              </li>
                            </ul>                            
                            <hr />
                            </ul>

                            <h5>Sueños Hacer</h5>
                            <ul class="block-list" ng-repeat="dd in model.dreamsToDo">
                              <li>
                                <p ng-bind="dd"></p>
                              </li>
                            </ul>                            
                            <hr />
                            </ul>
                            <br />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 
  </article>
 
  <footer>
    <ul class="block-list">
      <li><a href="" class="btn-link">Preguntas Frecuentes</a></li>
      <li><a href="" class="btn-link">Ayuda y Soporte</a></li>
    </ul>
    <a class="btn-back-to-top" ng-click="scrollToTop();">
      <span class="icomoon icon-double-arrow-up"></span>
      <span>Subir</span>
    </a>
  </footer>

</div>

  <script type="text/javascript" src="Scripts/scriptmenu.js"></script>
