<div class="incluso-app profile" id="site-wrapper">
    <div id="site-menu">
        <menu-component></menu-component>
    </div>
    <div id="site-canvas">

        <nav ng-controller="navController">
            <div class="navbar" id="Div1">
                <div class="container-fluid">

                    <div class="row">

                        <div class="navbar-assets">
                            <h1 class="navbar-heading"><a data-transition="ease" id="menuton"><i class="icomoon icon-more-options"></i>Mi perfil</a></h1>
                            <ul class="navbar-tools">
                                <li class="contribute">
                                    <a href="">
                                        <i class="icomoon icon-edit"></i>
                                    </a>
                                </li>
                                <li class="notifications">
                                    <a href="">
                                        <i class="icomoon icon-antena"></i>
                                    </a>
                                </li>
                                <li class="chat">
                                    <a href="">
                                        <i class="icomoon icon-chat"></i>
                                    </a>
                                </li>
                                <li class="profile active">
                                    <a href="" ng-href="#/Perfil/">
                                        <i class="icomoon icon-emoticon-smile"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>

        <article>
            <section class="component profile-dashboard">
                <div>
                    <figure>
                        <img src="assets/images/img-profile-spaceship-dashboard-top.png" alt="" />
                    </figure>
                </div>
                <div>
                    <div class="user-avatar">
                        <figure>
                            <img src="assets/images/img-avatar-dummy-01.png" alt="" class="img-responsive" />
                            <figcaption ng-bind="model.rank >= 0 ? model.rank : '?'"></figcaption>
                        </figure>
                        <button type="button" id="editProfile">
                            <span class="icomoon icon-edit"></span>
                        </button>
                    </div>
                </div>
                <div>
                    <div class="profile-data">
                        <h4 class="user-name" ng-bind="model.alias"></h4>
                        <!-- <h4 class="user-name">leonardo garza r.</h4> -->
                        <p class="user-points">
                            <span ng-bind="model.stars"></span>
                            <span class="icomoon icon-star"></span>
                        </p>
                    </div>
                    <div class="profile-settings">
                        <button class="btn btn-icon-aside left" ng-click="edit();">
                            <div class="btn-icon">
                                <span class="icomoon icon-settings"></span>
                            </div>
                            <span for="">Editar perfil</span>
                        </button>

                        <button class="btn btn-icon-aside right">
                            <div class="btn-icon">
                                <span class="icomoon icon-lock"></span>
                            </div>
                            <span for="">Privacidad</span>
                        </button>
                    </div>
                </div>
            </section>
            <section class="component profile-options">
                <div class="pages">
                    <div class="page" ng-class="currentPage == 1 ? 'active' : ''">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="list-group separate-items">
                                        <li class="list-group-item" ng-click="navigateToPage(2)">
                                            <a href="">
                                                <span class="icomoon icon-information"></span>
                                                <span>Mi Información</span>
                                                <span class="icomoon icon-star"></span>
                                                <span class="icomoon icon-arrow-slim-right"></span>
                                            </a>
                                        </li>

                                        <li class="list-group-item" ng-click="navigateToPage(3)">
                                            <a href="">
                                                <span class="icomoon icon-document"></span>
                                                <span>Cualidades y Talentos</span>
                                                <span class="icomoon icon-star"></span>
                                                <span class="icomoon icon-arrow-slim-right"></span>
                                            </a>
                                        </li>

                                        <li class="list-group-item" ng-click="navigateToPage(4)">
                                            <a href="">
                                                <span class="icomoon icon-required"></span>
                                                <span>Gustos y Preferencias</span>
                                                <span class="icomoon icon-star"></span>
                                                <span class="icomoon icon-arrow-slim-right"></span>
                                            </a>
                                        </li>

                                        <li class="list-group-item no-badge" ng-click="navigateToPage(5)">
                                            <a href="">
                                                <span class="icomoon icon-badge"></span>
                                                <span>Insignias Ganadas</span>
                                                <span class="icomoon icon-star"></span>
                                                <span class="icomoon icon-arrow-slim-right"></span>
                                            </a>
                                        </li>

                                        <li class="list-group-item no-badge" ng-click="navigateToPage(6)" ng-show="model.strengths.length > 0">
                                            <a href="">
                                                <span class="icomoon icon-workman"></span>
                                                <span>Mis Fortalezas</span>
                                                <span class="icomoon icon-star"></span>
                                                <span class="icomoon icon-arrow-slim-right"></span>
                                            </a>
                                        </li>

                                        <li class="list-group-item no-badge" ng-click="navigateToPage(7)" ng-show="model.recomendedBachelorDegrees.length > 0">
                                            <a href="">
                                                <span class="icomoon icon-user"></span>
                                                <span>Carreras Afínes</span>
                                                <span class="icomoon icon-star"></span>
                                                <span class="icomoon icon-arrow-slim-right"></span>
                                            </a>
                                        </li>

                                        <li class="list-group-item no-badge" ng-click="navigateToPage(8)" ng-show="(model.dreamsToBe.length > 0 || model.dreamsToHave.length > 0 || model.dreamsToDo.length > 0)">
                                            <a href="">
                                                <span class="icomoon icon-rocket"></span>
                                                <span>Mis Sueños</span>
                                                <span class="icomoon icon-star"></span>
                                                <span class="icomoon icon-arrow-slim-right"></span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page" ng-class="currentPage == 2 ? 'active' : ''">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" ng-click="navigateToPage(1)">
                                            <span class="icomoon icon-arrow-slim-left"></span>
                                            <span class="icomoon icon-information"></span>
                                            <h3 class="panel-title">Mi información</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <h4>Datos Generales</h4>
                                                        <h5>Nombres(s)</h5>
                                                        <p ng-bind="model.firstname"></p>
                                                        <hr />
                                                        <h5>Apellido paterno</h5>
                                                        <p ng-bind="model.lastname"></p>
                                                        <hr />
                                                        <h5>Apellido materno</h5>
                                                        <p ng-bind="model.lastname"></p>
                                                        <hr />
                                                        <h5>Alias</h5>
                                                        <p ng-bind="model.username"></p>
                                                        <hr />
                                                        <h5>Sexo</h5>
                                                        <p></p>
                                                        <hr />
                                                        <h5>País de nacimiento</h5>
                                                        <p></p>
                                                        <hr />
                                                        <hr />
                                                        <h5>Fecha de nacimiento</h5>
                                                        <p></p>
                                                        <hr />
                                                        <hr />
                                                        <h5>Edad</h5>
                                                        <p></p>
                                                        <hr />
                                                        <hr />
                                                        <h5>Estado civil</h5>
                                                        <p></p>
                                                        <hr />
                                                        <hr />
                                                        <h4>Educación</h4>
                                                        <h5>Mis estudios</h5>
                                                        <ul class="block-list" ng-repeat="s in model.studies">
                                                            <li>
                                                                <p ng-bind="s"></p>
                                                            </li>
                                                        </ul>
                                                        <hr />
                                                        <h4>Dirección</h4>
                                                        <h5>País</h5>
                                                        <p ng-bind="model.address.country"></p>
                                                        <hr />
                                                        <hr />
                                                        <h5>Ciudad</h5>
                                                        <p ng-bind="model.address.city"></p>
                                                        <hr />
                                                        <h5>Delegación/Municipio</h5>
                                                        <p ng-bind="model.address.state"></p>
                                                        <hr />
                                                        <h5>Código postal</h5>
                                                        <p ng-bind="model.address.postalCode"></p>
                                                        <hr />
                                                        <h5>Calle</h5>
                                                        <p ng-bind="model.address.street"></p>
                                                        <hr />
                                                        <h5>Número</h5>
                                                        <p ng-bind="model.address.num_ext"></p>
                                                        <hr />
                                                        <h5>Colonia</h5>
                                                        <p ng-bind="model.address.colony"></p>
                                                        <hr />
                                                        <h4>Teléfonos</h4>                                                        
                                                          <ul class="block-list" ng-repeat="s in model.phones">
                                                            <li>
                                                                <h5>Teléfono</h5>
                                                                <p ng-bind="s"></p>
                                                                <hr />
                                                            </li>
                                                        </ul>                                                        
                                                        <hr />
                                                        <h4>Redes sociales</h4>                                                        
                                                        <ul class="block-list" ng-repeat="s in model.socialNetworks">
                                                            <li>
                                                                <h5>Red social</h5>
                                                                <p ng-bind="s.socialNetwork"></p>
                                                            </li>
                                                        </ul>
                                                        <hr />
                                                        <h4>Familia Compartamos</h4>
                                                        <ul class="block-list" ng-repeat="s in model.familiaCompartamos">
                                                            <li>
                                                                <h5>Familiar</h5>
                                                                <p ng-bind="s"></p>
                                                            </li>
                                                        </ul>

                                                        <!--<ul class="block-list" ng-repeat="s in model.studies">
                                                            <li>
                                                                <p ng-bind="s.school"></p>
                                                                <p ng-bind="s.levelOfStudies"></p>
                                                            </li>
                                                        </ul>-->


                                                        <h5>Domicilio</h5>
                                                        <p ng-bind="model.address.street + ' ' + model.address.num_ext + ' ' + model.address.num_int + ' ' + model.address.colony + ' ' + model.address.city + ' ' + model.address.town + ' ' + model.address.state + ' ' + model.address.country + ' ' + model.address.postalCode"></p>
                                                        <hr />

                                                        <h5>Teléfono</h5>
                                                        <ul class="block-list" ng-repeat="t in model.phones">
                                                            <li>
                                                                <p ng-bind="t"></p>
                                                            </li>
                                                        </ul>
                                                        <hr />

                                                        <h5>Correo</h5>
                                                        <ul class="block-list">
                                                            <li>
                                                                <p ng-bind="model.email"></p>
                                                            </li>
                                                        </ul>
                                                        <hr />

                                                        <h5>Redes Sociales</h5>
                                                        <ul class="block-list" ng-repeat="sn in model.socialNetworks">
                                                            <li>
                                                                <p>
                                                                    <label for="" ng-bind="sn.socialNetwork + '.'"></label>
                                                                    <span ng-bind="sn.socialNetworkId"></span>
                                                                </p>
                                                            </li>
                                                        </ul>
                                                        <hr />

                                                        <h5>Familia Compartamos</h5>
                                                        <ul class="block-list" ng-repeat="fc in model.familiaCompartamos">
                                                            <li>
                                                                <p>
                                                                    <label for="">No. Cliente</label>
                                                                    <span ng-bind="fc.idClient"></span>
                                                                </p>
                                                                <p ng-bind="fc.relativeName"></p>
                                                                <p><em ng-bind="fc.relationship"></em></p>
                                                            </li>
                                                        </ul>
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page" ng-class="currentPage == 3 ? 'active' : ''">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading" ng-click="navigateToPage(1)">
                                            <span class="icomoon icon-arrow-slim-left"></span>
                                            <span class="icomoon icon-information"></span>
                                            <h3 class="panel-title">Cualidades y Talentos</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <ul class="block-list" ng-repeat="aq in model.attributesAndQualities">
                                                            <li>
                                                                <p ng-bind="aq"></p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page" ng-class="currentPage == 4 ? 'active' : ''">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading" ng-click="navigateToPage(1)">
                                            <span class="icomoon icon-arrow-slim-left"></span>
                                            <span class="icomoon icon-information"></span>
                                            <h3 class="panel-title">Gustos y Preferencias</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page" ng-class="currentPage == 5 ? 'active' : ''">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading" ng-click="navigateToPage(1)">
                                            <span class="icomoon icon-arrow-slim-left"></span>
                                            <span class="icomoon icon-information"></span>
                                            <h3 class="panel-title">Insignias Ganadas</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page" ng-class="currentPage == 6 ? 'active' : ''">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                                            <span class="icomoon icon-information"></span>
                                            <h3 class="panel-title">Mis Fortalezas</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12" ng-repeat="s in model.strengths">
                                                        <h5 ng-bind="s.name"></h5>
                                                        <ul class="block-list" ng-repeat="v in s.values">
                                                            <li>
                                                                <p ng-bind="v"></p>
                                                            </li>
                                                        </ul>
                                                        <hr />
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page" ng-class="currentPage == 7 ? 'active' : ''">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                                            <span class="icomoon icon-information"></span>
                                            <h3 class="panel-title">Carreras Afínes</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <ul class="block-list" ng-repeat="b in model.recomendedBachelorDegrees">
                                                            <li>
                                                                <p ng-bind="b"></p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page" ng-class="currentPage == 8 ? 'active' : ''">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                                            <span class="icomoon icon-information"></span>
                                            <h3 class="panel-title">Mis Sueños</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <h5>Sueños Ser</h5>
                                                        <ul class="block-list" ng-repeat="db in model.dreamsToBe">
                                                            <li>
                                                                <p ng-bind="db"></p>
                                                            </li>
                                                        </ul>
                                                        <hr />
                                                        </ul>

                                                        <h5>Sueños Tener</h5>
                                                        <ul class="block-list" ng-repeat="dh in model.dreamsToHave">
                                                            <li>
                                                                <p ng-bind="dh"></p>
                                                            </li>
                                                        </ul>
                                                        <hr />
                                                        </ul>

                                                        <h5>Sueños Hacer</h5>
                                                        <ul class="block-list" ng-repeat="dd in model.dreamsToDo">
                                                            <li>
                                                                <p ng-bind="dd"></p>
                                                            </li>
                                                        </ul>
                                                        <hr />
                                                        </ul>
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>

        <footer>
            <ul class="block-list">
                <li><a href="" class="btn-link">Preguntas Frecuentes</a></li>
                <li><a href="" class="btn-link">Ayuda y Soporte</a></li>
            </ul>
            <a class="btn-back-to-top" ng-click="scrollToTop();">
                <span class="icomoon icon-double-arrow-up"></span>
                <span>Subir</span>
            </a>
        </footer>
    </div>
</div>