<div class="incluso-app profile">
 
  <nav ng-controller="navController">
    <div class="navbar navbar-welcome" id="navBar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">

          <button type="button" class="navbar-toggle collapsed" ng-click="isNavCollapsed = !isNavCollapsed" >
            <span class="sr-only">Toggle navigation</span>
            <span class="icomoon icon-more-options"></span>
          </button>

          <div class="navbar-assets">
            <h1 class="navbar-heading">Mi Perfil</h1>
            <ul class="navbar-tools">
              <li class="contribute">
                <a href="">
                  <span class="icon"></span>
                </a>
              </li>
              <li class="notifications">
                <a href="">
                  <span class="icon"></span>
                </a>
              </li>
              <li class="chat">
                <a href="">
                  <span class="icon"></span>
                </a>
              </li>
              <li class="profile">
                <a href="">
                  <span class="icon"></span>
                </a>
              </li>                
            </ul>
          </div>

        </div>
      </div> <!-- /.container-fluid -->
    </div> <!-- /.navbar -->
    <div class="navbar-collapse" collapse="isNavCollapsed">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div><!-- /.navbar-collapse --> 
  </nav>
 
  <article>
      <section class="component profile-dashboard">
        <div>
          <figure>
            <img src="assets/images/img-profile-spaceship-dashboard-top.png" alt="" />
          </figure>
        </div>

        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="user-avatar">
              <figure>
                <img src="assets/images/img-user-sample-photo.jpg" alt="" class="img-responsive" />
                <figcaption>{{model.rank}}</figcaption>
              </figure>   
              <button type="button" id="editProfile">
                <span class="icomoon icon-edit"></span>
              </button>       
            </div>            
          </div>
        </div>

        <div class="profile-data">
          <h4 class="user-name">{{model.fullname}}</h4>
          <p class="user-points">
            <span>{{model.stars}}</span>
            <span class="icomoon icon-star"></span>
          </p>
          <!-- <span class="badge">100<span class="icomoon icon-star"></span></span> -->
        </div>
        <div class="profile-settings">
          <div class="container">
            <div class="row">
              <div class="col-xs-6">
                <button class="btn btn-icon-aside left">
                  <div class="btn-icon">
                    <span class="icomoon icon-settings"></span>
                  </div>
                  <span for="">Editar perfil</span>
                </button>                
              </div>
              <div class="col-xs-6">
                <button class="btn btn-icon-aside right">
                  <div class="btn-icon">
                    <span class="icomoon icon-lock"></span>
                  </div>
                  <span for="">Privacidad</span>
                </button>                
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="component profile-options">
        <div class="pages">
          <div class="page" ng-class="currentPage == 1 ? 'active' : ''">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <ul class="list-group separte-items">
                    <li class="list-group-item" ng-click="navigateToPage(2)">
                      <a href="">
                        <span class="icomoon icon-information"></span>
                        <span>Mi Información</span>
                        <span class="icomoon icon-star"></span>
                        <span class="icomoon icon-arrow-slim-right"></span>
                      </a>
                    </li>

                    <li class="list-group-item" ng-click="navigateToPage(3)">
                      <a href="">
                        <span class="icomoon icon-document"></span>
                        <span>Cualidades y Talentos</span>
                        <span class="icomoon icon-star"></span>
                        <span class="icomoon icon-arrow-slim-right"></span>
                      </a>
                    </li>

                    <li class="list-group-item" ng-click="navigateToPage(4)">
                      <a href="">
                        <span class="icomoon icon-required"></span>
                        <span>Gustos y Preferencias</span>
                        <span class="icomoon icon-star"></span>
                        <span class="icomoon icon-arrow-slim-right"></span>
                      </a>
                    </li>    

                    <li class="list-group-item no-badge" ng-click="navigateToPage(5)">
                      <a href="">
                        <span class="icomoon icon-badge"></span>
                        <span>Insignias Ganadas</span>
                        <span class="icomoon icon-star"></span>
                        <span class="icomoon icon-arrow-slim-right"></span>
                      </a>
                    </li> 

                    <li class="list-group-item no-badge" ng-click="navigateToPage(6)">
                      <a href="">
                        <span class="icomoon icon-workman"></span>
                        <span>Mis Fortalezas</span>
                        <span class="icomoon icon-star"></span>
                        <span class="icomoon icon-arrow-slim-right"></span>
                      </a>
                    </li>         

                    <li class="list-group-item no-badge" ng-click="navigateToPage(7)">
                      <a href="">
                        <span class="icomoon icon-user"></span>
                        <span>Carreras Afínes</span>
                        <span class="icomoon icon-star"></span>
                        <span class="icomoon icon-arrow-slim-right"></span>
                      </a>
                    </li> 

                    <li class="list-group-item no-badge" ng-click="navigateToPage(8)" ng-show="hasDreams()">
                      <a href="">
                        <span class="icomoon icon-rocket"></span>
                        <span>Mis Sueños</span>
                        <span class="icomoon icon-star"></span>
                        <span class="icomoon icon-arrow-slim-right"></span>
                      </a>
                    </li> 

                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="page" ng-class="currentPage == 2 ? 'active' : ''">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                      <span class="icomoon icon-information"></span>
                      <h3 class="panel-title">Mi información</h3>
                    </div>
                    <div class="panel-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-12">
                            <h5>Mis Estudios</h5>
                            <ul class="block-list" ng-repeat="s in model.studies">
                              <li>
                                <p>{{s.school}}</p>
                                <p>{{s.levelOfStudies}}</p>
                              </li>
                            </ul>                            
                            <hr />

                            <h5>Domicilio</h5>
                            <p>{{model.address.street + " " + model.address.num_ext + " " + model.address.num_int + " " + model.address.colony + ", " + model.address.city + ", " + model.address.town + ", " + model.address.state + ", " + model.address.country + ", " + model.address.postalCode}}</p>                            
                            <hr />

                            <h5>Teléfono</h5>
                            <ul class="block-list" ng-repeat="t in model.phones">
                              <li>
                                <p>{{t}}</p>
                              </li>                           
                            </ul>
                            <hr />

                            <h5>Correo</h5>
                            <ul class="block-list" ng-repeat="m in model.email">
                              <li>
                                <p>{{m}}</p>
                              </li>                             
                            </ul>
                            <hr />

                            <h5>Redes Sociales</h5>
                            <ul class="block-list" ng-repeat="sn in model.socialNetworks">
                              <li>
                                <p>
                                  <label for="">{{sn.socialNetwork}}.</label>
                                  <span>{{sn.socialNetworkId}}</span>                                  
                                </p>
                              </li>                            
                            </ul>
                            <hr />

                            <h5>Familia Compartamos</h5>
                            <ul class="block-list" ng-repeat="fc in model.familiaCompartamos">
                              <li>
                                <p>
                                  <label for="">No. Cliente</label>
                                  <span>{{fc.idClient}}</span>
                                </p>
                                <p>{{fc.relativeName}}</p>
                                <p><em>{{fc.relationship}}</em></p>
                              </li>                             
                            </ul>
                            <br />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>
          <div class="page" ng-class="currentPage == 3 ? 'active' : ''">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                      <span class="icomoon icon-information"></span>
                      <h3 class="panel-title">Cualidades y Talentos</h3>
                    </div>
                    <div class="panel-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-12">
                            <h5>Mis Estudios</h5>
                            <ul class="block-list">
                              <li>
                                <p>Instituto de educación media superior del Distrito Federal “Benito Juárez”</p>
                                <p>2º Preparatoria</p>
                              </li>
                            </ul>                            
                            <hr />

                            <h5>Domicilio</h5>
                            <p>Av. Insurgentes Sur 1458, Actipan Benito Juárez, Ciudad de México México, 03230</p>                            
                            <hr />

                            <h5>Teléfono</h5>
                            <ul class="block-list">
                              <li>
                                <p>55-1537-2672</p>
                              </li>
                              <li>
                                <p>55-1537-2672</p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Correo</h5>
                            <ul class="block-list">
                              <li>
                                <p>leogarza955@gmail.com</p>
                              </li>
                              <li>
                                <p>lgza@hmail.com</p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Redes Sociales</h5>
                            <ul class="block-list">
                              <li>
                                <p>
                                  <label for="">Twitter.</label>
                                  <span>@leogarza955</span>                                  
                                </p>
                              </li>
                              <li>
                                <p>
                                  <label for="">Facebook.</label>
                                  <span>/leogarza955</span>                                  
                                </p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Familia Compartamos</h5>
                            <ul class="block-list">
                              <li>
                                <p>
                                  <label for="">No. Cliente</label>
                                  <span>8920093</span>
                                </p>
                                <p>Luis Enrique Garza Treviño</p>
                                <p><em>Papá</em></p>
                              </li>
                              <li>
                                <p>
                                  <label for="">No. Cliente</label>
                                  <span>8790093</span>
                                </p>
                                <p>María Guadalupe Pedraza de Garza</p>
                                <p><em>Mamá</em></p>
                              </li>                              
                            </ul>
                            <br />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>
          <div class="page" ng-class="currentPage == 4 ? 'active' : ''">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                      <span class="icomoon icon-information"></span>
                      <h3 class="panel-title">Mi información</h3>
                    </div>
                    <div class="panel-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-12">
                            <h5>Mis Estudios</h5>
                            <ul class="block-list">
                              <li>
                                <p>Instituto de educación media superior del Distrito Federal “Benito Juárez”</p>
                                <p>2º Preparatoria</p>
                              </li>
                            </ul>                            
                            <hr />

                            <h5>Domicilio</h5>
                            <p>Av. Insurgentes Sur 1458, Actipan Benito Juárez, Ciudad de México México, 03230</p>                            
                            <hr />

                            <h5>Teléfono</h5>
                            <ul class="block-list">
                              <li>
                                <p>55-1537-2672</p>
                              </li>
                              <li>
                                <p>55-1537-2672</p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Correo</h5>
                            <ul class="block-list">
                              <li>
                                <p>leogarza955@gmail.com</p>
                              </li>
                              <li>
                                <p>lgza@hmail.com</p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Redes Sociales</h5>
                            <ul class="block-list">
                              <li>
                                <p>
                                  <label for="">Twitter.</label>
                                  <span>@leogarza955</span>                                  
                                </p>
                              </li>
                              <li>
                                <p>
                                  <label for="">Facebook.</label>
                                  <span>/leogarza955</span>                                  
                                </p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Familia Compartamos</h5>
                            <ul class="block-list">
                              <li>
                                <p>
                                  <label for="">No. Cliente</label>
                                  <span>8920093</span>
                                </p>
                                <p>Luis Enrique Garza Treviño</p>
                                <p><em>Papá</em></p>
                              </li>
                              <li>
                                <p>
                                  <label for="">No. Cliente</label>
                                  <span>8790093</span>
                                </p>
                                <p>María Guadalupe Pedraza de Garza</p>
                                <p><em>Mamá</em></p>
                              </li>                              
                            </ul>
                            <br />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>
          <div class="page" ng-class="currentPage == 5 ? 'active' : ''">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                      <span class="icomoon icon-information"></span>
                      <h3 class="panel-title">Mi información</h3>
                    </div>
                    <div class="panel-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-12">
                            <h5>Mis Estudios</h5>
                            <ul class="block-list">
                              <li>
                                <p>Instituto de educación media superior del Distrito Federal “Benito Juárez”</p>
                                <p>2º Preparatoria</p>
                              </li>
                            </ul>                            
                            <hr />

                            <h5>Domicilio</h5>
                            <p>Av. Insurgentes Sur 1458, Actipan Benito Juárez, Ciudad de México México, 03230</p>                            
                            <hr />

                            <h5>Teléfono</h5>
                            <ul class="block-list">
                              <li>
                                <p>55-1537-2672</p>
                              </li>
                              <li>
                                <p>55-1537-2672</p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Correo</h5>
                            <ul class="block-list">
                              <li>
                                <p>leogarza955@gmail.com</p>
                              </li>
                              <li>
                                <p>lgza@hmail.com</p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Redes Sociales</h5>
                            <ul class="block-list">
                              <li>
                                <p>
                                  <label for="">Twitter.</label>
                                  <span>@leogarza955</span>                                  
                                </p>
                              </li>
                              <li>
                                <p>
                                  <label for="">Facebook.</label>
                                  <span>/leogarza955</span>                                  
                                </p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Familia Compartamos</h5>
                            <ul class="block-list">
                              <li>
                                <p>
                                  <label for="">No. Cliente</label>
                                  <span>8920093</span>
                                </p>
                                <p>Luis Enrique Garza Treviño</p>
                                <p><em>Papá</em></p>
                              </li>
                              <li>
                                <p>
                                  <label for="">No. Cliente</label>
                                  <span>8790093</span>
                                </p>
                                <p>María Guadalupe Pedraza de Garza</p>
                                <p><em>Mamá</em></p>
                              </li>                              
                            </ul>
                            <br />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>
          <div class="page" ng-class="currentPage == 6 ? 'active' : ''">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                      <span class="icomoon icon-information"></span>
                      <h3 class="panel-title">Mi información</h3>
                    </div>
                    <div class="panel-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-12">
                            <h5>Mis Estudios</h5>
                            <ul class="block-list">
                              <li>
                                <p>Instituto de educación media superior del Distrito Federal “Benito Juárez”</p>
                                <p>2º Preparatoria</p>
                              </li>
                            </ul>                            
                            <hr />

                            <h5>Domicilio</h5>
                            <p>Av. Insurgentes Sur 1458, Actipan Benito Juárez, Ciudad de México México, 03230</p>                            
                            <hr />

                            <h5>Teléfono</h5>
                            <ul class="block-list">
                              <li>
                                <p>55-1537-2672</p>
                              </li>
                              <li>
                                <p>55-1537-2672</p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Correo</h5>
                            <ul class="block-list">
                              <li>
                                <p>leogarza955@gmail.com</p>
                              </li>
                              <li>
                                <p>lgza@hmail.com</p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Redes Sociales</h5>
                            <ul class="block-list">
                              <li>
                                <p>
                                  <label for="">Twitter.</label>
                                  <span>@leogarza955</span>                                  
                                </p>
                              </li>
                              <li>
                                <p>
                                  <label for="">Facebook.</label>
                                  <span>/leogarza955</span>                                  
                                </p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Familia Compartamos</h5>
                            <ul class="block-list">
                              <li>
                                <p>
                                  <label for="">No. Cliente</label>
                                  <span>8920093</span>
                                </p>
                                <p>Luis Enrique Garza Treviño</p>
                                <p><em>Papá</em></p>
                              </li>
                              <li>
                                <p>
                                  <label for="">No. Cliente</label>
                                  <span>8790093</span>
                                </p>
                                <p>María Guadalupe Pedraza de Garza</p>
                                <p><em>Mamá</em></p>
                              </li>                              
                            </ul>
                            <br />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>
          <div class="page" ng-class="currentPage == 7 ? 'active' : ''">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                      <span class="icomoon icon-information"></span>
                      <h3 class="panel-title">Mi información</h3>
                    </div>
                    <div class="panel-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-12">
                            <h5>Mis Estudios</h5>
                            <ul class="block-list">
                              <li>
                                <p>Instituto de educación media superior del Distrito Federal “Benito Juárez”</p>
                                <p>2º Preparatoria</p>
                              </li>
                            </ul>                            
                            <hr />

                            <h5>Domicilio</h5>
                            <p>Av. Insurgentes Sur 1458, Actipan Benito Juárez, Ciudad de México México, 03230</p>                            
                            <hr />

                            <h5>Teléfono</h5>
                            <ul class="block-list">
                              <li>
                                <p>55-1537-2672</p>
                              </li>
                              <li>
                                <p>55-1537-2672</p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Correo</h5>
                            <ul class="block-list">
                              <li>
                                <p>leogarza955@gmail.com</p>
                              </li>
                              <li>
                                <p>lgza@hmail.com</p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Redes Sociales</h5>
                            <ul class="block-list">
                              <li>
                                <p>
                                  <label for="">Twitter.</label>
                                  <span>@leogarza955</span>                                  
                                </p>
                              </li>
                              <li>
                                <p>
                                  <label for="">Facebook.</label>
                                  <span>/leogarza955</span>                                  
                                </p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Familia Compartamos</h5>
                            <ul class="block-list">
                              <li>
                                <p>
                                  <label for="">No. Cliente</label>
                                  <span>8920093</span>
                                </p>
                                <p>Luis Enrique Garza Treviño</p>
                                <p><em>Papá</em></p>
                              </li>
                              <li>
                                <p>
                                  <label for="">No. Cliente</label>
                                  <span>8790093</span>
                                </p>
                                <p>María Guadalupe Pedraza de Garza</p>
                                <p><em>Mamá</em></p>
                              </li>                              
                            </ul>
                            <br />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>
          <div class="page" ng-class="currentPage == 8 ? 'active' : ''">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="icomoon icon-arrow-slim-left" ng-click="navigateToPage(1)"></span>
                      <span class="icomoon icon-information"></span>
                      <h3 class="panel-title">Mi información</h3>
                    </div>
                    <div class="panel-body">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-12">
                            <h5>Mis Estudios</h5>
                            <ul class="block-list">
                              <li>
                                <p>Instituto de educación media superior del Distrito Federal “Benito Juárez”</p>
                                <p>2º Preparatoria</p>
                              </li>
                            </ul>                            
                            <hr />

                            <h5>Domicilio</h5>
                            <p>Av. Insurgentes Sur 1458, Actipan Benito Juárez, Ciudad de México México, 03230</p>                            
                            <hr />

                            <h5>Teléfono</h5>
                            <ul class="block-list">
                              <li>
                                <p>55-1537-2672</p>
                              </li>
                              <li>
                                <p>55-1537-2672</p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Correo</h5>
                            <ul class="block-list">
                              <li>
                                <p>leogarza955@gmail.com</p>
                              </li>
                              <li>
                                <p>lgza@hmail.com</p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Redes Sociales</h5>
                            <ul class="block-list">
                              <li>
                                <p>
                                  <label for="">Twitter.</label>
                                  <span>@leogarza955</span>                                  
                                </p>
                              </li>
                              <li>
                                <p>
                                  <label for="">Facebook.</label>
                                  <span>/leogarza955</span>                                  
                                </p>
                              </li>                              
                            </ul>
                            <hr />

                            <h5>Familia Compartamos</h5>
                            <ul class="block-list">
                              <li>
                                <p>
                                  <label for="">No. Cliente</label>
                                  <span>8920093</span>
                                </p>
                                <p>Luis Enrique Garza Treviño</p>
                                <p><em>Papá</em></p>
                              </li>
                              <li>
                                <p>
                                  <label for="">No. Cliente</label>
                                  <span>8790093</span>
                                </p>
                                <p>María Guadalupe Pedraza de Garza</p>
                                <p><em>Mamá</em></p>
                              </li>                              
                            </ul>
                            <br />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 
  </article>
 
  <footer>
    <ul class="block-list">
      <li><a href="" class="btn-link">Preguntas Frecuentes</a></li>
      <li><a href="" class="btn-link">Ayuda y Soporte</a></li>
    </ul>
    <a href="#navBar" class="btn-back-to-top">
      <span class="icomoon icon-double-arrow-up"></span>
      <span>Subir</span>
    </a>
  </footer>

</div>
