<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Incluso Digital</title>
  <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" type="text/css" href="assets/styles/bootstrap.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/styles/css.css"> -->
  <link rel="stylesheet" type="text/css" href="../../assets/styles/dev-css.css">
	<link rel="stylesheet" href="../../assets/styles/font.css">
  <script type="text/javascript" src="../../scripts/jquery-1.11.2.js"></script>
  <script type="text/javascript" src="../../scripts/bootstrap-3.3.2.js"></script>
  <script type="text/javascript" src="../../scripts/angular.js"></script>
</head>
<body class="incluso-app step-dashboard" ng-app>

  <div class="navbar navbar-step" id="navBar">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navigation">
          <span class="sr-only">Toggle navigation</span>
          <i class="icon-more-options"></i>
        </button>

        <div class="navbar-assets">
          <h1 class="navbar-heading">Estación: </h1>
          <ul class="navbar-tools">
            <li class="contribute">
              <a href="">
                <i class="icon-edit"></i>
              </a>
            </li>
            <li class="notifications">
              <a href="">
                <i class="icon-antena"></i>
              </a>
            </li>
            <li class="chat">
              <a href="">
                <i class="icon-chat"></i>
              </a>
            </li>
            <li class="profile">
              <a href="">
                <i class="icon-emoticon-smile"></i>
              </a>
            </li>                 
          </ul>
        </div>         
      </div>


    </div><!-- /.container-fluid -->
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="app-navigation">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->  

  <article class="hangar-bay">
    <section id="ship">
      <img src="../../assets/images/nave1.png"/>
    </section>
    <section class="component video-gallery">
	<div class="txt-renglon centrado">La Nave está averiada y debes completar los retos para continuar con la aventura Incluso!</div>
      <div id="carousel-example-generic" class="carousel slide stage" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
              <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
          <button class="icon icon-play"></button> 
          <figure class="player">
            <video width="370" height="220" poster="assets/images/ptr-video-0001.jpg" >
              <source src="http://techslides.com/demos/sample-videos/small.webm" type="video/webm" />
              <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg" />
              <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4" />
              <source src="http://techslides.com/demos/sample-videos/small.3gp" type="video/3gp" />
              Ups! Parece que tu dispositivo no soporta video
            </video>
          </figure>
              </div>
              <div class="item">
          <button class="icon icon-play"></button> 
          <figure class="player">
            <video width="370" height="220" poster="assets/images/ptr-video-0001.jpg" >
              <source src="http://techslides.com/demos/sample-videos/small.webm" type="video/webm" />
              <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg" />
              <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4" />
              <source src="http://techslides.com/demos/sample-videos/small.3gp" type="video/3gp" />
              Ups! Parece que tu dispositivo no soporta video
            </video>
          </figure>
              </div>
              <div class="item">
          <button class="icon icon-play"></button> 
          <figure class="player">
            <video width="370" height="220" poster="assets/images/ptr-video-0001.jpg" >
              <source src="http://techslides.com/demos/sample-videos/small.webm" type="video/webm" />
              <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg" />
              <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4" />
              <source src="http://techslides.com/demos/sample-videos/small.3gp" type="video/3gp" />
              Ups! Parece que tu dispositivo no soporta video
            </video>
          </figure>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left icon-arrow-bold-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right icon-arrow-bold-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div> 
    </section>

	<section class="holoproj">
	<div class="centrado txt-title">MIS RETOS</div>
<div id="carousel-example-generic2" class="carousel slide stage" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic2" data-slide-to="1" class=""></li>
              <li data-target="#carousel-example-generic2" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
			  <div style="display:block;width:200px;height:100px;background-color:#fff;"></div>
              </div>
              <div class="item">
			  <div style="display:block;width:200px;height:100px;background-color:#fff;"></div>
              </div>
              <div class="item">
			  <div style="display:block;width:200px;height:100px;background-color:#fff;"></div>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left icon-arrow-bold-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right icon-arrow-bold-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div> 
	  
	<div class="txt-renglon centrado">¡Completa los retos para obtener la turbina para tu nave y ganar más estrellas!</div>
	  <div class="light"><img src="../../assets/images/proyector.png"></div>
	</section>	
	
	<section class="jector">
	</section>
	<section class="parts">
	<div class="parte"><i class="icon-checked-join"></i><span>Sueña</span><div><i class="icon-play"></i><i class="icon-star fl-right"></i></div></div>
	<div class="parte"><i class="icon-wrong"></i><span>Fora Común</span><div><i class="icon-play"></i><i class="icon-star fl-right"></i></div></div>
<div><img src="../../assets/images/consolas.png"></div>
	</section>
	
	
	<section class="progreso">
		<div class="spinner">
			<img src="../../assets/images/prcnt/80.png"><div class="circle"></div><div class="text">80%</div>
		</div>
	</section>
	
	
  </article>

  <footer class="footer">
    <ul class="block-list">
      <li><a href="" class="centrado txt-title">Preguntas Frecuentes</a></li>
      <li><a href="" class="centrado txt-title">Ayuda y Soporte</a></li>
    </ul>
    <a href="#navBar" class="to-top"><i class="icon-double-arrow-up"></i><br/>SUBIR</a>
  </footer>
  <!-- html -->
  <!-- scripts -->
</body>
</html>