<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Incluso Digital</title>
  <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" type="text/css" href="assets/styles/bootstrap.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/styles/css.css"> -->
  <link rel="stylesheet" type="text/css" href="../../assets/styles/dev-css.css">
	
  <script type="text/javascript" src="../../Scripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="../../Scripts/bootstrap-3.3.2.js"></script>
  <script type="text/javascript" src="../../Scripts/angular.js"></script>
  <script type="text/javascript" src="../../Scripts/owl.carousel.min.js"></script>
</head>
<body ng-app>
<div class="incluso-app step-dashboard" id="site-wrapper">
  <div id="site-menu" class="navbar-collapse">
    <ul class="nav">
      <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
  <div id="site-canvas">

    <nav ng-controller="navController">
      <div class="navbar" id="navBar">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="row">

            <div class="navbar-assets">
              <h1 class="navbar-heading"><a href="#" data-transition="ease" id="menuton"><i class="icomoon icon-more-options white"></i> Estación: Conócete</a></h1>
              <ul class="navbar-tools">
                <li class="contribute">
                  <a href="">
                    <i class="icomoon icon-edit"></i>
                  </a>
                </li>
                <li class="notifications">
                  <a href="">
                    <i class="icomoon icon-antena"></i>
                  </a>
                </li>
                <li class="chat">
                  <a href="">
                    <i class="icomoon icon-chat"></i>
                  </a>
                </li>
                <li class="profile">
                  <a href="" ng-href="#/Perfil/">
                    <i class="icomoon icon-emoticon-smile"></i>
                  </a>
                </li>                 
              </ul>
            </div> 
          </div>
        </div>
      </div> <!-- /.container-fluid -->
    </nav>

<article class="blueprint">

	<section>
<div class="subtitle">Mis sue&ntilde;os de tener</div>
<div class="txt-renglon">Tus sue&ntilde;os de tener pueden llevarte a continuar tus estudios, comenzar a trabajar o emprender un proyecto propio.<br/>Registra la lista de tus sue&ntilde;os de tener.</div>

</section>
	<section>
	<div class="part"><span>Terminar mis estudios</span><i class="icomoon icon-edit fl-right"></i></div>
	<div class="part"><span>Entrar a cursos de m&uacute;sica</span><i class="icomoon icon-edit fl-right"></i></div>
	<div class="part"><span>Ser m&aacute;s responsable con el medio ambiente.</span><i class="icomoon icon-edit fl-right"></i></div>
	</section>
<section class="controls">
<div class="add"><i class="icomoon icon-edit"></i><span>Nuevo Sue&ntilde;o...</span></div>
<div class="paginate">
<i class="icomoon icon-arrow-bold-left txt-bigger fl-left"></i>
<i class="icomoon icon-arrow-bold-right txt-bigger fl-right"></i>
<div class="centered"><span class="txt-bigger">3/</span><span class="blanco txt-bigger">3</span></div>
</div><br/>

<br/>
<button class="btn btn-primary btn-lg btn-cnt" type="button">Guardar</button>
<div class="txt-renglon centered txt-bigger">Cancelar</div>
</section>

  </article>
  <footer class="footer">
    <ul class="block-list">
      <li><a href="" class="centered txt-title">Preguntas Frecuentes</a></li>
      <li><a href="" class="centered txt-title">Ayuda y Soporte</a></li>
    </ul>
    <a href="#navBar" class="to-top"><i class="icomoon icon-double-arrow-up"></i><br/>SUBIR</a>
  </footer>
  <!-- html -->
  <!-- scripts -->
  <script>
    $(document).ready(function() {
	var step = 0;
	
	
    var owl = $("#owl");
		owl.owlCarousel({
			navigation:false,
			pagination:false,
			paginationSpeed : 1000,
			goToFirstSpeed : 2000,
			singleItem : true,
			autoHeight : true,
			afterMove: callback
		});
	function callback(event) {
		var item      = this.currentItem;
		$("#index").html(item + 1);
	}
		$("#next").click(function(){
			owl.trigger('owl.next');
			return false;
		  })
		$("#prev").click(function(){
			owl.trigger('owl.prev');
			return false;
		  })
	$("#save").click(function(){
		$(owl).hide("slow");
		$("#controls").hide();
		$("#taitel").hide();
		$("#finalized").show("slow");
		return false;
	});
$(".acc").click(function(){
$(this).toggleClass('icon-arrow-down');
$(this).toggleClass('icon-arrow-slim-right');
var cual = $(this).attr('data-id');
  $('#ord' + cual).toggle();

});	
		$("#finalized").hide();
    $('#menuton').click(function() {
      var transitionClass = $(this).data('transition');
      $('body').removeClass();
      $('#site-canvas').removeClass();
      $('#site-canvas').addClass(transitionClass);
      $('#site-wrapper').toggleClass('show-nav');

      return false;
    });
    });
    </script>
	<script src="../../Scripts/classie.js"></script>
		<script src="../../Scripts/selectFx.js"></script>
		<script>
			(function() {
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx(el);
				} );
			})();
		</script>
</body>
</html>