<div id="navBar" class="navbar navbar-app navbar-absolute-top" ng-class="{'navbar-blue': navbarBlue, 'navbar-orange': navbarOrange, 'show': showToolbar }">
  <div class="navbar-brand navbar-brand-center navbar-assets" ui-yield-to="title">
      <div class="btn-group pull-left">
        <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle" ng-click="sideToggle()">
          <h1 class="navbar-heading"><a id="menuton"><i class="icomoon icon-more-options"></i> <span>Mision Incluso</span></a></h1>
          <!--<i class="fa fa-bars"></i> Menu-->
        </div>
      </div>
      <ul class="navbar-tools">
          <li class="contribute">
            <a ng-click="navigateTo('Perfil/Editar', 'Mision Incluso', 'null', 'navbarblue')">
              <i class="icomoon icon-edit"></i>
            </a>
          </li>
          <li class="notifications">
            <a ng-click="navigateTo('ProgramaDashboard', 'Mision Incluso', 'null', 'navbarorange')">
              <i class="icomoon icon-antena"></i>
            </a>
          </li>
          <li class="chat">
            <a ng-click="navigateTo('Foro', 'Estación: Conócete', 'null', 'navbarblue')">
              <i class="icomoon icon-chat"></i>
            </a>
          </li>
          <li class="profile">
            <a ng-click="navigateTo('Perfil', 'My perfil', 'null', 'navbarblue')">
              <i class="icomoon icon-emoticon-smile"></i>
            </a>
          </li>
        </ul>
  </div>
</div>