<div class="incluso-app" ng-app>

  <article>
    <section>
      <form action="" class="container-fluid" name="registerForm" ng-show="!isRegistered">
        <div class="row">
          <div class="col-xs-12">
            <div class="subtitle">VIDEO TUTORIAL</div>
          </div>
        </div>
        <div class="pages">

        <div class="page" data-page="1" ng-class="currentPage === 1 ? 'active' : ''">


          <div class="stage perform">
            <figure class="player">
                <video controls  poster="assets/images/ptr-video-0001.jpg" > 
                <source src="assets/media/TutorialTest2.mp4" type="video/mp4"> Ups! Parece que tu dispositivo no soporta video</video> 
            </figure>
          </div>

          <section class="part">
            <div>En nuestro video tutorial encontraras los tips indispensables para usar la plataforma incluso.
            <br/><br/>
            Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis apibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante est non.
            <br/><br/>
            Tambien, puedes descargar las aplicaciones de Juegos dando clic en el siguiente boton
            </div>
          </section>

          <div class="row">
              <div class="col-xs-12">
                <div class="page-number">
                  <p class="text-center">
                    <span>1</span>
                    <span>/</span>
                    <span>2</span>
                  </p>
                </div>
              </div>
            </div>           

            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateToPage(2)">Continuar</button>
              </div>
            </div>          

          </div>   

          <div class="page" data-page="2" ng-class="currentPage === 2 ? 'active' : ''">

          <section class="part">
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius sapien at lobortis vestibulum. Aenean iaculis commodo sapien vitae mollis. Quisque in sollicitudin velit. Aenean nec ultrices metus, ac volutpat augue. Sed sem ligula, facilisis eu ultrices a, laoreet auctor urna. Etiam nec tortor egestas, fringilla metus vitae, blandit turpis. Maecenas mattis elementum egestas. Sed euismod leo sed metus accumsan hendrerit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras suscipit ornare nibh, sed condimentum tortor rhoncus eget.</br></br>
              Donec vel lorem risus. Vestibulum eget dui imperdiet, efficitur nisl id, fermentum lorem. Vivamus quis gravida urna. Aenean rhoncus lacus tellus, ut ullamcorper dui placerat eget. Maecenas finibus est vel mollis pretium. Suspendisse imperdiet turpis sapien, vel euismod dui convallis vel. Phasellus lobortis mi non libero euismod, eu blandit tellus eleifend. Etiam vehicula pellentesque leo ut elementum. Cras vel commodo eros. Quisque sed mi tellus. Quisque viverra ultricies euismod.
            </div>
          </section>

          <div class="row">
              <div class="col-xs-12">
                <div class="page-number">
                  <p class="text-center">
                    <span>2</span>
                    <span>/</span>
                    <span>2</span>
                  </p>
                </div>
              </div>
            </div>           

            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="continue()">Continuar a mi Perfil</button>
              </div>
            </div>          

          </div>                  
        </div> 
      </form>      
    </section>

</article>


</div>