.spinner {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color: #FFFFFF;
    opacity: 1.0;
 }

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}

.column-wrapper {
  width: 200px;
  float: left;
  margin-right: 20px;
}
.column-title {
  background-color: #aaa;
  font-size: 1.3em;
}
.column {
  height: 300px;
  background: #ededed;
}

.item {
  box-sizing: border-box;
  padding: 2px;
  background: #8c0;
  margin-bottom: 1px;
}

.ui-sortable-helper {
  background: #8cf;
}
.main-content .content-wrapper #multiselect  .btn-group .multiselect.dropdown-toggle.btn.btn-small {
    color: rgb(51, 51, 51);
}
.ngAggCheck {
    position: absolute;
    left: 30px;
    top: 15px;
}
.ngAggSpan {
    left: 42px;
    position: absolute;
    top: 13px;
}
.field-validation-error span {
    color: #E4253B;
    font-weight: 600;
    font-size: 85%;
}
.validation-summary-errors li {
    color: #E4253B;
    font-weight: 600;
    font-size: 85%;
    list-style: none;
}
.main-content section ul li.unhovered > ul {
	display: none;
}