<div class="incluso-app" ng-app>
  <article>
    <section>
        <img src="assets/images/avatar/create_avatar_cabello_{{imageSrc}}.jpg">
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="selectAvatarCabelloAmarillo()">Amarillo</button><br/>
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="selectAvatarCabelloRojo()">Rojo</button><br/>
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="selectAvatarCabelloVerde()">Verde</button><br/>
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="selectAvatarCabelloCafe()">Cafe</button><br/>
    </section>
  </article>
</div>