/********************************************************************************
    Incluso Digital CSS Entities
    Description:    This file provides CSS rules for all the business entities 
                    of the Incluso Digital Application.
    Uses:           bootstrap.css, base.css

    Color Palette:  Please look at base.css
    Index:
        00. $Text n containers
        01. $video-gallery
        02. $my-progress
        03. $current-satge
        04. $my-badges
        05. $user-avatar
        06. $top-users
********************************************************************************/
@import "less-utilities.less";


/* xs viewport */
@media screen {
    .incluso-app {

        /***********************************************************************
         01. $text n containers
         Description: CSS for most used parts
        ************************************************************************/
            .to-top{
                bottom: 20px;
                color: #f00;
                left: ~"calc(50% - 19px)";
                position: absolute;
                text-align: center;
                color: @clr-greenLight;
            }
            img{
                width:100%;
            }
            .txt-title{
                color: white;
                font-weight: bold;
                margin: 5% 10%;
                font-size:120%;

                &:before{
                    content: "- ";
                }
                &:after{
                    content: " -";
                }
            }
            .txt-renglon{
                color: white;
                font-weight: bold;
                margin: 0% 10%;
                padding: 5% 0;
                width:80%;
            }
            .txt-bigger{
                font-size: 150%;
                line-height: normal;
            }
            .subtitle{
                color: @clr-greenLight;
                font-size: 150%;
                padding: 5% 10%;
                text-transform: uppercase;
            }
            .min-pad{
                padding: 5px 0px;
            }
            .green-giant{
                color: #0f9847;
                font-size: 1400%;
            }
            .green-pill{    
                border: 1px solid #0f9847;
                border-radius: 25px;
                margin: -5px -10px;
                padding: 5px 10px;           
                color: #0f9847;
            }
            .green{           
                color: #0f9847 !important;                
            }
            .red{
                color:#ef4823 !important;
            }
            .white{
                color:white !important;
            }
            .pill{
                border: 2px solid rgba(255, 255, 255, 0.3);
                border-radius: 40px;
                color: rgba(255, 255, 255, 0.75);
                line-height: normal;
                margin: 5% 10%;
                padding: 20px 20px 46px;
            }
            .sm-pill{
                border: 1px solid #bbd331;
                border-radius: 25px;
                color: #bbd331;
                margin: -5px -10px;
                padding: 5px 10px;
            }
            .centrado{
                text-align: center;   
            }
            .distribuido{
                display: inline-flex;
                justify-content: space-between;
                img{
                    width:23.5%;
                }
            }
            .fl-left{
                float:left;
            }
            .fl-right{
                float:right;
            }
            .notw{
                opacity:.5;
            }
            .blanco{
                    color:white;
            }
            .hangar-bay{
                background-image:url('../images/bckgnd.jpg');
                background-color: #24282a;
                background-position: -1px -35px;
                background-repeat: no-repeat;
                background-size: contain;
                border-bottom: 10px solid #24282a;

                #ship{

                    display: block;
                    width: 100%;
                    min-height: 200px;
                    margin-bottom: 20px;

                    img{
                        margin: 5% 20%;
                        width: 60%;
                    }
                }

            }
            .blueprint{
                background-image:url('../images/blueprint.jpg');
                background-color: #112845;
                background-position: -1px 0px;
                background-repeat: no-repeat;
                background-size: contain;
                border-bottom: 10px solid #24282a;
            }
            .progreso{
                background-image:url('../images/progreso.jpg');
                background-size:cover;
                background-color: #24282A;
                padding-top: 5px;
                padding-bottom: 10px;
                .spinner{    
                    max-width: 49%;
                    padding: 5% 9% 10%;
                    position: relative;
                    .circle{
                        background-color: rgba(13, 15, 19, 0.55);
                        border-radius: 50%;
                        display: block;
                        height: 46%;
                        left: 28%;
                        position: absolute;
                        text-align: center;
                        top: 22%;
                        width: 44%;
                    }
                    .text{
                        color: white;
                        font-size: 20px;
                        font-weight: bold;
                        left: ~"calc(50% - 19px)";
                        position: absolute;
                        top: ~"calc(50% - 25px)";
                        width: auto;
                    }
                    @i: 0;
                    .loop (@i) when (@i <= 100) {
                        &[data-progress="@{i}"] {
                            background-image: url("../images/prcnt/@{i}.png");
                        }
                        .loop(@i + 1);
                    }
                    .loop(@i);
                }
            }
            .holoproj{
                background-image:url('../images/holoproj.jpg');
                background-size:cover;
                background-color: #24282A;
                background-position: 0 100%;
                padding: 10px 0 60px;
                position: relative;
                .light{
                    position:absolute;
                    bottom:0;
                    animation: 2s ease .5s normal none infinite running flicker;
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }

            }
            .jector{
                background-image:url('../images/holoprojftr.jpg');
                background-size:cover;
                background-color: #24282A;
                background-position: 0 0;
                padding-top: 60px;
            }
            .parts{
                background-image:url('../images/footernave.gif');
                background-position: 0 -3px;
                background-size: cover;
                border-top: 2px solid #2a2f32;
                padding: 20px 0;
            }
            .agregar{
                border-bottom: 2px solid rgba(255, 255, 255, 0.3);
                border-top: 2px solid rgba(255, 255, 255, 0.3);
                color: white;
                font-size: 150%;
                margin: 4% 10%;
                padding: 2% 3%;
                span{
                    padding-left:3%;
                }
            }
            .up-line{
                border-top:2px solid rgba(255, 255, 255, 0.3);
                margin: 0 10%;
                padding: 4% 2%;
                width: 80%;
            }
            .parte{    
                display: inline-flex;    
                align-items: center;    
                justify-content: space-between;
                background: #1f2733;
                border-radius: 5px;
                color: white;
                font-size: 120%;
                margin: 2% 10%;
                padding: 3% 5%;
                width: 80%;
                background: -moz-radial-gradient(center, ellipse cover,  #1f2733 0%, #141921 100%);
                background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1f2733), color-stop(100%,#141921));
                background: -webkit-radial-gradient(center, ellipse cover,  #1f2733 0%,#141921 100%);
                background: -o-radial-gradient(center, ellipse cover,  #1f2733 0%,#141921 100%);
                background: -ms-radial-gradient(center, ellipse cover,  #1f2733 0%,#141921 100%);
                background: radial-gradient(ellipse at center,  #1f2733 0%,#141921 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f2733', endColorstr='#141921',GradientType=1 );
                [class^="icon-"]{
                    color:@clr-greenLight;
                    font-size:150%;
                    padding-right: 5%;
                }
                .icon-checked-join{
                    color:@clr-greenicon;
                }
                .icon-wrong{
                    color:gray;
                }
                div{
                    display: inherit;
                }
                span{
                    line-height: normal;
                }
            }
            .wall{
                .parte{
                    display: block; 
                    justify-content: unset; 
                    padding: 0px;
                    .author{
                        width: 100%; 
                        display: inline-flex; 
                        border-bottom: 2px solid rgba(255, 255, 255, 0.08); 
                        margin-bottom: 3%; 
                        padding: 2% 5%;
                        img{
                            margin-right: 3%; 
                            width: 15%;
                        }
                        div{
                            display:block;
                            span, div{
                                color:gray;
                            }
                        }
                    }
                    .block{
                        border-bottom: 2px solid rgba(255, 255, 255, 0.08);
                        margin: 0 5%;
                        padding: 3% 0;
                        width:90%;
                    }
                    .coment{
                        display: inline-flex;
                        img{
                            margin-right: 5%; 
                            width: 20%;
                        }
                        div{
                            display:block;
                            font-size: 80%;
                            span{
                                color:gray;
                            }
                            div{
                                font-size: 120%;
                                padding-top: 2%;
                            }
                        } 
                    }
                    .vermas{
                        border: 2px dashed rgba(255, 255, 255, 0.25);
                        border-radius: 6px;
                        display: inline-flex;
                        justify-content: space-between;
                        margin: 5%;
                        padding: 2% 5%;
                        width: 90%;
                        i{
                            color:white;
                        }
                    }
                }
            }
            .paginadores{
                color:@clr-greenicon;
                margin: 5% 15%;
                i{
                    font-size: 300%;
                }
            }
            .forma{
                label {
                    cursor: pointer;
                    display: block;
                    margin-right: 15px;
                    padding-left: 10%;
                    position: relative;
                    line-height:normal;
                }
                input[type="radio"], input[type="checkbox"] {
                    display: none;
                }
                input[type="radio"] + label::before, input[type="checkbox"] + label::before{                
                    border: 1px solid rgba(255, 255, 255, 0.3);
                }
                label::before {
                    background-color: transparent;
                    content: "";
                    display: inline-block;
                    left: 0;
                    margin-right: 10px;
                    position: absolute;
                }
                input[type=radio] + label::before {
                    line-height: 50%;
                    padding: 0 2px 3px 1px;
                }
                input[type=checkbox] + label {
                    margin-bottom: 10px;
                }
                input[type=checkbox] + label::before {
                    border-radius: 3px;
                    padding: 0 6px;
                    content: "\2713";
                    color: rgba(0,0,0,0);
                }
                input[type=checkbox]:checked + label:before {
                    content: "\2713";
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
                    color: @clr-greenLight;
                    text-align: center;
                }
                input[type=checkbox]:checked + label{
                    color: @clr-greenLight;
                }
                input[type=radio] + label:before {
                    content: "\2022";
                    color: rgba(0,0,0,0);
                    border-radius: 50%;     
                }
                input[type=radio]:checked + label:before {
                    content: "\2022";
                    color: @clr-greenLight;
                    text-align: center;
                }
                .tnf{
                    margin-top:5%;
                    label:before{
                        display:none;
                        content:"";
                    }
                    label{
                       padding:0 !important;
                       display: inline-block;
                    }
                    input[type=radio]:checked + label{
                        color: @clr-greenLight;
                    }
                    label{
                        border: 1px solid white;
                        display: inline-block;
                        line-height: 200%;
                        margin: -2.5px !important;
                        padding: 0;
                        text-align: center;
                        width: 50%;
                        &:hover{
                            background-color: rgba(0,0,0,.2);
                        }
                    }
                    label:nth-child(2){
                        border-radius: 20px 0 0 20px;
                    }
                    label:nth-child(4){
                        border-radius: 0 20px 20px 0;
                    }

                }
                div.cs-select {
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    text-align: left;
                    background: #fff;
                    z-index: 100;
                    width: 100%;
                    max-width: 500px;
                    margin: 10px 0;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                div.cs-select:focus {
                    outline: none;
                }
                .cs-select select {
                    display: none;
                }
                .cs-select span {
                    display: block;
                    position: relative;
                    cursor: pointer;
                    padding: 1em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .cs-select > span {
                    padding-right: 3em;
                }
                .cs-select > span::after,
                .cs-select .cs-selected span::after {
                    speak: none;
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }

                .cs-select > span::after {
                    content: "\e612";
                    right: 1em;
                }

                .cs-select .cs-selected span::after {
                    content: '\2713';
                    margin-left: 1em;
                }

                .cs-select.cs-active > span::after {
                    -webkit-transform: translateY(-50%) rotate(180deg);
                    transform: translateY(-50%) rotate(180deg);
                }

                div.cs-active {
                    z-index: 200;
                }
                .cs-select .cs-options {
                    position: absolute;
                    overflow: hidden;
                    width: 100%;
                    background: #fff;
                    visibility: hidden;
                }
                .cs-select.cs-active .cs-options {
                    visibility: visible;
                }
                .cs-select ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                }
                .cs-select ul span {
                    padding: 1em;
                }

                .cs-select ul li.cs-focus span {
                    background-color: #ddd;
                }

                .cs-select li.cs-optgroup ul {
                    padding-left: 1em;
                }
                .cs-select li.cs-optgroup > span {
                    cursor: default;
                }
                div.cs-skin-rotate {
                    background: transparent;
                    -webkit-perspective: 1000px;
                    perspective: 1000px;
                }

                @media screen and (max-width: 30em) {
                    div.cs-skin-rotate { font-size: 1em; width: 200px; }
                }

                .cs-skin-rotate > span,
                .cs-skin-rotate .cs-options li {
                    background: transparent;
                    -webkit-transform-origin: 50% 50% -200px;
                    transform-origin: 50% 50% -200px;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                    transition: transform 0.3s, opacity 0.3s;
                }

                @media screen and (max-width: 30em) {
                    .cs-skin-rotate > span,
                    .cs-skin-rotate .cs-options li {
                        -webkit-transform-origin: 50% 50% -100px;
                        transform-origin: 50% 50% -100px;
                    }
                }

                .cs-skin-rotate > span {
                    border-bottom: 1px solid rgba(255,255,255,.3);
                    border-top: 1px solid rgba(255,255,255,.3);
                }

                .cs-skin-rotate.cs-active > span {
                    opacity: 0;
                    -webkit-transform: rotate3d(0,1,0,-90deg);
                    transform: rotate3d(0,1,0,-90deg);
                }

                .cs-skin-rotate > span::after,
                .cs-skin-rotate .cs-selected span::after {
                    font-family: 'icomoon';
                }

                .cs-skin-rotate > span::after,
                .cs-skin-rotate.cs-active > span::after {
                    -webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,-90deg);
                    transform: translate3d(0,-50%,0) rotate3d(0,0,1,-90deg);
                }

                .cs-skin-rotate ul span::after {
                    content: '';
                    opacity: 0;
                }

                .cs-skin-rotate .cs-selected span::after {
                    opacity: 0.5;
                    -webkit-transition: opacity 0.3s;
                    transition: opacity 0.3s;
                }

                .cs-skin-rotate .cs-options {
                    background: transparent;
                    top: 0;
                    overflow: visible;
                    visibility: visible;
                    pointer-events: none;
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                }

                .cs-skin-rotate .cs-options ul {
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                }

                .cs-skin-rotate .cs-options li {
                    opacity: 0;
                    -webkit-transform: rotate3d(0,1,0,90deg);
                    transform: rotate3d(0,1,0,90deg);
                }

                .cs-skin-rotate.cs-active .cs-options li {
                    opacity: 1;
                    -webkit-transform: rotate3d(0,1,0,0deg);
                    transform: rotate3d(0,1,0,0deg);
                    pointer-events: auto;
                }

                .cs-skin-rotate .cs-options li:nth-child(2) {
                    -webkit-transition-delay: 0.05s;
                    transition-delay: 0.05s;
                }

                .cs-skin-rotate .cs-options li:nth-child(3) {
                    -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
                }

                .cs-skin-rotate .cs-options li:nth-child(4) {
                    -webkit-transition-delay: 0.15s;
                    transition-delay: 0.15s;
                }

                .cs-skin-rotate .cs-options li:nth-child(5) {
                    -webkit-transition-delay: 0.2s;
                    transition-delay: 0.2s;
                }

                .cs-skin-rotate.cs-active .cs-options ul li {
                    -webkit-transform: translate3d(0,0,0);
                    transform: translate3d(0,0,0);
                }

                .cs-skin-rotate .cs-options li span {    
                    background-color: #1f2733;
                    padding: 5px 0;
                }

                .cs-skin-rotate .cs-options li span:hover,
                .cs-skin-rotate .cs-options li.cs-focus span,
                .cs-skin-rotate .cs-selected span {
                    opacity: 0.8;
                }

            }
            
        /***********************************************************************
         01. $video-gallery
         Description: CSS for video gallery component
        ************************************************************************/
        .video-gallery {
            margin-top: 10px;

            .stage {
                display: block;
                position: relative;
                padding: 0;
                margin: 0 auto;
                width: 370px;
                height: 220px;

                .icon {
                    display: block;
                    position: absolute;
                    z-index: 2;
                }
                .icon-close {
                    right: -22px; top: -22px;
                    padding: 0;
                    margin: 0;
                    width: 46px;
                    height: 46px;
                    border: 5px solid @clr-black;
                    .border-radius-circle ();
                    background-color:@clr-orange;
                    background-image: url('../images/ics-gentera.png');
                    background-position: center -127px;
                    background-repeat: no-repeat;
                }
                .icon-play {
                    display: none;
                    left: 50%; top: 50%;
                    padding: 0;
                    margin: -41px 0 0 -41px;
                    width: 82px;
                    height: 82px;
                    border: none;
                    background-color: transparent;
                    background-image: url('../images/icn-video-play.png');
                    background-position: center center;
                }                 
            }
            .stage.perform {
                .player {display: block;}
                .carousel {display: none;}
            }
            .player {
                display: none;
                position: relative;
                overflow: hidden;
                padding:0;
                margin: 0 auto;
                width: inherit; 
                height: inherit;
                border:6px solid @clr-black;
                .border-radius(6px);
            }
            .carousel {
                display: block;
                width: 320px; 
                height: 180px;
                margin: 0 auto;
            }
        }
        /***********************************************************************/


        /***********************************************************************
         02. $my-progress
         Description: CSS for video gallery component
        ************************************************************************/        
        .my-progress {
            margin-top: 70px;

            .progress {
                display: block;
                position: relative;
                padding: 0 ;
                margin: 32px auto 18px;
                width: 203px;
                height: 203px;
                background-color: transparent;
                background-image: url('../images/img-progress-component.png');
                background-position: center center;
            }
            label {
                display: block;
                margin-top: 81px;
                width: auto; 
                height: auto;
                color: @clr-white;
                font-family: Robot, Arial, Sans-serif;
                font-size: 30px;
                font-weight: 600;
                text-align: center;
            }
            .stage {
                display: block;
                padding:1px 0;
                margin: 5px 0;
            }
            img {
                display: block;
                padding: 0;
                margin: 0 auto;
                width: auto; 
                height: auto;
            }
        }
        /***********************************************************************/     


        /***********************************************************************
         03. $current-satge
         Description: CSS for video gallery component
        ************************************************************************/   
        .current-satge {
            margin-top: 26px;

            h3 {
                margin-bottom: 6px;
            }
            .btn {
                display: block;
                width: 270px;
                margin: 32px auto;
            }
        }
        /***********************************************************************/ 


        /***********************************************************************
         04. $my-badges
         Description: CSS for user badges component
        ************************************************************************/  
        .my-badges {
            margin-top: 147px;

            h3 {
                margin-bottom: 15px;
            }
            img {
                display: block;
                padding: 0;
                margin: 0 auto;

            } 
            p {
                margin-top: 15px;
            }    
        } 
        /***********************************************************************/ 


        /***********************************************************************
         05. $user-avatar
         Description: CSS to represent a user avatar picture with info
        ************************************************************************/  
        .user-avatar {
            display: block;
            position: relative;
            overflow: visible;
            padding: 0;
            margin: 0 auto;
            width: 100%;
            max-width: 115px;
            height: auto;

            img {
                display: block;
                padding: 0; 
                margin: 0; 
                width: 115px;
                height: 115px;
                .border-radius-circle ();                  
            }
            figcaption {
                position: absolute;
                left: 50%; bottom: -16px;
                padding: 0;
                margin: 0 0 0 -16px;
                width: 34px;
                height: 34px;
                background-color: @clr-blueMedium;
                .border-radius-circle ();                      
                color: @clr-white;
                font-family: Roboto, Sans-serif, Arial;
                font-size: 16px;
                font-weight: 700;
                line-height: 36px;
                text-align: center;
            }
        }
        /***********************************************************************/   


        /***********************************************************************
         06. $user-data
         Description: CSS to represent the user's data section beneath to avatar
        ************************************************************************/          
        .user-data {
            display: block;
            position: relative;
            padding: 0;
            margin: 60px auto 0;
            width: 370px; 
            height: 94px;
            background-color: @clr-blueDark;
            .border-radius(6px);

            p {
                padding:18px 0 0;
                margin:0 auto;
                color: @clr-white;
                font-family: Roboto, Sans-serif, Arial;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.4;
                text-transform: capitalize;
            }
            label {
                padding: 0;
                margin: 0;
                color: @clr-blueLight;
                font-weight: inherit;
            }
            span {
                padding: 0;
                margin: 0;                    
                color: inherit;
                font-weight: 700;
            } 
            .inline-list {
                margin-top: 11px;
                text-align: center;
            }
            li {
                display: inline;
                float: none;
                padding: 3px 8px;
                margin-left:3px;
                background-color: transparent;
                border: 2px solid @clr-green;
                .border-radius(15px);
                color: @clr-green;

                span {
                    color: inherit;
                    font-family: Play, Sans-serif, Arial;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            .points {
                position: relative;
                padding-right: 24px;

                &:before {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0;
                    margin: 0;
                    width: 24px;
                    height: 22px;
                    background-attachment: scroll;
                    background-image: url('../images/ics-gentera.png');
                    background-position: center -165px;
                    background-repeat: no-repeat;
                    content: " ";
                }
            }
        }
        /***********************************************************************/        


        /***********************************************************************
         06. $top-users
         Description: CSS to represent the tabbed list of top users and current
        ************************************************************************/ 
        .top-users {
            margin-top: 243px;

            .head,
            .body {
                padding: 0;
                margin: 0 auto;
            }
            .row {
                margin-left: 0;
                margin-right: 0;

                &> div {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            .user-avatar {
                position: relative;
                overflow: visible;
            }

            .arrow-up {
                display: none;
                position: absolute;
                bottom:-63px; left: 52%;
                margin-left:-20px;
                .css-arrow-up(20px, @clr-blueDark);
            }
            .current-user {
                width: 370px;
                padding: 0;
                margin: 40px auto 0;

                a {
                    display: block;
                    margin: 0 auto;
                    width: 115px;
                }
                .user-data {
                    margin-top: 8px;
                    height: auto;
                    background-color: transparent;
                }
            }
            [data-content-id] {
                display: none;
            }
            .tabs {
                display: block; 
                padding: 0;
                margin: 0 auto;
                width: 370px;                
                &[data-tab-selected="1"] {
                    [data-tab-id="1"] {
                        .arrow-up {
                            display: block;
                        }
                        figcaption {
                            background-color: @clr-blueDark;
                        }
                    }
                    [data-content-id="1"] {
                        display: block;
                    }
                    
                }
                &[data-tab-selected="2"] {
                    [data-tab-id="2"] {
                        .arrow-up {
                            display: block;
                        }
                        figcaption {
                            background-color: @clr-blueDark;
                        }
                    }
                    [data-content-id="2"] {
                        display: block;
                    }                    
                    
                } 
                &[data-tab-selected="3"] {
                    [data-tab-id="3"] {
                        .arrow-up {
                            display: block;
                        }
                        figcaption {
                            background-color: @clr-blueDark;
                        }
                    }
                    [data-content-id="3"] {
                        display: block;
                    }                    
                    
                }
            }   
        }
        /***********************************************************************/


        /***********************************************************************
         07. $ilustration
         Description: CSS to represent an area to place a graphic illustration
        ************************************************************************/
        .ilustration {
            display: block;
            padding: 0;
            margin: 0;
            width: auto;
            height: 400px;
        }
        /***********************************************************************/


        /***********************************************************************
         08. $user-dashboard
         Description: CSS to represent an area to place a graphic illustration
        ************************************************************************/
        .user-dashboard {
            padding-top: 150px;
            height: 858px;
            /* .gradient-sky (); */
            /*background: url('../images/img-profile-spaceship-dashboard-top.png') left top no-repeat, 
                        url('../images/img-profile-spaceship-dashboard-bottom.png') left bottom no-repeat, 
                        url('../images/img-bg-profile-sky.jpg') center top repeat-y;*/

            background: url('../images/img-profile-spaceship-dashboard-top.png') left top no-repeat, url('../images/img-bg-profile-top.jpg') left top no-repeat;

            .user-data {
                margin-top: 8px;
                height: auto;
                background-color: transparent;

                p {
                    text-align: center;
                }
            }
        }



    }
}

/* sm viewport */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .ns-app {
        
    }    
}

/* md viewport */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .ns-app {
        
    }
}

/* lg viewport */
@media screen and (min-width: 1200px) {
    .ns-app {
        
    }
}