/********************************************************************************
    Incluso Digital CSS Overrides

    Description:    This file provides CSS rules for all the views that conform 
                    the Incluso Digital Application.
    Uses:           bootstrap.css, base.css, entities.css

    Color Palette:  Please look at base.css
    Index:
        01. public
        02. start-dashboard
        03. profile-dashboard
********************************************************************************/
@import "less-utilities.less";

/* Public Pages */
.incluso-app.public {
    background-attachment: fixed;
    background-image:url('../images/bg-sm-public-page.jpg');
    background-position: center -23px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    header {
        position: relative;
        padding-top: 80px;
        padding-bottom: 16px;

        img {
            display: block;
            margin:0 auto;
            width: auto;
        }
        figcaption {
            margin:10px auto;
            margin: 0;
            padding: 24px 0 10px 0;
            .clr-white(color, 0.5);
            font-size: 28px;
            font-weight: bold;
            line-height: 28px;
        }
    }
    section {
        margin: 0 24px;
    }
    .input-group-addon {
        font-size: 24px;
    }
    .form-group {
        margin-bottom: 0;
        border-bottom-width:1px;
        border-bottom-style:solid;
        .clr-white(border-color, 0.3);
    }
    .checkbox {
        margin:28px 0;

        input {
            position: static;
            margin-left: 0;
        }
        label {
            padding-left: 18px;
            line-height: 1.4;
            vertical-align: middle;
        }
        label span {
          font-size: 20px;
          color: white;
          font-weight: 500;
          margin-left: 10px;
        }
    }
    .btn-spacer {
        height: 66px; 
        padding:20px0 0;
        .clr-white(color, 0.75);
        font-size: 20px;
        font-weight: 500;
    }    
    .btn-primary {
        text-transform: uppercase;
    }
    .btn-facebook {
        font-size: 21px;
        font-weight: 600;
        letter-spacing: 0.01em;
    }
    footer {
        padding: 64px 0;

        a {
            display: inline-block;
            padding: 8px 0;
            margin: 0;
            color:@clr-white;
            font-size: 20px;
            font-weight: normal;
            text-decoration: none;
        }
    }
    form {
        h1 {
            margin: 10px 0 24px;
            color: @clr-white;
            font-size: 18.666px;
            font-weight: bold;
            letter-spacing: 0.037em;
        }
    }
    .login {
        position: relative;
    }    
}

/* Dashboard */
.incluso-app.start-dashboard {
	background-attachment: scroll;
	background-position: center -23px;
	background-repeat: no-repeat;
	/*background-size: cover;*/
    background: #14181d;
    background: -moz-linear-gradient(top,  #14181d 0%, #173a4a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14181d), color-stop(100%,#173a4a));
    background: -webkit-linear-gradient(top,  #14181d 0%,#173a4a 100%);
    background: -o-linear-gradient(top,  #14181d 0%,#173a4a 100%);
    background: -ms-linear-gradient(top,  #14181d 0%,#173a4a 100%);
    background: linear-gradient(to bottom,  #14181d 0%,#173a4a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14181d', endColorstr='#173a4a',GradientType=0 );
    .container{
        background-attachment: fixed;
        background-image: url("../images/estrellascortas.png");
        background-size:contain;
        
    }
    #site-canvas{
        background-attachment: scroll;
        background-image: url("../images/estrellaslarg-01.png");
        background-size:contain;            
    }

    h1 { 
        display: block;
        padding:0; margin: 42px 0 15px;
        color:#FFF;
        font-family: Roboto, Arial;
        font-size: 28px;
        font-weight: 400;
        text-transform: capitalize;
    }    
}

/* Profile Dashboard */
.incluso-app.profile {
    .gradient-sky ();

    footer {
        padding-bottom: 30px;
        background-color: @clr-gray-asphalt2;
        background-image: url('@{url-images}/img-footer-texture.png');
        background-position: center 10px;
        background-repeat: no-repeat;
        
        .btn-back-to-top {
            display: block;
            padding:20px 0 0;
            
        }
    }

}



