/********************************************************************************
    Incluso Digital CSS Overrides

    Description:    This file provides CSS rules for all the views that conform 
                    the Incluso Digital Application.
    Uses:           bootstrap.css, base.css, entities.css

    Color Palette:  Please look at base.css
    Index:
        01. public
        02. start-dashboard
        03. profile-dashboard
********************************************************************************/
@import "less-utilities.less";

/* Public Pages */
.incluso-app.public {
    background-attachment: fixed;
    background-image:url('../images/bg-sm-public-page.jpg');
    background-position: center -23px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    header {
        position: relative;
        padding-top: 80px; padding-top: 16vw;
        padding-bottom: 16px; padding-bottom: 3vw;
        margin: 0 auto;
        width: 92%;

        img {
            display: block;
            margin:0 auto;
            width: auto;
            width: 55vw;
        }
        figcaption {
            margin:10px auto;
            margin: 0;
            padding: 24px 0 10px 0; padding: 6vw 0 3vw 0;
            .clr-white(color, 0.5);
            font-size: 1.6em;  font-size: 5.6vw;
            font-weight: bold;
            line-height: 28px; line-height: 6.6vw;

            span {
                padding-left:2vw;

                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
    section {
        margin: 0 auto;
        width: 92%;
    }
    .input-group-addon {
        font-size: 24px;
    }
    .form-group {
        margin-bottom: 0;
        /*margin-bottom: 0;
        border-bottom-width:1px;
        border-bottom-style:solid;
        .clr-white(border-color, 0.3);*/
    }
    .checkbox {
        width: 66%;
/*        margin:28px 0;*/
        margin: 6vw 0;

        input {
            position: static;
            margin-left: 0;
            /*width: 24px;
            height: 24px;*/
        }
        label {
            /*padding-left: 3%;*/
            line-height: 1.4;
            vertical-align: middle;
        }
        label span {
          /*font-size: 20px;*/
          color: white;
          font-weight: 500;
          /*margin-left: 20px;*/
        }
    }
    .btn-spacer {
        height: 66px; 
        padding:20px 0 0;
        .clr-white(color, 0.75);
        font-size: 20px;
        font-weight: 500;
    }    
    .btn-primary {
        text-transform: uppercase;
    }
    .btn-facebook {
        font-size: 1.2em;
        font-weight: 600;
        letter-spacing: 0.01em;
    }
    footer {
        padding: 64px 0; padding: 15vw 0;

        a {
            display: inline-block;
            padding: 8px 0;
            margin: 0;
            color:@clr-white;
            font-size: 20px;
            font-weight: normal;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    form {
        h1 {
            margin: 10px 0 24px;
            color: @clr-white;
            font-size: 18.666px;
            font-weight: bold;
            letter-spacing: 0.037em;
            text-transform: capitalize;
        }
    }
    .login {
        position: relative;

        .input-group {
            .input-group-addon.addon-lg {
                /*font-size: 6vw;
                line-height: 6vw;*/
                vertical-align: top;
            }
            .form-control {
                /*font-size: 6vw;
                line-height: 6vw;*/
                vertical-align: bottom;
            }
        }
    }    
}

/* Dashboard */
.incluso-app.start-dashboard {
	background-attachment: scroll;
	background-position: center -23px;
	background-repeat: no-repeat;
	/*background-size: cover;*/
    background: #14181d;
    background: -moz-linear-gradient(top,  #14181d 0%, #173a4a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14181d), color-stop(100%,#173a4a));
    background: -webkit-linear-gradient(top,  #14181d 0%,#173a4a 100%);
    background: -o-linear-gradient(top,  #14181d 0%,#173a4a 100%);
    background: -ms-linear-gradient(top,  #14181d 0%,#173a4a 100%);
    background: linear-gradient(to bottom,  #14181d 0%,#173a4a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14181d', endColorstr='#173a4a',GradientType=0 );

    .container{
        background-attachment: fixed;
        background-image: url("../images/bg-stars-01.png");
        background-size:contain;
        
    }
    #site-canvas{
        background-attachment: scroll;
        background-image: url("../images/bg-stars-02.png");
        background-size:contain;            
    }

    h1 { 
        display: block;
        padding:0; margin: 42px 0 15px;
        color:#FFF;
        font-family: Roboto, Arial;
        font-size: 1.4em;
        font-weight: 400;
        text-transform: capitalize;
    }    
    .component {
        padding: 0 5%;
    }
    .container{
        padding:0;
    }
    .user-avatar {
        figure {border: 0px solid transparent;}
        figcaption {
            background-color: @clr-blueMedium;
            color: @clr-white;
            font-size: 1em;
        }
    }
    .global-progress {
        margin-top: 50px;
    }
    .current-satge {
        h3 {
            margin-top: 24px;
            color: @clr-white;
        } 
        .btn {
            text-transform: uppercase;
        }       
    }


    .navbar-assets {
        padding-left: 0;
        margin-left: 42px;

        .navbar-heading {width:50%;}
        .navbar-tools {
            width:50%;

            li {
                height: auto;
            }
        }
    }
    .navbar-toggle .icomoon {
        font-size: 2em;
        line-height: 2em;
    }
    .navbar-heading {
        width: 40%;
        font-size: 1.4em;
        line-height: 60px;
    }
    .navbar-tools {
        width: 60%;

        li {
          display: inline-block;
          height: 32px;
          margin: 0 0 0 8px;
          padding: 0;
          width: auto;
          line-height: 64px;
        }
        a {
          display: block;
          height: inherit;
          margin: 0;
          padding: 0;
          width: inherit;
        } 
        .icomoon {
            font-size: 1.4em;
            color: @clr-white;
        }     
    }    

    /* tabs */
    .active {
        .user-avatar figcaption {
            background-color: @clr-blueDark; /* @clr-grayDark; */
        }
        .arrow-up {
            display:block;
            bottom: -69px;
        }
    } 
    footer {
        li:last-child {display: none;}
    }   
}

/* Profile Dashboard */
.incluso-app.profile {
    .gradient-sky ();

    .navbar-assets {
        padding-left: 0;
        margin-left: 42px;

        .navbar-heading {width:50%;}
        .navbar-tools {
            width:50%;

            li {
                height: auto;
            }
        }
    }
    .navbar-toggle .icomoon {
        font-size: 2em;
        line-height: 2em;
    }
    .navbar-heading {
        width: 40%;
        font-size: 1.4em;
        line-height: 60px;
    }
    .navbar-tools {
        width: 60%;

        li {
          display: inline-block;
          height: 32px;
          margin: 0 0 0 8px;
          padding: 0;
          width: auto;
          line-height: 64px;
        }
        a {
          display: block;
          height: inherit;
          margin: 0;
          padding: 0;
          width: inherit;
        } 
        .icomoon {
            font-size: 1.4em;
            color: @clr-white;
        }     
    }    

    footer {
        padding-bottom: 30px;
        background-color: @clr-gray-asphalt2;
        background-image: url('@{url-images}/img-footer-texture.png');
        background-position: center 10px;
        background-repeat: no-repeat;
        .background-size(80%, auto);
        
        .btn-back-to-top {
            display: block;
            padding:20px 0 0;
            
        }
        .block-list,
        .btn-back-to-top {
            width:250px;
            margin-left: auto;
            margin-right: auto;
        } 
        li:last-child {display: none;}       
    }
    .panel-title {display: inline;}

    .user-avatar {
        figcaption {
            border: 3px solid @clr-green;
            font-size: 1em;
            line-height: 2em;
        }
    }
}

/* Edit Profile */
.incluso-app.edit-profile {
    .list-group {
        margin:0 auto;
        width: 92%;
    }
    .panel {
        margin:0 auto;
        width: 92%;
    }
    .my-profile-form {
        select.form-control {
            /*border-left-style: solid !important;
            border-left-color: @clr-white !important;*/
            /*.clr-white(border-left-color, 0.0);*/
            /*border-left-width: 0 !important;*/

            /*border-right-style: solid !important;
            border-right-color: @clr-white !important;*/
            /*border-right-width: 0 !important;*/

            /*border-top-style: solid !important;
            border-top-color: @clr-white !important;*/
            /*border-top-width: 0 !important;*/
            /*border: none !important;*/
        }
    }
}

/* Step dashboard*/
.incluso-app.step-dashboard {
    .navbar{     
        background-color: @clr-bluenav;
        border-color: @clr-bluenav;
    }
    #site-menu{
        .navbar{     
            background-color: darken(@clr-bluenav, 9%);
            border-color: darken(@clr-bluenav, 9%);
        }
    }
    .video-gallery{
        margin: 0;
        padding: 20px;
        background-image: url('@{url-images}/bg-video-lg.jpg');
        background-color: #2A2E31;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: contain;        
    }
    .carousel{
        .control{
            position:absolute;
            top:20%;
            font-size: 300%;
            color:@clr-greenicon;
            text-decoration: none;
        }
        #prev{
            left:3%;
        }
        #next{
            right:3%;
        }
    }
    footer.footer{
        background-image: url('@{url-images}/img-footer-texture-lg.png');
        background-color: #24292B;
        box-shadow: unset;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        li:last-child {display: none;}
    }
    .txt-small{
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 80%;
        line-height: normal;
        margin: 0 2vw;
        padding: 1vw 2vw;
    }
    .gr-bg{
        background:none #0A9648;
    }
}
.incluso-app.show-nav #menuton{
    color: rgba(0,0,0,.2);
}


