/********************************************************************************
    Incluso Digital CSS Overrides

    Description:    This file provides CSS rules for all the views that conform 
                    the Incluso Digital Application.
    Uses:           bootstrap.css, base.css, entities.css

    Color Palette:  Please look at base.css
    Index:
        01. public
        02. start-dashboard
        03. profile-dashboard
********************************************************************************/
/****************************************************************************
 LESS Utilities - variables and functions
****************************************************************************/
/* Path vars */
/* Color Palette */
/* shape variables */
/* parametric color functions */
/* Custom Functions */
/* Public Pages */
.incluso-app.public {
  background-attachment: fixed;
  background-image: url('../images/bg-sm-public-page.jpg');
  background-position: center -23px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.incluso-app.public header {
  position: relative;
  padding-top: 80px;
  padding-bottom: 16px;
}
.incluso-app.public header img {
  display: block;
  margin: 0 auto;
  width: auto;
}
.incluso-app.public header figcaption {
  margin: 10px auto;
  margin: 0;
  padding: 24px 0 10px 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
}
.incluso-app.public section {
  margin: 0 24px;
}
.incluso-app.public .input-group-addon {
  font-size: 24px;
}
.incluso-app.public .form-group {
  margin-bottom: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
}
.incluso-app.public .checkbox {
  margin: 28px 0;
}
.incluso-app.public .checkbox input {
  position: static;
  margin-left: 0;
}
.incluso-app.public .checkbox label {
  padding-left: 18px;
  line-height: 1.4;
  vertical-align: middle;
}
.incluso-app.public .checkbox label span {
  font-size: 20px;
  color: white;
  font-weight: 500;
  margin-left: 10px;
}
.incluso-app.public .btn-spacer {
  height: 66px;
  padding: 20px 0 0;
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
  font-weight: 500;
}
.incluso-app.public .btn-primary {
  text-transform: uppercase;
}
.incluso-app.public .btn-facebook {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.01em;
}
.incluso-app.public footer {
  padding: 64px 0;
}
.incluso-app.public footer a {
  display: inline-block;
  padding: 8px 0;
  margin: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
}
.incluso-app.public form h1 {
  margin: 10px 0 24px;
  color: #ffffff;
  font-size: 18.666px;
  font-weight: bold;
  letter-spacing: 0.037em;
}
.incluso-app.public .login {
  position: relative;
}
/* Dashboard */
.incluso-app.start-dashboard {
  background-attachment: scroll;
  background-position: center -23px;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background: #14181d;
  background: -moz-linear-gradient(top, #14181d 0%, #173a4a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #14181d), color-stop(100%, #173a4a));
  background: -webkit-linear-gradient(top, #14181d 0%, #173a4a 100%);
  background: -o-linear-gradient(top, #14181d 0%, #173a4a 100%);
  background: -ms-linear-gradient(top, #14181d 0%, #173a4a 100%);
  background: linear-gradient(to bottom, #14181d 0%, #173a4a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14181d', endColorstr='#173a4a', GradientType=0);
}
.incluso-app.start-dashboard .container {
  background-attachment: fixed;
  background-image: url("../images/estrellascortas.png");
  background-size: contain;
}
.incluso-app.start-dashboard #site-canvas {
  background-attachment: scroll;
  background-image: url("../images/estrellaslarg-01.png");
  background-size: contain;
}
.incluso-app.start-dashboard h1 {
  display: block;
  padding: 0;
  margin: 42px 0 15px;
  color: #FFF;
  font-family: Roboto, Arial;
  font-size: 28px;
  font-weight: 400;
  text-transform: capitalize;
}
.incluso-app.start-dashboard .component {
  padding: 0 5%;
}
.incluso-app.start-dashboard .container {
  padding: 0;
}
.incluso-app.start-dashboard .user-avatar figure {
  border: 10px solid transparent;
}
/* Profile Dashboard */
.incluso-app.profile {
  background: #13171c;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEzMTcxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjNhNGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #13171c 0%, 100%);
  /* FF3.6+ *#163a4a/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#13171c), color-stop(100%,#163a4a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #13171c 0%, #163a4a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #13171c 0%, #163a4a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #13171c 0%, #163a4a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #13171c 0%, #163a4a 100%);
  /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13171c', endColorstr='#163a4a',GradientType=0 ); /* IE6-8 */
}
.incluso-app.profile footer {
  padding-bottom: 30px;
  background-color: #3c4448;
  background-image: url('../images/img-footer-texture.png');
  background-position: center 10px;
  background-repeat: no-repeat;
}
.incluso-app.profile footer .btn-back-to-top {
  display: block;
  padding: 20px 0 0;
}
.incluso-app.profile .panel-title {
  display: inline;
}
.incluso-app.profile footer {
  /*background-color: rgb(69,78,84);*/
}
.incluso-app.profile footer .block-list,
.incluso-app.profile footer .btn-back-to-top {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
