/********************************************************************************
    Incluso Digital CSS Styles

    Parallel work file for UI Developer 02

    Color Palette:  Please look at base.css
    Index:
        01. $_Base
        02. $_Entities
        03. $_Overrrides
********************************************************************************/

/*******************************************************************************/
@import "less-utilities.less";


.incluso-app {
    
    /********************************************************************************
     Base styles (if needed)
    ********************************************************************************/
    /* Start writing base classes here */

    /********************************************************************************
     Entities styles (if needed)
    ********************************************************************************/
    /* Start writing base classes here */

  
    /********************************************************************************
     Overrides styles (if needed)
    ********************************************************************************/
    /* Start writing base classes here */

    /* Mis Logros */    
    .achievements .panel-body .badge-item {
        height: 40vw;
        padding: 10px;
        margin: 10px 0 0;
        border-bottom: 1px solid rgb(139,168,177);
        cursor: pointer;
    }
    .achievements .panel-body .badge-item img {
        height: auto;
        width: 100%;
    }
    .achievements .panel-body .badge-item .badgename {
        color: #fff;
        font-family: Play;
        font-size: 4vw;
        line-height: 5vw;
        text-align: center;
    }
    .achievements .panel-body .pager {
        display: block;
        margin: 8vw 0 0;
    }
    .achievements .panel-body .pager > * {
        display: inline-block;
        vertical-align: middle;
        margin: 0 2vw;
    }
    .incluso-app .achievements .panel-body .pager .icomoon {
        font-size: 13vw;
        color: rgb(0,173,138);
        cursor: pointer;
    }
    .incluso-app .achievements .panel-body .pager .actual-page {
        color: rgb(0,173,138);
        font-weight: bold;
        font-size: 5vw;
    }
    .incluso-app .achievements .panel-body .pager .icomoon.disabled {
        opacity: 0.3;
    }

    /* Detalle de Logro */  
    .achievement-detail .panel-body .text-center .achievement-badge {
        border-bottom: 1px solid rgb(139,168,177);
        margin-bottom: 5vw;
    }
    .achievement-detail .panel-body .text-center .achievement-badge img {
        width: 50vw;
        height: 50vw;
    }
    .achievement-detail .panel-body .text-center .achievement-badge .badgename {
        color: #fff;
        font-family: Play;
        font-size: 8vw;
        line-height: 7vw;
        text-align: center;
        padding: 4vw 0 0;
    }
    .achievement-detail .panel-body .text-center .achievement-badge .badgedate {
        font-family: Play;
        font-size: 4vw;
        font-weight: bold;
        padding: 2vw 0 4vw;
        color: rgb(153,153,153);
    }
    .achievement-detail .panel-body .text-center .achievement-description {
        color: #fff;
        font-family: Play;
        font-size: 5vw;
        line-height: 7vw;
        padding: 4vw 0;
    }
    .achievement-detail .panel-body .text-center .earned-info {
        color: rgb(99,119,125);
        font-family: Play;
        font-size: 4vw;
        padding: 4vw 0;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .achievement-detail .panel-body .text-center .earned-info .users {
        color: rgb(184,207,51);
    }
    .achievement-detail .panel-body .text-center .share-achievement {
        position: relative;
        overflow: visible;
        display: inline-block;
        padding: 4vw;
        cursor: pointer;
    }
    .achievement-detail .panel-body .text-center .share-achievement .icon-container {
        .border-radius-circle();
        background: rgb(72,81,87);
        border-radius: 90px;
        display: inline-block;
        vertical-align: middle;
        padding: 1vw;
        text-align: center;
        width: auto;
        position: relative;
    }
        .achievement-detail .panel-body .text-center .share-achievement .icon-container .icon-share {
            .border-radius-circle();
            background: rgb(184,207,51);
            border-radius: 90px;
            font-size: 7vw;
            font-weight: bold;
            padding: 8px;
            display: inline-block;
            vertical-align: middle;
        }
        .achievement-detail .panel-body .text-center .share-achievement .share-text {
            background: rgb(72,81,87);
            .border-radius(10vw);
            display: inline-block;
            padding: 2vw 4vw 2vw 12vw;
            font-size: 4vw;
            margin-left: -10vw;
            vertical-align: middle;
            color: #fff;
        }
        .achievement-detail .panel-body .text-center .return-btn {
            .border-radius(10px);
            border-bottom: 1vw solid rgb(209,64,39);
            background: rgb(237,72,35);
            padding: 4vw 6vw;
            color: rgb(256,256,256);
            font-family: play;
            font-size: 7vw;
            font-weight: bold;
            padding: 2vw 4vw;
            text-transform: uppercase;
            display: block;
            cursor: pointer;
            margin: 4vw 1vw 0;
        }

}