<div class="ns-app public" ng-app>

  <article class="password-recovery">

    <div class="alert alert-warning" role="alert">
      <strong>Ups!</strong>Tu correo o contraseña son incorrectos.
    </div>
    <div class="alert alert-success" role="alert">
      ¡Tu correo se ha enviado exitosamente.
    </div>    
  
    <header class="container">
      <div class="row">
        <div class="col-xs-12">
          <figure>
            <img src="" alt="" class="login-logo">
            <figcaption class="center-block text-center">
              <span>Estudia</span>
              <span>Trabaja</span>
              <span>Emprende</span>
            </figcaption>
          </figure> 
        </div>
      </div>
    </header>

    <form action="" class="register-form">

      <section class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h4>Recuperar contraseña</h4>
          </div>
        </div>
        
        <div class="pages slider">

          <div class="page">

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="emailAddOn">
                      <span class="glyphicon glyphicon-envelope"></span>
                    </p>
                    <input type="email" name="username" class="form-control input-lg" placeholder="Correo" aria-describedby="emailAddOn">
                  </div>
                </div>
              </div>
            </div>              
     
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="accountPasswordAddOn">
                      <span class="glyphicon glyphicon-lock"></span>
                    </p>
                    <input type="password" name="password" class="form-control input-lg" placeholder="Contraseña" aria-describedby="accountPasswordAddOn">
                  </div>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="confirmPasswordAddOn">
                      <span class="glyphicon glyphicon-lock"></span>
                    </p>
                    <input type="password" name="passwordConfirmation" class="form-control input-lg" placeholder="Repetir contraseña" aria-describedby="confirmPasswordAddOn">
                  </div>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-xs-12">
                <div class="page-number">
                  <p class="text-center">
                    <span>2</span>
                    <span>/</span>
                    <span>2</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button ng-click="recover()" type="button" class="btn btn-primary btn-lg btn-block">Recuperar</button>
              </div>
              <div class="col-xs-12">
                <button ng-click="cancel()" type="button" class="btn btn-default btn-lg btn-block">Cancelar</button>
              </div>         
            </div>

          </div>                  

        </div>        
      </section>
    
    </form>

  </article> 

  <!-- html -->
  <!-- scripts -->
</div>
