<!-- <div class="ns-app public" ng-app>

  <article class="password-recovery">

    <div class="alert alert-warning" role="alert">
      <strong>Ups!</strong>Tu correo o contraseña son incorrectos.
    </div>
    <div class="alert alert-success" role="alert">
      ¡Tu correo se ha enviado exitosamente.
    </div>    
  
    <header class="container">
      <div class="row">
        <div class="col-xs-12">
          <figure>
            <img src="" alt="" class="login-logo">
            <figcaption class="center-block text-center">
              <span>Estudia</span>
              <span>Trabaja</span>
              <span>Emprende</span>
            </figcaption>
          </figure> 
        </div>
      </div>
    </header>

    <form action="" class="register-form">

      <section class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h4>Recuperar contraseña</h4>
          </div>
        </div>
        
        <div class="pages slider">

          <div class="page">

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="emailAddOn">
                      <span class="glyphicon glyphicon-envelope"></span>
                    </p>
                    <input type="email" name="username" class="form-control input-lg" placeholder="Correo" aria-describedby="emailAddOn">
                  </div>
                </div>
              </div>
            </div>              
     
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="accountPasswordAddOn">
                      <span class="glyphicon glyphicon-lock"></span>
                    </p>
                    <input type="password" name="password" class="form-control input-lg" placeholder="Contraseña" aria-describedby="accountPasswordAddOn">
                  </div>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="confirmPasswordAddOn">
                      <span class="glyphicon glyphicon-lock"></span>
                    </p>
                    <input type="password" name="passwordConfirmation" class="form-control input-lg" placeholder="Repetir contraseña" aria-describedby="confirmPasswordAddOn">
                  </div>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-xs-12">
                <div class="page-number">
                  <p class="text-center">
                    <span>2</span>
                    <span>/</span>
                    <span>2</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button ng-click="recover()" type="button" class="btn btn-primary btn-lg btn-block">Recuperar</button>
              </div>
              <div class="col-xs-12">
                <button ng-click="cancel()" type="button" class="btn btn-default btn-lg btn-block">Cancelar</button>
              </div>         
            </div>

          </div>                  

        </div>        
      </section>
    
    </form>

  </article> 

</div> -->

<div class="incluso-app public" ng-app>

  <article class="password-recovery">

    <div class="alert alert-warning hidden" role="alert">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="icomoon icon-warning"></div>
            <p>¡Error con tu correo! Verifícalo de nuevo</p>
            <ul>
              <li>Verifica el usuario</li>
              <li>Verifica el password</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-success hidden" role="alert" style="display:block">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="icomoon icon-checked-clip"></div>
            <p>¡Tu correo se ha enviado correctamente!</p> 
          </div>
        </div>
      </div>
    </div>

    <header class="container">
      <div class="row">
        <div class="col-xs-12">
          <figure>
            <img src="assets/images/img-logo-sm-white-gentera.png" alt="" class="login-logo">
            <figcaption class="center-block text-center">
              <span>Estudia | </span>
              <span>Trabaja | </span>
              <span>Emprende</span>
            </figcaption>
          </figure> 
        </div>
      </div>
    </header>

    <section>
      <form action="" class="password-recovery-form container-fluid">

        <div class="row">
          <div class="col-xs-12">
            <h1>RECUPERAR CONTRASEÑA</h1>
          </div>
        </div>  

        <div class="pages">
          <div class="page" data-page="1"> 

            <div class="row">
              <div class="col-xs-12">
                <h1>1. Obtener Código de Recuperación de Contraseña</h1>
              </div>
            </div>     

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="emailAddOn">
                      <span class="icomoon icon-envelope"></span>                      
                    </p>
                    <input type="email" class="form-control form-control-lg" placeholder="Correo" aria-describedby="emailAddOn">
                  </div>
                </div>
              </div>
            </div>  

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="securityQuestionAddOn">
                      <span class="icomoon icon-help"></span>
                    </p>
                    <select type="text" class="form-control form-control-lg" aria-describedby="securityQuestionAddOn">
                      <option label="Pregunta de Seguridad" value="" disabled selected style="display:none"></option>
                      <option value="">¿Dónde crecí?</option>
                      <option value="">Nombre de mi mejor amigo</option> 
                      <option value="">Nombre de mi mascota</option> 
                      <option value="">Personaje favorito</option> 
                      <option value="">Banda musical favorita</option> 
                    </select>
                  </div>
                </div>
              </div>
            </div>       

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="securityAnswerAddOn">
                      <span class="icomoon icon-help"></span>
                    </p>
                    <input type="text" class="form-control form-control-lg" placeholder="Respuesta de Seguridad" aria-describedby="securityAnswerAddOn">
                  </div>
                </div>            
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="page-number">
                  <p class="text-center">
                    <span>1</span>
                    <span>/</span>
                    <span>2</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-lg btn-block">Continuar</button>
              </div>
              <div class="col-xs-12">
                <button type="button" class="btn btn-default btn-transparent btn-lg btn-block">Cancelar</button>
              </div> 
            </div>          

          </div>   

          <div class="page active" data-page="2"> 

            <div class="row">
              <div class="col-xs-12">
                <h1>2. Cambiar Contraseña</h1>
              </div>
            </div> 

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="accountPasswordAddOn">
                      <span class="icomoon icon-lock"></span>
                    </p>
                    <input type="password" class="form-control form-control-lg" placeholder="Contraseña" aria-describedby="accountPasswordAddOn">
                  </div>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="repeatPasswordAddOn">
                      <span class="icomoon icon-lock"></span>
                    </p>
                    <input type="password" class="form-control form-control-lg" placeholder="Confirmar Contraseña" aria-describedby="repeatPasswordAddOn">
                  </div>
                </div>
              </div>
            </div>   

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="securityCodeAddOn">
                      <span class="icomoon icon-lock"></span>
                    </p>
                    <input type="text" class="form-control form-control-lg" placeholder="Código de Seguridad" aria-describedby="securityCodeAddOn">
                  </div>
                </div>
              </div>
            </div>                       

            <div class="row">
              <div class="col-xs-12">
                <div class="page-number">
                  <p class="text-center">
                    <span>2</span>
                    <span>/</span>
                    <span>2</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button type="button" ng-click="recover()" class="btn btn-primary btn-lg btn-block">Restablecer</button>
              </div>
              <div class="col-xs-12">
                <button type="button" ng-click="cancel()" class="btn btn-default btn-transparent btn-lg btn-block">Cancelar</button>
              </div>         
            </div>

          </div>                  
        </div> 
      </form>      
    </section>

  </article> 
</div>