<div class="ns-app public" ng-app>

  <article class="register">
  
    <header class="container">
      <div class="row">
        <div class="col-xs-12">
          <figure>
            <img src="" alt="" class="login-logo">
            <figcaption class="center-block text-center">
              <span>Estudia</span>
              <span>Trabaja</span>
              <span>Emprende</span>
            </figcaption>
          </figure> 
        </div>
      </div>
    </header>

    <form action="" class="register-form">

      <section class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h4>Datos de Registro</h4>
          </div>
        </div>
        
        <div class="pages slider">

          <div class="page" style="display:block">

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="aliasAddOn">
                      <span class="glyphicon glyphicon-user"></span>
                    </p>
                    <input name="username" type="text" class="form-control input-lg" ng-model="registerModel.username" placeholder="Alias" aria-describedby="aliasAddOn">
                  </div>
                </div>
              </div>
            </div>   

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="birthDateAddOn">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </p>
                    <input name="dob" type="date" class="form-control input-lg" ng-model="registerModel.birthday" placeholder="Fecha de Nacimiento" aria-describedby="birthDateAddOn">
                  </div>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="genderAddOn">
                      <span class="glyphicon glyphicon-user"></span>
                    </p>
                    <select name="gender" type="text" class="form-control input-lg" ng-model="registerModel.gender" aria-describedby="genderAddOn">
                      <option label="Género" value="" disabled selected style="display:none"></option>
                      <option value="Male">Masculino</option>
                      <option value="Female">Femenino</option> 
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="countryAddOn">
                      <span class="glyphicon glyphicon-globe"></span>
                    </p>
                    <select name="country" type="text" class="form-control input-lg" ng-model="registerModel.country" aria-describedby="countryAddOn">
                      <option label="País" value="" disabled selected style="display:none"></option>
                      <option value="BL">Bolivia</option>
                      <option value="CL">Colombia</option> 
                      <option value="EC">Ecuador</option> 
                      <option value="MX">México</option> 
                      <option value="PR">Perú</option> 
                      <option value="UR">Uruguay</option> 
                      <option value="VZ">Venezuela</option> 
                    </select>
                  </div>
                </div>
              </div>
            </div>        

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="cityAddOn">
                      <span class="glyphicon glyphicon-map-marker"></span>
                    </p>
                    <input name="password" type="password" class="form-control input-lg" ng-model="registerModel.city" placeholder="Ciudad" aria-describedby="cityAddOn">
                  </div>
                </div>            
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="page-number">
                  <p class="text-center">
                    <span>1</span>
                    <span>/</span>
                    <span>2</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-lg btn-block">Continuar</button>
              </div>
              <div class="col-xs-12">
                <button type="button" class="btn btn-default btn-lg btn-block">Cancelar</button>
              </div>         
            </div>

          </div>   
                 
          <div class="page">

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="emailAddOn">
                      <span class="glyphicon glyphicon-envelope"></span>
                    </p>
                    <input name="useremail" type="email" class="form-control input-lg" ng-model="registerModel.email" placeholder="Correo" aria-describedby="emailAddOn" required>
                  </div>
                </div>
              </div>
            </div>   

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="accountPasswordAddOn">
                      <span class="glyphicon glyphicon-lock"></span>
                    </p>
                    <input name="password" type="password" class="form-control input-lg" ng-model="registerModel.password" placeholder="Contraseña" aria-describedby="accountPasswordAddOn">
                  </div>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="confirmPasswordAddOn">
                      <span class="glyphicon glyphicon-lock"></span>
                    </p>
                    <input name="passwordConfirmation" type="password" class="form-control input-lg" ng-model="registerModel.confirmPassword" placeholder="Repetir contraseña" aria-describedby="confirmPasswordAddOn">
                  </div>
                </div>
              </div>
            </div>             

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="securityQuestionAddOn">
                      <span class="glyphicon glyphicon-question-sign"></span>
                    </p>
                    <select name="securityQuestion" type="text" class="form-control input-lg" ng-model="registerModel.secretQuestion" aria-describedby="securityQuestionAddOn">
                      <option label="Pregunta de Seguridad" value="" disabled selected style="display:none"></option>
                      <option value="¿Dónde crecí?">¿Dónde crecí?</option>
                      <option value="Nombre de mi mejor amigo">Nombre de mi mejor amigo</option> 
                      <option value="Nombre de mi mascota">Nombre de mi mascota</option> 
                      <option value="Personaje favorito">Personaje favorito</option> 
                      <option value="Banda musical favorita">Banda musical favorita</option> 
                    </select>
                  </div>
                </div>
              </div>
            </div>       

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="securityAnswerAddOn">
                      <span class="glyphicon glyphicon-question-sign"></span>
                    </p>
                    <input name="securityQuestionAnswer" type="text" class="form-control input-lg" ng-model="registerModel.secretAnswer" placeholder="Respuesta de Seguridad" aria-describedby="securityAnswerAddOn">
                  </div>
                </div>            
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="page-number">
                  <p class="text-center">
                    <span>2</span>
                    <span>/</span>
                    <span>2</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button ng-click="register()" type="button" class="btn btn-primary btn-lg btn-block">Registrar</button>
              </div>
              <div class="col-xs-12">
                <button ng-click="cancel()" type="button" class="btn btn-default btn-lg btn-block">Cancelar</button>
              </div>         
            </div>

          </div>                  

        </div>        
      </section>
    
    </form>

  </article> 

  <!-- html -->
  <!-- scripts -->
</div>

