<div class="incluso-app public" ng-app>

  <article class="register">

    <div class="alert alert-warning" role="alert" ng-show="!registerModel.modelState.isValid && !isRegistered">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="icomoon icon-warning"></div>
            <p>¡Error! Verifica tus datos</p>
            <ul ng-repeat="msg in registerModel.modelState.errorMessages">
              <li>{{msg}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-success" role="alert" style="display:block" ng-show="isRegistered">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="icomoon icon-checked-clip"></div>
            <p>¡Te has registrado correctamente!</p> 
          </div>
        </div>
      </div>
    </div>

    <header class="container">
      <div class="row">
        <div class="col-xs-12">
          <figure>
            <img src="assets/images/img-logo-sm-white-gentera.png" alt="" class="login-logo">
            <figcaption class="center-block text-center">
              <span>Estudia | </span>
              <span>Trabaja | </span>
              <span>Emprende</span>
            </figcaption>
          </figure> 
        </div>
      </div>
    </header>

    <section>
      <form action="" class="register-form container-fluid" name="registerForm">
        <div class="row">
          <div class="col-xs-12">
            <h1>Datos de Registro</h1>
          </div>
        </div>
        <div class="pages">

          <div class="page" data-page="1" ng-class="currentPage === 1 ? 'active' : ''">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="aliasAddOn">
                      <span class="icomoon icon-profile"></span>
                    </p>
                    <input type="text" ng-model="registerModel.username" name="username" class="form-control form-control-lg" placeholder="Alias" aria-describedby="aliasAddOn" required>
                  </div>
                </div>
              </div>
            </div>   

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="birthDateAddOn">
                      <span class="icomoon icon-calendar"></span>
                    </p>
                    <input type="text" ng-model="registerModel.birthday" name="birthday" class="form-control form-control-lg" placeholder="Fecha de Nacimiento" aria-describedby="birthDateAddOn" minlength="10" maxlength="10" required>
                  </div>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="genderAddOn">
                      <span class="icomoon icon-dna"></span>                      
                    </p>
                    <select ng-model="registerModel.gender" name="gender" class="form-control form-control-lg" aria-describedby="genderAddOn">
                      <option label="Género" value="" disabled selected style="display:none"></option>
                      <option value="Male">Masculino</option>
                      <option value="Female">Femenino</option> 
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="countryAddOn">
                      <span class="icomoon icon-planet"></span>                        
                    </p>
                    <select ng-model="registerModel.country" name="country" class="form-control form-control-lg" aria-describedby="countryAddOn">
                      <option label="País" value="" disabled selected style="display:none"></option>
                      <option value="BO">Bolivia</option>
                      <option value="CO">Colombia</option> 
                      <option value="EC">Ecuador</option> 
                      <option value="ME">México</option> 
                      <option value="PE">Perú</option> 
                      <option value="UR">Uruguay</option> 
                      <option value="VE">Venezuela</option> 
                    </select>
                  </div>
                </div>
              </div>
            </div>        

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="cityAddOn">
                      <span class="icomoon icon-map"></span> 
                    </p>
                    <select ng-model="registerModel.city" name="city" class="form-control form-control-lg" aria-describedby="cityAddOn">
                      <option label="Ciudad" value="" disabled selected style="display:none"></option>
                      <option value="Bogotá">Bogotá</option>                       
                      <option value="Buenos Aires">Buenos Aires</option>
                      <option value="La Paz">La Paz</option> 
                      <option value="México D.F.">México D.F.</option> 
                      <option value="Monterrey">Monterrey</option> 
                      <option value="Montevideo">Montevideo</option> 
                      <option value="Rosario">Rosario</option> 
                    </select>                    
                  </div>
                </div>            
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="page-number">
                  <p class="text-center">
                    <span>1</span>
                    <span>/</span>
                    <span>2</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="navigateToPage(2)">Continuar</button>
              </div>
              <div class="col-xs-12">
                <button type="button" class="btn btn-default btn-transparent btn-lg btn-block" ng-click="login()">Cancelar</button>
              </div> 
            </div>          

          </div>   

          <div class="page" data-page="2" ng-class="currentPage === 2 ? 'active' : ''">

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="emailAddOn">
                      <span class="icomoon icon-envelope"></span>                      
                    </p>
                    <input type="email" ng-model="registerModel.email" name="email" class="form-control form-control-lg" placeholder="Correo" aria-describedby="emailAddOn" required>
                  </div>
                </div>
              </div>
            </div>   

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="accountPasswordAddOn">
                      <span class="icomoon icon-lock"></span>
                    </p>
                    <input type="password" ng-model="registerModel.password" name="password" class="form-control form-control-lg" placeholder="Contraseña" aria-describedby="accountPasswordAddOn" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W|_).{8,}" required>
                  </div>
                </div>
              </div>
            </div> 

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="confirmPasswordAddOn">
                      <span class="icomoon icon-lock"></span> 
                    </p>
                    <input type="password" ng-model="registerModel.confirmPassword" name="confirmPassword" class="form-control form-control-lg" placeholder="Repetir contraseña" aria-describedby="confirmPasswordAddOn" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W|_).{8,}" required>
                  </div>
                </div>
              </div>
            </div>             

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="securityQuestionAddOn">
                      <span class="icomoon icon-help"></span>
                    </p>
                    <select ng-model="registerModel.secretQuestion" name="securityQuestion" class="form-control form-control-lg" aria-describedby="securityQuestionAddOn">
                      <option label="Pregunta de Seguridad" value="" disabled selected style="display:none"></option>
                      <option value="¿Dónde crecí?">¿Dónde crecí?</option>
                      <option value="Nombre de mi mejor amigo">Nombre de mi mejor amigo</option> 
                      <option value="Nombre de mi mascota">Nombre de mi mascota</option> 
                      <option value="Personaje favorito">Personaje favorito</option> 
                      <option value="Banda musical favorita">Banda musical favorita</option> 
                    </select>
                  </div>
                </div>
              </div>
            </div>       

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <p class="input-group-addon" id="securityAnswerAddOn">
                      <span class="icomoon icon-help"></span>
                    </p>
                    <input type="text" ng-model="registerModel.secretAnswer" name="secretAnswer" class="form-control form-control-lg" placeholder="Respuesta de Seguridad" aria-describedby="securityAnswerAddOn" required>
                  </div>
                </div>            
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="termsAndConditions" ng-model="registerModel.termsAndConditions" /> <span>Acepto los términos y condiciones</span>
                  </label>
                </div>              
              </div>
            </div>            

            <div class="row">
              <div class="col-xs-12">
                <div class="page-number">
                  <p class="text-center">
                    <span>2</span>
                    <span>/</span>
                    <span>2</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12" ng-show="!isRegistered">
                <div class="button-group">
                  <button type="button" class="btn btn-primary btn-lg" ng-click="navigateToPage(1)">
                    <span class="icomoon icon-arrow-slim-left"></span>
                  </button>
                  <button type="button" ng-click="register()" class="btn btn-primary btn-lg">Registrar</button>
                </div>
              </div>
              <div class="col-xs-12" ng-show="!isRegistered">
                <button type="button" ng-click="login()" class="btn btn-default btn-transparent btn-lg btn-block">Cancelar</button>
              </div>  
              <div class="col-xs-12" ng-show="isRegistered">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="login()">Entrar</button>
              </div>       
            </div>          

          </div>                  
        </div> 
      </form>      
    </section>

  </article> 

</div>